[2015-01-15 10:05] innabelaya commented on #1241
input: inline examples corrected (https://github.com/bem/bem-components/pull/1244)

[2015-01-15 10:05] #1241 closed, assigned to nobody

[2015-01-15 11:43] tavriaforever opened #1248 "Add the ability to expand textarea control attrs"
In my case, I need to use `rows` html attr for block textarea. But now, a can`t expand attrs – https://github.com/bem/bem-components/blob/v2/common.blocks/textarea/__control/textarea__control.bemhtml#L6-L14

[2015-01-15 12:10] tadatuta commented on #1248
you can put needed code on your own level. E.g.:

[code]

[2015-01-15 12:10] #1248 closed, assigned to nobody

[2015-01-16 15:37] #1240 closed, assigned to hcodes

[2015-01-18 20:53] qfox opened #1261 "checkbox, radio: blur and focus"
Clicking on focused checkbox or radiobutton generates 2 events: blur + focus.

`bemjson.js`:

[code]

`browser.js`:

[code]

Expected nothing if control already focused.

Is this a bug? Feels like.

[2015-01-18 21:04] tadatuta opened #1262 "checkbox: Send off to server"
I propose to improve native `checkbox` behaviour and always send values to a server even if a checkbox is off (maybe as a separate modifier).

Can be implemented with the help of hidden input like this:

[code]

and

[code]

[2015-01-18 21:45] narqo commented on #1262
it would be very strange, to send any predefined constant values to the user's backed. Potentially it can break backend logic, as it's not very intuitive.

Any way, I think such things should be on the user-space side. Not in the library side. So :-1: for that, sorry

[2015-01-18 21:46] narqo commented on #1262
Oops, wrong button

[2015-01-18 23:06] tadatuta commented on #1262
@narqo we can go with modifier not to break anything

[2015-01-19 07:29] dfilatov commented on #1262
@tadatuta what's it for?

[2015-01-19 07:47] tadatuta commented on #1262
@dfilatov when you submit a form with switched off checkbox there's no way on schemaless backend to understand if you want to leave it's value unchanged or want to remove it as nothing is sent at all. also you can't differentiate unknown state from intentionally switched off.

[2015-01-19 07:49] dfilatov commented on #1262
If you need to differentiate state "no checked" from "unchecked by user" you should do it outside of this component.

[2015-01-19 09:32] #1262 closed, assigned to nobody

[2015-01-19 10:39] sipayRT opened #1263 "Button in IE8"
In IE8 we have some native behavior in pressed state:
![button-pressed](https://cloud.githubusercontent.com/assets/1658415/5799142/e9ed16a2-9fdf-11e4-9144-ff8f42fcb012.png)

We can fix it by resetting `background` and adding `border` and changing `line-height` css-property. Should we do it?

[2015-01-19 10:39] sipayRT commented on #1205
#1263

[2015-01-19 10:40] sipayRT commented on #1263
@mishanga

[2015-01-19 10:48] sipayRT opened #1264 "Radio in IE8"
Native radios in IE8 are more similar to our design:
native:
![radio-native](https://cloud.githubusercontent.com/assets/1658415/5799232/0c69b022-9fe1-11e4-85af-d71d5872fcd1.png)
islands in ie8:
![radio-custom](https://cloud.githubusercontent.com/assets/1658415/5799236/1c0caae8-9fe1-11e4-84be-3de72372e788.png)
islands in webkit:
![radio-webkit](https://cloud.githubusercontent.com/assets/1658415/579

[2015-01-19 10:48] sipayRT commented on #1264
@mishanga

[2015-01-19 10:48] sipayRT commented on #1205
#1264

[2015-01-19 10:56] sipayRT opened #1265 "es5-shim for IE8"
What type of adding this library you prefer?
1. CDN with conditional comments on desktop(or test)-level?
2. bower.json + deps?
Or you can offer your own version

my vote for first option

[2015-01-19 10:56] sipayRT commented on #1205
#1265

[2015-01-19 21:03] qfox commented on #328
@narqo The logic here could be in data object with the current and previous values. Or filled string and empty string (as opposite) for `checkbox`.

@tadatuta Are you sure that checkbox emits `'change'` event? I don't feel it atm.

[2015-01-19 21:35] tadatuta commented on #328
@zxqfox it's not [anymore](https://github.com/bem/bem-components/commit/f556ccbe5fab5172cbbbb6dada8b118f150f8237#diff-9f0eb74d96423c7c0569aa3b1610be33L17), now you are to bind to `_checked` modifier for it

[2015-01-19 21:36] #328 closed, assigned to nobody

[2015-01-19 23:05] qfox commented on #328
@tadatuta That's not funny thing. But thanks for a link.

[2015-01-20 14:51] hcodes commented on #1136
The documentation contains inline examples.
Tests are not needed only for Gemini.

[2015-01-20 15:59] sipayRT commented on #1263
We need more bugs! In ie we can't use `textMaxWidth` because button will collapse to the width of the text as if it was not set to be clipped:
![max-width](https://cloud.githubusercontent.com/assets/1658415/5820496/468fea1e-a0d6-11e4-83be-877466c8e57d.png)
I offer to disable this option in ie8 by `max-width: none !important;` for `__text`

[2015-01-20 19:09] dfilatov commented on #1263
To my mind we could get rid of this option at all. It was made up when we had no _width_available modifier.

[2015-01-21 07:32] sipayRT commented on #1263
But we don't have such modifier for button. And `_width_available` and `textMaxWidth` are not the same.  `_width_available` modifier add the ability to fit all available width, but `textMaxWidth` defines maximum width of button (but button can be narrowed)

[2015-01-21 07:51] sipayRT opened #1266 "button: Add documentation about textMaxWidth"

[2015-01-21 07:52] dfilatov commented on #1266
I propose to get rid of this option.

[2015-01-21 07:55] sipayRT commented on #1266
I don't mind, but we need more votes :)

[2015-01-21 11:26] dfilatov commented on #1263
Yes, they aren't the same. But `textMaxWidth` was introduced to make work `select` and afterwards we found better solution with `maxWidth` in css and `_width_available` modifier.

[2015-01-21 11:32] qfox commented on #1263
+1 to drop that.

[2015-01-21 12:18] tadatuta commented on #1263
+1 to @dfilatov

[2015-01-21 13:40] hcodes commented on #1188
Fixes #1267

[2015-01-21 14:24] sipayRT opened #1268 "button: remove textMaxWidth"

[2015-01-21 18:17] narqo commented on #1265
I don't think that you want to write all this deps for `ecma` elements for each test-bundle. So CDN should be the case

[2015-01-21 18:22] narqo opened #1270 "select: Strange examples in block documentation"
1) [The example for `optionsMaxHeight`](http://ru.bem.info/libs/bem-components/v2/desktop/select/docs/#Поле-`optionsMaxHeight`) from field's description is really show nothing about what this field is about.

I think we can something like [this one](http://ru.bem.info/__example/bem-components/v2/desktop.examples/select/yWP0yGereV7Fl4LXt6oGfSJuueM/yWP0yGereV7Fl4LXt6oGfSJuueM.html) to illustrate wha

[2015-01-21 18:33] narqo opened #1271 "button: Add documentation about _width_available"
It seems, that [current documentation](https://github.com/bem/bem-components/blob/2fcd618f54f58c5e06510eb11bda82859673c20f/common.blocks/button/button.ru.md#%D0%9C%D0%BE%D0%B4%D0%B8%D1%84%D0%B8%D0%BA%D0%B0%D1%82%D0%BE%D1%80%D1%8B-%D0%B1%D0%BB%D0%BE%D0%BA%D0%B0) of the `button`, lacks `_width_available` description.

[2015-01-22 07:55] sipayRT commented on #1271
but we haven't such modifier in button.

[2015-01-22 10:19] #898 closed, assigned to mishanga

[2015-01-22 10:44] sipayRT commented on #1263
https://github.com/bem/bem-components/pull/1269

[2015-01-22 10:44] sipayRT commented on #1266
https://github.com/bem/bem-components/pull/1269

[2015-01-22 10:44] #1266 closed, assigned to innabelaya

[2015-01-22 11:28] sipayRT opened #1272 "select: Add documentation about onKeyPress event"
We haven't any information about possibility to choose item by typing his name

[2015-01-22 12:45] hcodes commented on #1205
popup #1273

[2015-01-23 08:44] sipayRT commented on #1264
ping! somebody saw this issue?

[2015-01-23 09:16] tadatuta commented on #1264
my vote is for native implementation

[2015-01-23 09:22] blond commented on #1264
+1 for native

[2015-01-23 10:10] mishanga commented on #1264
Нативные — это круто, конечно, но для фолбека придется городить костыли в коде для основных браузеров. А мы договаривались, что фолбек будем делать в отдельных ie8.css файлах.

[2015-01-23 10:41] sipayRT commented on #1264
А почему мы не можем просто в ie8.css отменить все стили? Что-то типа

[code]

должно убить все стили, оставив нативные контролы (но не для `_type_button`)

[2015-01-23 11:16] mishanga commented on #1264
А в других блоках как быть? Надо придумать консистентное решение.

[2015-01-23 11:19] sipayRT commented on #1264
Да, что делать с другими блоками пока не понятно. Тогда можно сейчас оставить кастомную реализацию, а когда будут готовы все блоки под ИЕ - открыть в ИЕ общую страницу с контролами и уже толпой подумать как сделать лучше. Тогда пока оставляю нашу реализацию - оторвать всегда успеем

[2015-01-23 11:30] sipayRT opened #1275 "select: Remove textMaxWidth from documentation"
See https://github.com/bem/bem-components/pull/1269

[2015-01-23 11:53] sipayRT commented on #1265
tnx!

[2015-01-23 11:53] #1265 closed, assigned to nobody

[2015-01-23 11:54] sipayRT commented on #1205
button - https://github.com/bem/bem-components/pull/1274
radio - https://github.com/bem/bem-components/pull/1276

[2015-01-23 12:21] Guria opened #1277 "copy/paste issue in checkbox_type_button.spec.js"
https://github.com/bem/bem-components/blob/v2/common.blocks/checkbox/_type/checkbox_type_button.spec.js#L50
replace  disabled with focused

[2015-01-23 12:35] #1277 closed, assigned to nobody

[2015-01-26 11:12] hcodes commented on #1205
spin #1280

[2015-01-26 13:29] dfilatov opened #1281 "menu-item_type_link: stretch inner link"

[2015-01-26 15:38] tadatuta opened #1283 "Update bem-core version"

[2015-01-26 15:59] sipayRT opened #1285 "attach: unit-tests failed"
Ability to extract extensions was deleted in https://github.com/bem/bem-components/commit/6aa821711260c4ecc03c88cc5dc4c6e7204e2035

[2015-01-26 16:00] tadatuta opened #1286 "BH: Do we really need module.exports wrapper"
@mishanga Do we really need `module.exports` wrapper for each BH template?
We don't have it for BEMHTML templates. Is there real profit or we can just wrap concatenated templates as one of build steps?

[2015-01-26 16:06] #1268 closed, assigned to nobody

[2015-01-26 16:10] sipayRT opened #1288 "select: unit-tests failed"
![select](https://cloud.githubusercontent.com/assets/1658415/5902842/f91df3bc-a58e-11e4-9706-6b3b7ec812bc.png)

[2015-01-26 16:12] hcodes commented on #1205
input #1289

[2015-01-26 16:19] #1285 closed, assigned to nobody

[2015-01-26 17:37] sipayRT commented on #1288
Sorry, can't reproduce

[2015-01-26 17:37] #1288 closed, assigned to nobody

[2015-01-26 17:38] sipayRT opened #1291 "checkbox-group: fix inline examples"

[2015-01-26 19:46] #1291 closed, assigned to nobody

[2015-01-26 19:48] tadatuta opened #1293 "Update build infrastructure"
1. Update npm deps
2. Review build config

[2015-01-26 19:51] qfox commented on #1286
For now you can use BH-files as node.js (read CommonJS) modules. If you strip these line you couldn't use them as modules.

So for now you can use a bunch of `require('bh-file')(bhInstance)` lines. So you don't need to read each file, concatenate, etc. And it's much faster for dev-env.

[2015-01-26 19:53] tadatuta commented on #1286
`require()` caches the source so you need to drop and "rerequire" again (which is actually happing now) so that's not so good as it seems

[2015-01-26 19:57] qfox commented on #1286
So you want to say if we can switch `require` with `readFileSync()` or something then we should load them all each time and it is almost the same? Agreed.

[2015-01-26 20:19] #1085 closed, assigned to tadatuta

[2015-01-26 22:34] tadatuta opened #1294 "Add examples of popup, modal and z-index"
- [x] modal
- [ ] popup
- [ ] z-index

[2015-01-26 23:24] innabelaya commented on #1275
https://github.com/bem/bem-components/pull/1295

[2015-01-26 23:25] innabelaya commented on #1272
Added to select and menu https://github.com/bem/bem-components/pull/1295

[2015-01-26 23:25] innabelaya commented on #1270
Done, except the last one https://github.com/bem/bem-components/pull/1295

[2015-01-27 11:46] tadatuta opened #1297 "Make sure dist config is ok"
We need to release version with bundled version as well

[2015-01-27 12:45] narqo commented on #1271
My bad, sorry. I've mixed up it with `input`.

[2015-01-27 12:45] #1271 closed, assigned to innabelaya

[2015-01-27 14:22] #1188 closed, assigned to hcodes

[2015-01-27 15:32] hcodes commented on #1205
textarea #1298

[2015-01-28 06:24] #1283 closed, assigned to tadatuta

[2015-01-28 09:24] #1275 closed, assigned to innabelaya

[2015-01-28 09:25] #1272 closed, assigned to nobody

[2015-01-28 09:25] #1270 closed, assigned to innabelaya

[2015-01-28 09:46] sipayRT commented on #1293
@andrewblond ping

[2015-01-28 11:45] sipayRT opened #1301 "input: remove unused files"

[2015-01-28 12:42] #1301 closed, assigned to nobody

[2015-01-28 14:42] sipayRT commented on #1297
checked with #1299

[2015-01-28 14:42] #1297 closed, assigned to sipayRT

[2015-01-28 18:04] #1293 closed, assigned to blond

[2015-01-28 18:59] #1281 closed, assigned to mishanga

[2015-01-28 20:14] #1294 closed, assigned to nobody

[2015-01-29 10:13] hcodes opened #1308 "Align badges in docs"

[2015-01-29 10:39] blond commented on #1308
Use [shields.io](http://shields.io/) for badges.

[2015-01-29 11:16] hcodes commented on #1308
Fixes #1309

[2015-01-30 08:10] veged opened #1311 "Ability for custom dist build of library"
We can have a marketing site with ability to bundle custom selection of blocks to dist.

[2015-01-30 11:01] hcodes commented on #1205
Main PR #1313

[2015-01-30 14:45] awinogradov opened #1315 "Don't overrides menu and menu-item blocks"
Если попытаться прокинуть свои параметры в этих блоках ничего не выйдет. Тянуться только из библиотеки.

[2015-01-30 14:47] tadatuta commented on #1315
@verybigman ты про https://github.com/bem/bem-components/issues/1248 ?

[2015-01-30 14:54] awinogradov commented on #1315
Похоже только там в def прокидывается тема и дизайблед в _menuMods через applyNext(). А мне надо еще туда свои. Я про https://github.com/bem/bem-components/blob/v2/common.blocks/menu-item/menu-item.bemhtml#L6-L11

[2015-01-30 15:37] gela-d opened #1316 "Add bemhtml-template to popup examples"
Here https://github.com/bem/bem-components/tree/v2/common.blocks/popup/popup.examples/20-popup.blocks/directions we need bemhtml-template too

[2015-01-30 15:44] tadatuta commented on #1315
@verybigman
Напиши, пожалуйста, какие именно поля тебе необходимо пробрасывать.

На данный момент мейнтейнеры bem-core/bem-components сформулировали такой принцип добавления новых параметров: если что-то нужно критическому количеству пользователей — параметр попадает в библиотеку, а до тех пор каждый добавляет свои кастомные штуки на своем уровне переопределения.

Возможность пробрасывать произвол

[2015-01-30 15:46] tadatuta commented on #1316
@gela-d @andrewblond @tormozz48 guys, let's switch to BH-only — it'll make build process faster. but if it's not easy to implement I agree to add BEMHTML templates as hotfix

[2015-01-30 15:49] voischev opened #1318 "textarea: default use width_available modifier"
Очень хочется использовать этот модификатор без темы `islands`.
*Кстати в документации не написано что он только для темы `islands` ;) или я  ослеп *

Сейчас в теме вот такой код

[code]

Cтранно. В теме блок сделан inline-block, а контрол с width: 100%;. По этому нам достаточно сказать блоку width: 100%;

А в дефолтной реализации блок получается `DIV` тоесть тянется на всю длинну. а контролл inli

[2015-01-30 15:53] #1316 closed, assigned to gela-d

[2015-01-30 15:55] gela-d commented on #1316
@tadatuta Sure, but for our buildings - it's a feature. And now I want to fix building of this example

[2015-01-30 17:14] awinogradov commented on #1315
Мне на моем и надо добавить. Но шаблон с моего уровня не добавляет
параметров по каким-то причинам. Я в def добавляю свои модификаторы, но
чето никак. Позже кину код.
Пт, 30 янв. 2015 г. в 18:44, Vladimir Grinenko notifications@github.com:

[2015-01-30 21:24] narqo opened #1319 "Inaccurate usage of Array.prototype.splice throw the library internals"
We have cases where `Array.prototype.splice` usage is not 100% accurate. E.g. `visiblePopupsStack.splice(visiblePopupsStack.indexOf(this), 1);`

In the example above, the last element of `visiblePopupsStack` would be dropped, if `this` instance isn't in the collection.

[code]

[2015-01-30 21:38] dfilatov commented on #1319
But there's no case when `visiblePopupsStack.indexOf(this) === -1`

[2015-01-31 05:36] qfox opened #1320 "menu: crash on block without content (?)"
I have bemjson

[code]

It doesn't even be rendered and fails with some dirty error in compiled file ;-(

[code]

Can we do something with this while we can't build source maps and resolve real filename and real string?

[2015-01-31 05:47] qfox opened #1321 "menu-item: size modifier examples at bem.info"
If there is no difference what I paying for?

https://bem.info/libs/bem-components/v2.0.0/desktop/menu-item/docs/#size-modifier-8

![image](https://cloud.githubusercontent.com/assets/677518/5986998/c2057eaa-a925-11e4-8ef1-ff57f461d642.png)

[2015-01-31 07:27] tadatuta commented on #1320
@zxqfox I know that's a pain but you may build templates in dev mode and find the very line

[2015-01-31 07:35] tadatuta commented on #1321
cc @innabelaya

[2015-01-31 07:51] qfox commented on #1320
@tadatuta I think we should notice in docs that `menu` supports ONLY objects with `content` field: https://github.com/bem/bem-components/blob/v2/common.blocks/menu/menu.bemhtml#L18 Or just fix that ;-)

[2015-01-31 10:53] awinogradov commented on #1315
Сделал пример блоков тут https://github.com/verybigman/test-case/tree/master/common.blocks
Совершенно точно, что-то я делаю не так:)

[2015-01-31 10:58] tadatuta opened #1322 "dist: desktop.browser+bemhtml.js has no BEMHTML templates"

[2015-01-31 11:16] Guria commented on #1315
https://github.com/verybigman/test-case/blob/master/common.blocks/menu/menu.bemhtml#L5
Опечатка

[2015-01-31 13:12] awinogradov commented on #1315
Это ничего не меняет. Пофиксил. Это последствия переноса:)

[2015-01-31 15:19] tadatuta commented on #1315
@verybigman потому что [вот здесь](https://github.com/bem/bem-components/blob/v2/common.blocks/menu/menu.bemhtml#L37-L42) твои данные в `_menuMods` перетираются. и подчеркивание в имени поля как раз и придумано, чтобы намекнуть «не используй меня, я приватная штука».
чтобы у тебя все стало хорошо, просто придумай свое собственное поле для проброса модификаторов

[2015-01-31 15:19] #1315 closed, assigned to nobody

[2015-01-31 15:50] awinogradov commented on #1315
@tadatuta спасибо!

[2015-01-31 18:06] qfox commented on #1321
It looks like there are no styles for `.menu-item_size_l`. Probably `deps` or something.

[2015-01-31 19:07] tadatuta commented on #1321
nope, there's just no such modifier for `menu-item` at all

[2015-02-01 04:19] qfox opened #1323 "select_theme_islands: a lot of options getting out on popup show"
Transition of popup moves out of viewport and forces browser to show scrollbars and reflow. Because of that popup position is slightly shifted to left. (img1) And when transition is done bottom part of popup is showed and moved the scrollbars are disappeared. (img2)

![image](https://cloud.githubusercontent.com/assets/677518/5990994/8fc73e12-a9e1-11e4-8dff-174ebe26f945.png)

![image](https://cloud

[2015-02-01 08:23] innabelaya commented on #1318
@voischev не ослеп ;) Использование темы обязательное, а так как сейчас тема у нас одна, то, считай, все модификаторы «только для темы `islands`». Как появится еще одна тема, будут добавляться заметки на полях – что и для какой темы.

[2015-02-01 09:15] voischev commented on #1318
@innabelaya :) ясно. Но давайте рассмотрим возможность использования этого модификатора вне любой темы, кажется может быть удобно.

[2015-02-01 11:12] tadatuta opened #1324 "JSDoc: build all entities"
Now in `bem-components` just one (random?) modifier is present in JSDoc.

E.g. http://ru.bem.info/libs/bem-components/v2.0.0/desktop/button/jsdoc/

// cc @andrewblond

[2015-02-02 08:57] #1308 closed, assigned to nobody

[2015-02-02 14:23] hcodes commented on #1205
/cc @mishanga
Need review.

[2015-02-02 15:20] blond commented on #1322
Now dependencies of blocks not have tech section for `js`. Need add BEMHTML dependencies for js techs.

Example for `button.deps.js`:

[code]

[2015-02-03 07:38] mishanga commented on #1205
Во всех bemjson нужно заменить ie8.css на ie.css (и styl-файлы соответственно) и 'IE 8' на 'lt IE 9'.

[2015-02-03 07:41] sipayRT commented on #1205
Я думаю, что это можно будет сделать уже в ветке 1205, когда сольем все PR'ы в одну ветку. Там же тогда нужно будет и конфиг подправить

[2015-02-03 12:52] qfox commented on #1322
Don't forget to update docs plox.

[2015-02-03 19:51] qfox commented on #1136
@hcodes Do you want to finish this? I saw a PR ;-)

[2015-02-03 20:11] tadatuta commented on #1311
JFYI, the very basic prototype http://188.226.152.208:9000/ + list of obvious tasks to do https://github.com/tadatuta/bem-dist-server/issues/1

[2015-02-03 21:08] qfox commented on #1311
That's a great thing guys! Finally we have our own dist builder prototype.

@tadatuta Thanks for you work here!

[2015-02-03 21:53] qfox opened #1328 "input + progressbar.pause: trouble on showcase"
http://bem.github.io/reports/3883/showcase/showcase.html

How to repeat:
- Pressing pause twice (starting and stopping progress)
- Removing text manually (cross still here? ouch)
- Pressing input_clear (cross) in input
- Type something in input (no cross? you are looser bro ;-) _visible mod is absent)
- And after some time (or clicks between tabs) it starts working again

Expected:
That cross shou

[2015-02-04 07:50] tadatuta opened #1330 "textarea: Resize is broken"

[2015-02-04 08:09] qfox opened #1331 "Put/update links to showcase and reports in PR on each build"
Based on https://github.com/bem/bem-components/pull/1329

Instead of adding new comments for each action we should:
- Read current PR from GH API;
- Check for special html comment with links in it;
- Carefully clean up it (left links with current build number only);
- And update PR finally.

Feels like it's easier to make with node.js or python.

If I'm not wrong: also would be great to move all t

[2015-02-04 11:15] hcodes commented on #1328
Fixes #1332

[2015-02-04 14:31] sipayRT opened #1333 "dist: create bundle for tests"
Add to this page all variants of blocks and apply them by `BEMHTML.apply()`

[2015-02-04 14:32] sipayRT commented on #1333
https://github.com/bem/bem-components/issues/1322

[2015-02-04 15:12] gela-d opened #1334 "textarea: Style does not resizing"
If we have `textarea_width_avaliable` and try to drag corner of textarea control, our text would be moving, but control border will be still stay
![1](https://cloud.githubusercontent.com/assets/1333220/6042887/64e5368a-ac99-11e4-9977-779e1b048f81.png)

[2015-02-04 15:32] hcodes commented on #1320
/cc @innabelaya
Лучше добавить в документацию.
https://github.com/bem/bem-components/blob/v2/common.blocks/menu/menu.en.md#custom-fields-of-the-block
`content` `Array` The array of the menu items.

https://github.com/bem/bem-components/blob/v2/common.blocks/menu/menu.ru.md#custom-fields-of-the-block
`content` `Array` Массив пунктов меню.

[2015-02-04 17:02] qfox commented on #1320
@hcodes у нас часто видно assertы ругаются. В случае меню с элементами — может тоже добавим?

[2015-02-05 07:27] sipayRT commented on #1334
https://github.com/bem/bem-components/issues/1330

[2015-02-05 09:43] hcodes commented on #1334
Duplicate

[2015-02-05 09:43] #1334 closed, assigned to hcodes

[2015-02-05 10:30] #1328 closed, assigned to hcodes

[2015-02-05 10:53] hcodes commented on #1320
Хорошо, добавлю.

[2015-02-05 11:24] hcodes commented on #1320
Fixes #1335

[2015-02-05 12:44] qfox commented on #1328
@hcodes Thanks!

[2015-02-05 12:50] innabelaya commented on #1320
@hcodes добавила описание #1336

[2015-02-05 13:18] hcodes opened #1337 "select: fails spec "should keep focused and focused-hard state on popup click""

[2015-02-05 13:18] hcodes commented on #1337
/cc @narqo

[2015-02-05 13:45] hcodes opened #1339 "Replace this.isArray -> Array.isArray in bemhtml"

[2015-02-05 13:51] dfilatov commented on #1339
for what?

[2015-02-05 13:58] hcodes commented on #1339
https://github.com/bem/bem-components/search?utf8=%E2%9C%93&q=Array.isArray

[2015-02-05 14:02] hcodes commented on #1339
/сс @narqo

[2015-02-05 14:15] hcodes commented on #1339
В bemhtml this.isArray есть.
В bh ctx.isArray нет.

[2015-02-05 14:16] dfilatov commented on #1339
Я не понимаю зачем вообще использовать что-то кроме `Array.isArray`

[2015-02-05 14:30] hcodes commented on #1339
В bh Array.isArray, в bemhtml this.isArray.
То же не понимаю почему нужно писать this.isArray в bemhtml?

[2015-02-05 14:32] qfox commented on #1339
Как минимум, IE8, поддержка которого еще есть, не умеет Array.isArray

[2015-02-05 14:33] dfilatov commented on #1339
для IE8 нужно использовать соответствующий полифил

[2015-02-05 14:34] qfox commented on #1339
@dfilatov Пошто вы меня заставляете это делать? ;)

[2015-02-05 14:36] dfilatov commented on #1339
любители и те, кто поддерживают IE8 должны страдать по определению )

[2015-02-05 14:36] hcodes commented on #1339
А те кому нужна поддержка IE8 подключают es5-shim.

[2015-02-05 14:38] qfox commented on #1339
Жестоко ;-). Еще есть кейс, который усложняет использование шаблонов as is на других платформах. Например, все шаблоны bh из bem-core/components можно было бы автоматически конвертировать в bh-php, если бы был хелпер isArray и еще кой-что.

[2015-02-05 14:39] qfox commented on #1339
@hcodes Тут вопрос не в том, что должны. А в том, что заявляется библиотекой. Если в библиотеке написано, что IE8 — ок, то получается, что надо либо shim включать, либо делать так, чтобы без него работало. Не прав?

[2015-02-05 14:40] dfilatov commented on #1339
В библиотеке должно написано что IE8 поддерживается при наличии соответствующих полифилов.

[2015-02-05 14:44] qfox commented on #1339
@dfilatov Ну сейчас там IE10+ ;-) Но, видимо, будет написано. ок.

[2015-02-05 14:52] hcodes commented on #1339
@dfilatov Меняем `this.isArray` на `Array.isArray` в bemhtml  шаблонах?

[2015-02-05 14:53] qfox commented on #1339
@hcodes Тогда и хелпер не нужен, его надо выпиливать из док (https://ru.bem.info/technology/bemhtml/v2/templating/#Контекстно-независимые-поля), и депрекейтить до следующего мажорного релиза.

Думаю, это надо обсуждать.

[2015-02-05 19:59] voischev commented on #1339
:+1:

[2015-02-06 07:31] dfilatov commented on #1339
@hcodes Мое мнение — да, заменить

[2015-02-09 15:21] deeonis commented on #1223
@mishanga @dfilatov designers recommend to do like in `button_focused`: 2px solid #fc0

[2015-02-09 15:22] dfilatov commented on #1223
`2px` of what? border?

[2015-02-09 21:01] blond opened #1345 "Refact ENB config"
- [ ] Add config
- [ ] Add helper for page configure (#1421)
- [x] Add helper for ENB techs (#1420)
- [ ] Move tasks into separate configs (#1419)
- [ ] Move dist into separate config (#1418)
- [x] Use autoprefixer with `enb-stylus/css-stylus-with-autoprefixer` tech (#1417)
- [x] Use `borschik` for js (#1416)
- [ ] Should not add template engines to target with browser JavaScript (#1429)

[2015-02-10 07:25] Guria opened #1346 "input: doesn't support list attribute"
list attribute for input element doesn't supported.
http://www.w3schools.com/tags/tag_datalist.asp

[2015-02-10 10:42] hcodes commented on #1339
Fixed #1347

[2015-02-10 11:08] mishanga commented on #1286
Упс, не увидел этот тредик.
Да, я за удаление из шаблонов этих оберток.
Тогда не придется вырезать при сборке эти обертки: https://github.com/enb-bem/enb-bh/blob/master/lib/bh-client-processor.js#L11

[2015-02-10 11:11] shuhrat commented on #1286
+1

[2015-02-10 13:14] qfox commented on #1345
`v2` only?

[2015-02-10 13:14] qfox commented on #1346
You can make it possible on your level.

[2015-02-10 13:59] narqo commented on #1286
:+1:

[2015-02-10 14:48] #1339 closed, assigned to nobody

[2015-02-10 14:52] tadatuta commented on #1345
@zxqfox yes, there's no `v3` yet ;)

[2015-02-10 20:14] tadatuta commented on #1286
it looks like major change so we can't release it until v3.0.0?

[2015-02-10 21:57] tadatuta commented on #1346
we need some way to collect such requests
// cc @veged @hcodes

[2015-02-10 21:58] qfox commented on #1346
@tadatuta Make a Label for that ;-)

[2015-02-11 00:03] qfox commented on #1345
@tadatuta _oopsie_ We should make it asap! ;-)

What you think about making enb config as close as possible to build flow?

**upd**
Also I feel like enb-tech libraries (or new modular system tech libraries) should make a manifest or something-like with information about techs they contains. It makes possible to have a registry with all available techs, their functionality, their configs, etc.
As w

[2015-02-11 06:53] mishanga commented on #1286
yep

[2015-02-11 08:36] #1320 closed, assigned to hcodes

[2015-02-11 11:29] qfox commented on #1331
@deeonis thanks.

[2015-02-11 11:37] #1319 closed, assigned to nobody

[2015-02-11 11:43] #1263 closed, assigned to nobody

[2015-02-11 11:44] #1264 closed, assigned to nobody

[2015-02-11 11:45] qfox commented on #1319
@narqo Can we make a comment for that line for future questions?

[2015-02-11 11:47] qfox commented on #1264
Squares is so cute.

[2015-02-11 11:50] deeonis commented on #1261
cc @veged @narqo

[2015-02-11 11:53] deeonis commented on #1223
will reassign back when i'll get final design

[2015-02-11 11:58] deeonis commented on #1209
cc @hcodes

@hcodes will find out do we need it for a11y

[2015-02-11 13:18] #1220 closed, assigned to tadatuta

[2015-02-11 14:17] dfilatov commented on #1261
It's not a bug. It completely corresponds to the browser behaviour.

[2015-02-11 14:17] #1261 closed, assigned to dfilatov

[2015-02-11 14:18] narqo commented on #1319
Yes, we can ;)

[2015-02-12 13:19] Guria opened #1351 "`icon` block has redundant deps from `i-bem`"
`icon` block has deps from `i-bem` but has not any js technology.
https://github.com/bem/bem-components/blob/v2/common.blocks/icon/icon.deps.js#L2

[code]

Is it really neccessary or just mistake?

[2015-02-12 13:46] tadatuta commented on #1351
@Guria `icon` has BEMHTML templates so it requires `i-bem.bemhtml` to work properly.

[2015-02-12 13:46] #1351 closed, assigned to nobody

[2015-02-12 13:48] qfox commented on #1351
@tadatuta So I don't need i-bem if I using bh.js ?

[2015-02-12 13:49] Guria commented on #1351
I had same question.

[2015-02-12 13:54] tadatuta commented on #1351
@Guria @zxqfox yes, you don't. one day we'll fix it with the help of depsByTech but actually there's no much sense for it as anyways there are always other blocks using `i-bem`.

[2015-02-12 13:57] qfox commented on #1351
Got it, thanks ;-)

[2015-02-12 14:38] Guria opened #1352 "icon: Move out styles to design level under some mod"
Default styles in `icon` block assumes positioning on baseline case only. It uses some sort of hack and magic number and moreover require setting proper line-height value (not described in documentation) in case of using `img` or `svg` tag inside.
This styles affects unpredictable when trying to achieve another way to position icon element, eg using flexbox (which will override `display: inline-bl

[2015-02-12 14:42] tadatuta commented on #1352
cc @mishanga

[2015-02-12 19:25] Guria opened #1353 "menu-item_type_link: proxy disabled state to inner link"
bemjson

[code]

renders to:

[code]

link control of menu item stays without disabled mod. It is focusable and active until deleting and setting back mod `disabled` of `menu` block

[2015-02-12 19:48] Guria opened #1354 "menu-item: check icon displays under `menu-item` mod checked true without parent `menu` block"
`menu-item` block supposed to be used inside `menu` block, but snippets in documentation provided without parent `menu` block.  Therefore, snippet used to demonstrate `menu-item_checked` in documentation looks broken:
![screenshot](https://api.monosnap.com/rpc/file/download?id=Y0rpspYDB43C8gyiDkRemokMq2SwwP)

[2015-02-12 19:55] tadatuta commented on #1354
cc @innabelaya

[2015-02-13 10:25] mishanga commented on #1352
Блок icon специально адаптирован для использования внутри других блоков и выравнивания по baseline. Если нужна какая-то другая функциональность, проще создать новый блок `my-icon` и использовать его.
UPD: добавлю, что это выравнивание не зависит от дизайна, поэтому и лежит в common.blocks, а не в папке design.

[2015-02-13 11:01] innabelaya commented on #1354
Should I remove the description of the "checked", "theme" and "size" modifiers for the `menu-item` block? It inherits all these modifier values from the `menu` block.

[2015-02-13 11:20] #1352 closed, assigned to mishanga

[2015-02-13 11:27] sipayRT commented on #1205
main PR https://github.com/bem/bem-components/pull/1313

[2015-02-13 11:33] mishanga commented on #1200
Давайте просто заменим симлинки на инклуды.

[2015-02-13 11:36] #1082 closed, assigned to tadatuta

[2015-02-13 11:36] #1083 closed, assigned to tadatuta

[2015-02-13 11:36] #1084 closed, assigned to tadatuta

[2015-02-13 11:38] veged commented on #1190
we need the same in other controls

[2015-02-13 11:50] deeonis commented on #1171
This bug is too minor and reproduce only in few browsers. Won't fix.

[2015-02-13 11:50] #1171 closed, assigned to sipayRT

[2015-02-13 12:00] deeonis commented on #1168
we need it only for tests, from examples and docs was already removed

[2015-02-13 12:00] #1168 closed, assigned to nobody

[2015-02-13 13:27] tadatuta commented on #1354
@innabelaya yes, looks like so

[2015-02-13 15:39] qfox commented on #1190
@veged I'm looking at code base, and radio/checkbox and their groups are the last controls without tabIndex. Can you clarify what you mean?

[2015-02-14 20:21] #1354 closed, assigned to innabelaya

[2015-02-16 07:40] #1353 closed, assigned to sipayRT

[2015-02-16 11:25] tadatuta commented on #1346
@Guria We agreed not to implement support for attributes without full browser support and/or wide usage. Otherwise we can't guarantee compatibility.
So you are to add it on your own level with the help of templates. E.g.:

[code]

[2015-02-16 11:25] #1346 closed, assigned to tadatuta

[2015-02-16 13:53] tadatuta opened #1362 "travis: Check images on PRs"
We can check if images are well optimised with the help of https://github.com/eGavr/image-optim on each PR with `*.png` diff on travis.

[2015-02-17 13:23] hcodes opened #1365 "Update deps in package.json"

[2015-02-17 14:37] #1337 closed, assigned to hcodes

[2015-02-17 14:42] veged commented on #1126
agree with @narqo that portability should not affect code such much — if needed it can be done only in BH.php templates

[2015-02-17 14:42] #1126 closed, assigned to qfox

[2015-02-17 14:44] veged commented on #1118
всё будет перенесено в https://github.com/bem-incubator

[2015-02-17 14:44] #1118 closed, assigned to aristov

[2015-02-17 14:51] veged commented on #1087
let's delay this question until 1) we have seriously need in such "bullet-proof" and 2) death of IE8

[2015-02-17 14:51] #1087 closed, assigned to nobody

[2015-02-17 15:00] veged commented on #1073
need more real life examples

[2015-02-17 15:05] #1064 closed, assigned to hcodes

[2015-02-17 15:10] veged commented on #1061
`size=N` невозможен из-за того, что айтемы могут быть разной высоты — поэтому предполагается использование явного задания высоты + скролл

как и написал @narqo аналогичную `select[size=N, multiply]` функциональность можно получить с помощью https://ru.bem.info/libs/bem-components/v2.0.0/desktop/menu/docs/#Меню-с-множественным-выбором-модификатор-mode-в-значении-check

[2015-02-17 15:10] #1061 closed, assigned to nobody

[2015-02-17 15:12] veged commented on #1060
пока нет возможности добавить IE10-11 и Android, а IE9 с маленькой долей и не сильно нужен

ждём поддержки большего количества браузеров в Gemini

[2015-02-17 15:12] #1060 closed, assigned to hcodes

[2015-02-17 15:14] veged commented on #1053
we need it for #1208

[2015-02-17 15:14] #1043 closed, assigned to nobody

[2015-02-17 15:16] veged commented on #1026
agree with @aristov for move such block to bem-core

[2015-02-17 15:21] veged commented on #1006
new PR: #1216

[2015-02-17 15:23] veged commented on #1006
@zxqfox nothing special — your PR looks like what we need

[2015-02-17 15:26] veged commented on #982
right now we can't do this because of possibility to add bundles to runtime and necessity to build such bundles (see more discussion in #337)

[2015-02-17 15:27] #962 closed, assigned to nobody

[2015-02-17 15:28] veged commented on #962
close in favour of possibility to redefine it on own level (see #1053)

[2015-02-17 15:28] awinogradov commented on #982
Ok, maybe precompile bundles in the future?:)

[2015-02-17 15:30] veged commented on #948
кажется, что без драматических изменений разметки это не возможно реализовать — поэтому `v3`

отдельный вопрос: на сколько это вообще горящая проблема?

[2015-02-17 15:32] #926 closed, assigned to narqo

[2015-02-18 01:56] tadatuta commented on #982
@verybigman the issue here is that we need possibility to
1. build bundle `B1` with blocks `variables`, `b2` and `b3` which will be served as user requested a page.
2. and for bundle `B2` with blocks `b4` (depends on `variables` and `b3`) and `b5` (depends on `b3`) to be requested in runtime we need to build (B2 - B1) but keeping in mind that `variables` block still should be left in place. so we

[2015-02-18 05:56] awinogradov commented on #982
Ok, i think about this;)

[2015-02-18 10:40] hcodes commented on #1365
#1366

[2015-02-18 16:08] Guria commented on #1352
Ok, I get a point. Could styles used for icon block be more specific? Currently there are high probability of interreference of common `.icon` selector with project or third-party libraries styles.
For example, we could mix element on block itself and use it for styling purposes.

[2015-02-19 10:32] #1205 closed, assigned to sipayRT

[2015-02-19 13:26] hcodes commented on #1330
Fix #1340

[2015-02-19 13:33] dfilatov opened #1367 "select: when it is opened and "escape" is pressed, it should be closed without event propagation"

[2015-02-19 14:38] sipayRT opened #1368 "Add to readme information about IE8"

[2015-02-20 09:19] #1136 closed, assigned to hcodes

[2015-02-20 09:48] #1330 closed, assigned to hcodes

[2015-02-20 10:43] #1365 closed, assigned to hcodes

[2015-02-22 15:29] voischev opened #1372 "modal: visibility: hidden; > button: visibility: visible;"
Привет. Заметил такую особенность поведения `modal` в общем то оно нормально для css свойств visibility :) сейчас `model` при загрузке страницы, не показывается пользователям с помощью свойства `visibility: hidden;` но если в `modal` положить например `button` со свойством visibility: visible; то кнопка покажется) при закрытом окне `modal`

Заметил это поведение когда в `modal` попал блок `checkbo

[2015-02-24 11:48] #1367 closed, assigned to dfilatov

[2015-02-24 11:58] idmytro opened #1374 "Button "text-overflow: ellipsis" doesn't work"
bem-components/design/common.blocks/button/_theme/button_theme_islands.styl
https://github.com/bem/bem-components/blob/c7150a5c2e56d965d091bbf557f6eb5e4118b70b/design/common.blocks/button/_theme/button_theme_islands.styl
This code looks like a legacy code.

[2015-02-24 12:23] dfilatov commented on #1374
It works as expected in case of usage `button` as an element of `select`.

[2015-02-25 07:58] #1368 closed, assigned to nobody

[2015-02-25 15:30] idmytro commented on #1374
nice bem, select styles are written in button block

[2015-02-25 15:32] dfilatov commented on #1374
It's not a `select` style. It's a style for `button` which enables you properly use it in `select`.

[2015-02-25 15:34] idmytro commented on #1374
So close issue, if everything is ok here

[2015-02-25 15:35] #1374 closed, assigned to nobody

[2015-02-26 08:12] Guria opened #1376 "popup_target: typo in private method name _onWinScollAndResize"
https://github.com/bem/bem-components/blob/v2/common.blocks/popup/_target/popup_target.js#L50
https://github.com/bem/bem-components/blob/v2/common.blocks/popup/_target/popup_target.js#L55
https://github.com/bem/bem-components/blob/v2/common.blocks/popup/_target/popup_target_anchor.js#L222

[2015-02-26 09:45] Guria opened #1377 "popup: reattach to body occurs after popup already visible"
https://github.com/bem/bem-components/blob/v2/common.blocks/popup/popup.js#L41
I have an issue with custom styles for popup animation. First time `popup` appears immediately without animation. It caused by reattach to `document.body`.
It could be solved by moving out handlers for mod `visible` from `onSetMod` to `beforeSetMod`.
Another way is perform reattach in `_js_inited` handler.
Both solution

[2015-02-26 10:00] dfilatov opened #1378 "button_theme_islands.button_view_plain.button_disabled: wrong appearance"
It looks like normal `button_theme_islands.button_disabled` what is weird.
I would prefer not to fill background in this case.

[2015-02-26 12:20] awinogradov opened #1379 "input_type_hidden"
Hi, guys!:) What about this #554 issue? We work on [bem-forms](https://github.com/bem/bem-forms) library and base form fields on bem-components inputs. Now we think about hidden form fields and we need to `input_type_hidden`:) I know you close issue about this. Why? This mod would be realized in v2, but it is not.

[2015-02-26 12:35] tadatuta commented on #1377
// cc @Coltspb

[2015-02-26 12:47] tadatuta commented on #1379
@verybigman 'coz you may use

[code]

instead ;)

[2015-02-26 17:31] awinogradov commented on #1379
Yes, I can:) but also I can { tag: 'input', attrs: { type: 'password' } }
:) I want use hidden input with api, like other inputs. And add attributes
like for other inputs. Why not?

Чт, 26 февр. 2015 г. в 15:47, Vladimir Grinenko notifications@github.com:

[2015-02-26 17:36] tadatuta commented on #1379
i think you need block `control` with `{ tag: 'input', attrs: { type: 'hidden' } }`, don't you?
block `input` has some things which are useless for `<input type="hidden">`, e.g. https://github.com/bem/bem-components/blob/v2/common.blocks/input/input.bemhtml#L7 so in case of adding such modifier, biggest part of code would be to cancel previous declarations.

[2015-02-26 18:02] Guria opened #1381 "menu: two _onKeyDown handler binds if block inited on focus"
https://github.com/bem/bem-components/blob/v2/common.blocks/menu/menu.js#L34
https://github.com/bem/bem-components/blob/v2/common.blocks/menu/menu.js#L42
If `menu` block inited with tab focus `_onKeyDown` handler bound twice. It causes scrolling two items with one cursor keypress.

[2015-02-27 08:55] awinogradov commented on #1379
Ok, we don't need wrappers for `control` like other `input` blocks. But what is bad is to write a template modifier without wrappers? We want a consistent interaction with entities of the same type.

[2015-02-27 13:47] Guria opened #1382 ".input_has_clear.input_type_search: inadequate `text-overflow: ellipsis` behaviour in chrome"
[code]

Start input long text in input. It will get ellipsised once getting to edge of control.
![demo](http://i.imgur.com/wBs50LW.gif)

[2015-02-27 14:01] Guria commented on #1382
I don't see a point why we have `input_type_search`. It doesn't have nor js, nor css technologies. It only sets html attribute `type="search"`. Some browsers adding native button to clear input, but it supressed in styles of `input` block. Moreover `input` block provides own realization for it. According to ~~#1339~~ #1379  such things can be implemented on project sides.

[2015-02-27 14:36] sipayRT commented on #1382
it looks like bug in Chrome, because it works fine without `outline: none;` property.

[2015-02-27 14:39] qfox commented on #1379
@verybigman You just stick to HTML inputs. Free your mind of it!

[2015-02-27 14:54] sipayRT commented on #1382
proof - http://dabblet.com/gist/19ecd11905343f47f50e
you can remove `outline: none;` to fix this bug

[2015-02-27 15:00] awinogradov commented on #1379
@zxqfox hast thou not been for the degradation to normal form post ;)

[2015-02-27 15:01] awinogradov commented on #1379
There is some argument for not doing this modifier? We can add it in bem-forms if here it is superfluous.

[2015-02-27 15:04] Guria commented on #1382
I've guessed that it is only Chrome bug, but wasn't able to reproduce it on native input. Thanks for clarification. But questions in 2nd comment still actual. Why we have `type="search"` if library provides own implementation of clear button?

[2015-02-27 16:11] sipayRT commented on #1382
custom implementation of clear button is just for `islands` theme. In your own theme you'll get native clear button.

[2015-02-27 16:46] tadatuta commented on #1379
@verybigman can you provide examples of usage?

[2015-02-27 21:15] dfilatov commented on #1381
@Guria I can't reproduce this problem. There are no two bindings to `_onKeyDown`. The handler on L34 is bound only in case of `hasMod('focused')`, the handler on L42 is bound when `focused` mod is being set. As far as I see they are bound in mutually exclusive cases.

[2015-02-28 05:45] Guria commented on #1381
Ok, i'll try to prepare a demo.

[2015-02-28 08:10] awinogradov commented on #1379
Yes! For example i use hidden input for type of value in another input. When value in another input is changes i change type in hidden input:)

[2015-02-28 10:59] tadatuta commented on #1379
are you sure that's the best way? ;)
please describe the whole task.

[2015-02-28 11:18] awinogradov commented on #1379
Yes. Server wait two fields. First is value, where can be number or string. Second is value type field (hidden). Users can't edit type, they edit value with mask.

[2015-02-28 11:56] Guria commented on #1381
Here is bemjson to reproduce

[code]

Press Tab twice, then arrow keys. You shouldn't hover a menu with mouse. In case of menu inited by setting focus from keyboard both handlers would be run: _focused_true handler then _js_inited which will cound second _onKeyDown handler .

[2015-02-28 12:29] tadatuta commented on #1379
First of all you can never trust anything from client side so you have to check all user input on server side anyway. And as so why not just get type on server and get rid of that second field at all?

[2015-02-28 12:47] awinogradov commented on #1379
I think the conversation did not go there:) We have of course server validation. But we think here about front-end. In addition to the expectations of the server with hidden fields containing types or something else related interface blocks. The fields in the form can be dynamic, that is to appear and disappear. A intermediate data must also be stored somewhere. And with all this, you should be ab

[2015-02-28 13:53] tadatuta commented on #1379
In case in just need to hide some parts of form and still post it's values to server (which is far from previous examples ;))  you can just use `display: hidden` in CSS, can't you?

I want detailed real-life example of the situation when you really need `input type="hidden"` as an instance of `input` BEM block. Now I believe it's unnecessary because in my practice there's no such cases.

[2015-02-28 15:53] awinogradov commented on #1379
Problem will be solved in `bem-forms`

[2015-02-28 15:53] #1379 closed, assigned to nobody

[2015-02-28 18:09] dfilatov commented on #1381
@Guria I've caught the problem.

[2015-03-01 12:55] dfilatov commented on #1377
Note: you mustn't use `beforeSetMod` for anything excepting checks to prevent mod set.

[2015-03-01 12:58] Guria commented on #1377
I got it, thanks.

[2015-03-01 13:00] dfilatov commented on #1377
@Guria Why do you have problems with custom styles? What's the significant difference between your style and style in `_theme_islands`?

[2015-03-01 18:50] Guria commented on #1377
My styles used animation of height property. It works fine all times except the first time when reattach occurs. When I checked in debugger step by step: first popup appeared on page because visible mod was set, then popup moved to target block already fully opened when dom node was reattached.
I am sure there is no differences which styles is used. Reattach should be done before popup will be vis

[2015-03-01 21:29] qfox commented on #1381
PR #1383

[2015-03-02 10:23] dfilatov commented on #1377
@Guria Could we see the code of your animation?

[2015-03-02 10:29] dfilatov commented on #1382
@sipayRT Could you add a workaround to make it works in Chrome?

[2015-03-02 10:36] #1381 closed, assigned to dfilatov

[2015-03-02 10:41] dfilatov opened #1385 "Release 2.1.0"
We've fixed some bugs, so we're ready to release a patch version.

[2015-03-02 10:47] tadatuta commented on #1385
@dfilatov as there's also support for IE8 merged shouldn't we release 2.1.0?

[2015-03-02 10:50] tadatuta commented on #1385
and maybe we can release bem-core first and bump its version in bem-components release?

[2015-03-02 11:19] Guria commented on #1377
[code]

[code]

[code]

[2015-03-02 11:22] Guria commented on #1385
I hope, fix of #1377 will be in next release

[2015-03-02 11:29] Guria commented on #1382
@sipayRT custom implementation of clear button is not just for `islands` theme. it provides common js functionality without relate to any theme used.

[2015-03-02 13:06] sipayRT commented on #1382
@Guria I told you about visual realization. For example,

[code]

in this case you will get native clear button -
![input](https://cloud.githubusercontent.com/assets/1658415/6441159/0c797b2a-c0f6-11e4-97a0-cf0ccd0aa43c.png)

[2015-03-02 13:07] sipayRT commented on #1382
@dfilatov I'll try

[2015-03-02 13:10] Guria commented on #1339
sorry wrong reference

[2015-03-02 13:13] Guria commented on #1382
@sipayRT please see @tadatuta opinion in #1379 and #1346 about `type: hidden`, `list` attributes and other features that doesn't have a broad support.
We could use standart html attribute for native browser features, and don't need a support for it in library.

[2015-03-02 14:43] sipayRT commented on #1382
@Guria  I know about these issues, but in bem-components we have some rule, where you can add some functionality just if it's needed for big count of users. So `type='search'` - it's this case. You can ask @veged about this rule

[2015-03-02 14:46] dfilatov commented on #1385
@tadatuta What stops us from bem-core release?

[2015-03-02 14:47] dfilatov commented on #1385
@tadatuta Have we finished with IE8 support?

[2015-03-02 14:50] tadatuta commented on #1385
@dfilatov

I'd be happy if you take a look at https://github.com/bem/bem-core/issues/852 and we get it into the scope of the release, it's quite annoying.

Yes, PR was merged: https://github.com/bem/bem-components/pull/1313

[2015-03-02 15:07] Guria commented on #1382
OK, got the point.

[2015-03-03 08:58] #1376 closed, assigned to nobody

[2015-03-03 12:53] hcodes commented on #1209
@deeonis
JAWS читает текст у label при переходе по TAB на checkbox, расположенный внутри label.

[2015-03-03 13:06] deeonis commented on #896
@Murdalay опиши подробнее — в чем суть этой задачи?

[2015-03-03 13:10] deeonis commented on #872
@kompolom попробуй с самой свежей версией, там исправлено проставление `DOM.scope`

[2015-03-03 13:11] #816 closed, assigned to nobody

[2015-03-03 13:12] deeonis commented on #529
Отложим до первой необходимости

[2015-03-03 13:16] deeonis commented on #448
@tadatuta could you plz provide more examples of such blocks which provide strings (as `i-bem__i18n` do)?

[2015-03-03 13:17] deeonis commented on #448
@dfilatov @narqo

[2015-03-03 13:20] Guria commented on #872
Обратите внимание на #1377, в частности:

[2015-03-03 13:20] deeonis commented on #336
Won't fix since we use enb as main build tool.

[2015-03-03 13:20] #336 closed, assigned to nobody

[2015-03-03 13:21] #319 closed, assigned to nobody

[2015-03-03 13:25] deeonis commented on #131
how it works in IE8?

[2015-03-03 13:27] deeonis opened #1388 "input: placeholder in IE8"
It seems that placeholder doesn't work in IE8 (cause it based on native).
Need to check it up.

[2015-03-03 13:29] deeonis commented on #287
According to #1388 it's not so obvious how it should work in currently supported bowsers

[2015-03-03 13:29] #287 closed, assigned to dfilatov

[2015-03-03 13:30] #284 closed, assigned to nobody

[2015-03-03 13:32] deeonis commented on #231
Пока закрываем по won't fix. Подождем гайдов и потребителей.

[2015-03-03 13:32] #231 closed, assigned to nobody

[2015-03-03 13:34] deeonis commented on #125
closed in favour Travis CI

[2015-03-03 13:34] #125 closed, assigned to arikon

[2015-03-03 13:39] deeonis commented on #1311
@tadatuta can you estimate any plans about moving your prototype to production?

[2015-03-03 13:41] deeonis commented on #1318
@tadatuta ты обещал завести общий issue на все контролы, у которых есть такие же модификаторы. Заведешь?

[2015-03-03 13:54] #1372 closed, assigned to sipayRT

[2015-03-03 20:14] qfox commented on #872
По смыслу там вместо `save` должно быть `safe`.

[2015-03-04 19:52] tadatuta opened #1389 "dist: Test client js"
We need to run specs in `dist` bundles

[2015-03-05 12:03] #1378 closed, assigned to sipayRT

[2015-03-05 13:30] hcodes opened #1390 "Remove highlight control when tap on touch devices"

[2015-03-05 14:34] narqo commented on #1377
@Guria we have realised the problem, but currently we don't have right solution for it. We can't make such things in the `onSetMod–js–inited` handler, because it will cause a lot of unnecessary DOM manipulations (e.g. popups which will never be opened).

May be you can use CSS-animation instead transition?

[2015-03-06 13:58] hcodes commented on #1390
Closes #1391

[2015-03-06 18:15] aristov opened #1392 "dropdown: get rid of wrapping root `div` node"
Now `dropdown` has wrapping `div` that changes display mode of it's switcher (e.g. `dropdown_switcher_link` becomes `display: block` although it's based on `link` block, that is `display: inline`). I propose to get rid of this root node, make `dropdown` as mix to switcher and popup and link it by `id` js-parameter, so we can use `dropdown` as inline element without need of writing additional style

[2015-03-08 12:36] alexbaumgertner opened #1394 "Attach: describe for name BEMJSON API field"
There is no information about `name` field both in
https://github.com/bem/bem-components/blob/v2/common.blocks/attach/attach.en.md
https://github.com/bem/bem-components/blob/v2/common.blocks/attach/attach.ru.md

Here the code:
https://github.com/bem/bem-components/blob/v2/common.blocks/attach/__control/attach__control.bemhtml#L11

So you can set `name` for data, which will be upload by `attach` bl

[2015-03-09 17:37] Guria commented on #1377
@narqo Problem could be solved on my level. I can init block manually or use another way to animate `popup`, for example. But I still sure that reattach should be done before `popup` will be visible.
How about: in `beforeSetMod` `visible` `true` handler discard setting mod if reattach wasn't made and call some private method which will perform reattach and set back `visible` mod. Is it acceptable

[2015-03-10 08:49] #1382 closed, assigned to sipayRT

[2015-03-10 10:18] sipayRT commented on #1388
@mishanga what do you think about adding placeholder to IE8?

[2015-03-10 11:07] mishanga commented on #1388
Мы договаривались, что все костыли для ИЕ8 будем делать только на уровне CSS. Если это невозможно — c'est la vie.

[2015-03-10 11:26] sipayRT commented on #1388
вот полностью согласен!

[2015-03-10 11:31] narqo commented on #1388
@mishanga а как быть с формами в которых placeholder — это единственный способ понять, как этим пользоваться? Точно мы хотим, чтобы в IE8 форма регистрации ящика выглядила так:
![screen shot 2015-03-10 at 14 29 59](https://cloud.githubusercontent.com/assets/88045/6574096/19417d84-c732-11e4-9af7-e0c5fcc7de30.png)

[2015-03-10 11:49] sipayRT commented on #1388
@narqo добавить подписи к инпутам? Ведь в твоем примере подписано поле "С помощью телефона Вы сможете восстановить пароль".

[2015-03-10 13:01] mishanga commented on #1388
+1 к @sipayRT
Для таких форм нужно делать специальный фолбек для ИЕ8 на уровне сервиса или мета-блока (домика).

[2015-03-10 15:46] sipayRT opened #1395 "checkbox: fix tip opacity in IE8"
in IE8 opacity(filter) for pseudo-elements doesn't work

[2015-03-11 10:57] narqo commented on #1377
The solution looks more or less ok. Summoning @dfilatov as he is more relevant about the questions of the API.

It seems that we need to add more details to the docs about the cases when someone can (or can't) redefine `BEMDOM.scope`.

[2015-03-11 11:21] #1394 closed, assigned to nobody

[2015-03-11 11:50] dfilatov opened #1398 "menu_mode_check: initial value isn't properly set in case of group existance"

[2015-03-11 14:24] #1395 closed, assigned to sipayRT

[2015-03-11 15:02] sipayRT commented on #1398
@dfilatov can you explain more detailed? I checked such example as

[code]

but can't see any bugs

[2015-03-11 15:17] dfilatov commented on #1398
I've used a wrong type of content and throwing error was added in later versions (https://github.com/bem/bem-components/commit/7f315e27d5b13ec6a7d441fcd4273038cc4634b3#diff-02e17d367025410d0d9d43fb46a98bbcR27)

[2015-03-11 21:48] tadatuta opened #1400 "Use page__conditional-comment"

[2015-03-12 11:56] sipayRT opened #1401 "popup: rename styles to .styl for 'examples' blocks"
we need it for correct style build in IE

[2015-03-12 20:16] #1401 closed, assigned to sipayRT

[2015-03-13 10:03] narqo commented on #1377
After a small conversation \w @dfilatov it turned out that it's impossible to discard mod set in `beforeSet` handler and set it back within single event loop.

[code]

As about `BEMDOM.scope` problem, we're going to write a more detailed explanation about it use cases in `i-bem__dom` documentation (#914). In short: `BEMDOM.scope` isn't supposed to be set with something that is outside the `body`.

[2015-03-13 10:16] narqo commented on #1390
Fixed in #1391

[2015-03-13 10:16] #1390 closed, assigned to hcodes

[2015-03-13 10:18] #1398 closed, assigned to hcodes

[2015-03-13 12:26] aristov commented on #1206
Summary from meeting with @ruslansagitov:
1. get rid of public API for a11y
2. get rid of duplicate attributes
3. make test form and look how it works
4. examine complex cases (such as `radio_type_button`, `checkbox-group`, `menu` etc.)

UPD: comment is outdated, look issue description for details.

[2015-03-13 13:11] dfilatov commented on #1388
Мое мнение: добавить input.ie8.js с полифилом, и тот, кому нужна поддержка IE8, должен включать в сборку такие файлы, наравне с *.ie8.styl.

[2015-03-13 14:21] sipayRT commented on #1388
Как это реализовать - понятно. имхо, тут другой вопрос - кому это нужно? Тут как раз подходит правило Вегеда - не делать то, что никому не нужно. Т.е. сначала нужно найти тех, кто заинтересован в этом полифиле

[2015-03-13 14:51] Guria commented on #1377
`nextTick` also will not make a deal in our case, I suppose?

Could you also add a note about `BEMDOM.scope` usage in [forum post](https://github.com/bem/bem-forum-content-ru/issues/237) I've referenced?

[2015-03-13 15:55] narqo commented on #1377
Unfortunately `nextTick` will bring much more troubles here.

[2015-03-13 22:13] #1323 closed, assigned to sipayRT

[2015-03-16 07:29] mishanga commented on #1388
@1999 Дима, вам это надо?

[2015-03-16 07:45] Guria commented on #1345
I'm waiting for this to be finished. It would be very helpful as reference for  own library of components.

[2015-03-16 10:39] sipayRT opened #1404 "Add ability to use modifier '_width_available' without theme"

[2015-03-16 10:53] sipayRT commented on #1318
https://github.com/bem/bem-components/issues/1404

[2015-03-16 13:53] #1404 closed, assigned to sipayRT

[2015-03-16 13:54] sipayRT commented on #1318
fixed in https://github.com/bem/bem-components/pull/1405

[2015-03-16 13:54] #1318 closed, assigned to sipayRT

[2015-03-16 14:23] sipayRT opened #1406 "attach: fix typos in docs"

[2015-03-16 14:54] #1406 closed, assigned to sipayRT

[2015-03-16 15:29] 1999 commented on #1388
Обойдемся без него

[2015-03-17 08:40] dfilatov commented on #1385
@tadatuta As bem-core 2.6.0 has been released so let's release bem-components 2.1.0

[2015-03-17 10:33] sipayRT opened #1408 "Update bem-core version"

[2015-03-17 15:25] #1408 closed, assigned to sipayRT

[2015-03-17 15:27] #1400 closed, assigned to sipayRT

[2015-03-17 23:02] tadatuta opened #1411 "Update dist config"

[2015-03-18 02:37] aliosv opened #1413 "textarea в депсах нет инпута"

[2015-03-18 04:29] dfilatov commented on #1385
@tadatuta ping

[2015-03-18 07:15] blond commented on #1413
`textarea` зависит не от всего `input`, а только от `js` технологии: https://github.com/bem/bem-components/blob/v2/common.blocks/textarea/textarea.deps.js#L10-L13

[2015-03-18 13:20] tadatuta commented on #1385
@dfilatov will make release today

[2015-03-18 13:38] tadatuta commented on #1413
@aliosv собирать JS в результате нужно примерно так: https://github.com/bem/bem-components/blob/v2/.enb/make.js#L198-L217

[2015-03-18 13:38] #1413 closed, assigned to nobody

[2015-03-18 15:58] aliosv commented on #1413
@andrewblond, @tadatuta спс

[2015-03-18 19:03] #1411 closed, assigned to tadatuta

[2015-03-18 22:44] tadatuta commented on #1385
https://github.com/bem/bem-components/pull/1414

[2015-03-20 11:10] blond opened #1416 "ENB: use `borschik` for js"

[2015-03-20 11:11] blond opened #1417 "ENB: use autoprefixer with `enb-stylus/css-stylus-with-autoprefixer` tech"

[2015-03-20 11:12] blond opened #1418 "ENB: move dist into separate config"

[2015-03-20 11:14] blond opened #1419 "ENB: move tasks into separate configs"
- [ ] examples
- [ ] tests
- [ ] docs
- [ ] specs
- [ ] tmpl-specs

[2015-03-20 11:15] blond opened #1420 "ENB: add helper for ENB techs"

[2015-03-20 11:15] blond opened #1421 "ENB: add helper for page configure"

[2015-03-20 12:47] #1416 closed, assigned to blond

[2015-03-20 13:23] #1417 closed, assigned to blond

[2015-03-20 20:02] blond opened #1425 "ENB: use `deps` tech instead of `deps-old`"
depends on `include: false` support

[2015-03-20 23:22] #1420 closed, assigned to blond

[2015-03-20 23:29] blond opened #1426 "dist: `?.dev.js` file should not contain `borschik` includes"

[2015-03-21 00:07] #1426 closed, assigned to blond

[2015-03-22 17:25] blond opened #1429 "ENB: should not add template engines to target with browser JavaScript"
drop compiler code when there's no deps on base templates

[2015-03-23 21:57] tadatuta opened #1430 "migration: 2.0.0 to 2.1.0"
1. Add note about necessity to declare `*_width_available` in `deps.js` after https://github.com/bem/bem-components/issues/1404

[2015-03-23 23:33] aristov commented on #1388
[maybe](https://github.com/bem/bem-components/blob/ie8-blocks/msie8.blocks/input/__placeholder/input__placeholder.js)

[2015-03-24 08:01] sipayRT commented on #1388
@aristov это ничем не будет отличаться от input.ie8.js

[2015-03-24 08:27] blond opened #1431 "Specs for `menu` does not cleans up after itself"

[2015-03-24 09:14] blond opened #1433 "Specs for `menu-item_type_link` contain invalid BEMJSON"

[2015-03-24 09:25] blond opened #1435 "specs: not considered dependencies on BEMHTML"
Specs for `menu-item_type_link` contain invalid BEMJSON (#1433), but tests do not fail. This happens because templates of `menu` are not added to the tests code.

[2015-03-24 09:29] #1431 closed, assigned to blond

[2015-03-24 09:31] #1433 closed, assigned to blond

[2015-03-24 12:46] blond opened #1438 "incorrect BEMHTML-dependencies for specs"
If specify only tech then the dependence will be ignored.

[code]

Need to explicitly specify BEM-entity:

[code]

[2015-03-24 13:42] aristov commented on #1388
Вопрос в том, является ли IE8 платформой или технологией. На мой взгляд, логичнее делать разделение по платформам и считать IE8 частным случаем `desktop`, тогда мы выносим все костыли на специальный уровень, реализующий функционал библиотеки в этом браузере и подключаем его вместе с `desktop` там где это нужно.

[2015-03-24 18:02] remnev opened #1441 "input: add `hidden` value to the `type` modificator"
It's necessary for hidden fields, like `<input type="hidden"/>`.
I'm going to contribute it. Are there any objections?

[2015-03-24 18:45] Guria commented on #1441
Yes, please search an issues.

[2015-03-24 19:38] aristov commented on #1441
It could be implemented as a separate block or as an element of control, that needs it, but, anyway, it's not a type of the `input` block.

[2015-03-24 20:03] tadatuta commented on #1441
https://github.com/bem/bem-components/issues/1379

[2015-03-24 20:03] #1441 closed, assigned to nobody

[2015-03-24 21:02] qfox commented on #1388
Я в чем-то солидарен с @aristov. Часть того, под что есть специальные технологии, сильно элегантнее могло было быть решено выносом на отдельный уровень.
Не знаю, правда, получится ли так полноценно с i18n, но и там тоже руки чешутся переосмыслить все.
В любом случае, ie вполне подходит под отдельный уровень с моей точки зрения. И даже вполне вписывается в платформы.

[2015-03-25 10:28] sipayRT opened #1442 "Fix typos in readme"

[2015-03-25 10:52] sipayRT opened #1444 "Add information to changelog"

[2015-03-25 10:55] #1442 closed, assigned to sipayRT

[2015-03-26 07:52] #1444 closed, assigned to sipayRT

[2015-03-26 09:13] #1438 closed, assigned to nobody

[2015-03-26 09:45] #1435 closed, assigned to blond

[2015-03-27 21:41] #1385 closed, assigned to tadatuta

[2015-03-27 21:52] narqo opened #1447 "input: Rename to textinput"
It fills like the name of the `input` block is the source of frequent requests to implement strange things like `input_type_hidden` (#1379, #1441 for example).

`input` is really weird name, as it is too abstract for our implementation, comparing to HTML's `<input>`. So I propose to rename the block to `textinput`, as such name reflects the behaviour of the block more clearly.

[2015-03-27 22:18] narqo opened #1448 "popup_theme_islands: visible-mod event fires before block's animation ends"
We use CSS animation to visualise the process of setting / removing `visible` modifier of the block. This brings some sort of inconsistency in block's behaviour: modifier based events are always synchronous, while CSS animation is asynchronous.

In cases when you need to remove `popup` (or `modal`) after it was hidden, you can't just add `{ modName: 'visible', modVal: '' }` event listener and remo

[2015-03-28 09:38] Guria commented on #1448
Could problem be solved with destruct method of popup, which will hide itself and self-destructs on animationend?

[2015-03-28 11:47] narqo commented on #1448
@Guria in my usecase, I don't want "to hide popup, before it would be destructed". I want "to destruct it after it was hidden".

In think such method is more or less suitable for `popup_target_position` only, as `popup_target_anchor` can be destructed as a result of it's `anchor` destruction. I'd prefer to have more general (and more "native") API

[2015-03-30 15:35] Guria commented on #1377
I have a thought recently. `Popup` always should be called from another blocks and it is [their responsibility to init it](https://github.com/bem/bem-components/blob/v2/common.blocks/dropdown/dropdown.js#L55). Let just set `{ live: true }` to popup and move popup reattach to _js_inited handler.

[2015-03-30 15:39] Guria commented on #1377
Oh my. It is already has `{ live: true }`. Popup initialised only by blocks that used it. So suggestion about `lot of unnecessary DOM manipulations (e.g. popups which will never be opened)` is not true at all.

[2015-03-30 15:57] narqo commented on #1377
But it is, actually.

`select` (or `dropdown`) will be initialised if focus on `select__button` occurs as well as with other cases. This will lead to `popup` initialisation through the `find`-method inside `select`. In our practice, such select can be never opened at all.

[2015-03-30 17:06] Guria commented on #1377
Dropdown initializes popup only when it need to display it not on his init event.
I don't see a reason not to use the same technic in any block that uses popup.

[2015-03-30 18:10] narqo commented on #1377
It'd been done in such way in `select` from the beginning. But it turned out, that it brings additional complexity to the block's internals. For example, `_menu` handling would be "tricky" (I don't support hop-searching for blocks, e.g. `select.findBlockInside('menu')`), as you still can do `Select#setVal()` from the outside.

From this point of view, to avoid CSS `transitions` looks like a much e

[2015-03-31 09:10] sipayRT opened #1450 "Update jscs-bem"

[2015-03-31 11:53] #1450 closed, assigned to sipayRT

[2015-03-31 14:24] sipayRT opened #1452 "Fix typos in showcase"

[2015-03-31 15:11] #1452 closed, assigned to sipayRT

[2015-04-01 10:50] sipayRT opened #1454 "button: add to docs information about 'view_plain' mod"

[2015-04-02 13:58] aristov commented on #1209
@zxqfox are you satisfied with the answer? Anything else to discus here?

[2015-04-02 14:01] aristov commented on #896
@Murdalay ping

[2015-04-02 14:02] aristov commented on #1073
@tadatuta still waiting to usecases

[2015-04-02 14:05] aristov commented on #1073
@narqo you said you have something

[2015-04-02 14:07] aristov commented on #1447
:+1: me and @veged :+1:

[2015-04-02 14:07] tadatuta commented on #872
В обсуждении на форуме https://ru.bem.info/forum/issues/305/ выяснили, что проблема решена

[2015-04-02 14:07] #872 closed, assigned to dfilatov

[2015-04-02 14:18] qfox commented on #1209
@aristov Yup, totally. Thanks.

Moreover, AFAIK if somebody need `id`s — he can make a template on his own level and pass there `id` attribute.

[2015-04-02 14:18] #1209 closed, assigned to aristov

[2015-04-02 14:20] qfox commented on #1447
And mine :+1:

[2015-04-02 16:28] tadatuta commented on #1447
everybody loves refactoring so :+1:

[2015-04-02 16:47] qfox commented on #1447
@tadatuta :tada: :-D

[2015-04-03 11:00] Murdalay commented on #896
Привет. Задача довольно старая. Сейчас по ней ведутся активные работы в Питере. Суть в том, что у нас есть xliff-ферма, помогающая автоматизировать переводы. Раньше она умела работать только с dita. И было решено научить ее поддержке mdown. Сейчас такая поддержка уже есть и процесс на стадии тестирования. В момент разработки было решено натравить ее на bem-components для пробы. Полагаю, что задачу

[2015-04-03 11:50] #896 closed, assigned to Murdalay

[2015-04-03 13:56] tadatuta opened #1456 "select: Keyboard support degradation after v2.1.0"
For more details please refer https://github.com/bem/bem-forum-content-ru/issues/353

[2015-04-03 13:58] tadatuta commented on #1456
cc @aristov

[2015-04-05 21:51] tadatuta commented on #1456
degradation was introduced in https://github.com/bem/bem-components/pull/1383
// cc @dfilatov

[2015-04-05 22:10] qfox commented on #1456
@tadatuta @narqo That's interesting. Code stops listening on losing focus, but selection (hover?) still exists. That means:
1) Focus should be on `menu` while we walking on `menu-item`s;
2) But logically there can be internal blocks with focus (which can ruin block itself);
3) Focus/blur should listen for bubbling events from internal DOM-nodes.

Am I right here?

[2015-04-05 22:20] qfox commented on #1456
![image](https://cloud.githubusercontent.com/assets/677518/6998928/7aa6363c-dbfa-11e4-8187-38ea986d1602.png)
![image](https://cloud.githubusercontent.com/assets/677518/6998965/8e2f6b36-dbfc-11e4-859f-7ab7b11c6e9d.png)
But
![image](https://cloud.githubusercontent.com/assets/677518/6998932/b323e554-dbfa-11e4-91a2-14987173a1f8.png)

@tadatuta Btw, this hover in location bar hiding away on keyboard ac

[2015-04-05 22:32] tadatuta commented on #1456
as far as I understand, `_onFocus()` is never called when a user opens `select` because `menu` is not focusable (so native `focusin` is not fired). at least when I added force call of `_onFocus()` to `_focus()` keyboard started working as expected.

but `menu` itself not being a part of `select` works just fine.

[2015-04-05 22:41] qfox commented on #1456
@tadatuta I'd make a test with focusable block/element inside menu-item.

[2015-04-06 15:42] #1430 closed, assigned to sipayRT

[2015-04-10 19:25] tormozz48 opened #1457 "select: Error in case of empty items array"
Hello all. I found some strange code in select block which gives me error in case of empty select item array on select click.

[code]

It is simple to understand that in case of empty array this._menu.getItems()[0] will gives error with message: 'Uncaught TypeError: Cannot read property 'setMod' of undefined'

[2015-04-10 20:24] tadatuta commented on #1457
@tormozz48 What do you expect when try to use `select` without options?
HTML spec for native `select` tag [says](http://www.w3.org/TR/html401/interact/forms.html#h-17.6) that it must contain at least one option element.

[2015-04-11 09:18] tormozz48 commented on #1457
@tadatuta I think that this should be a problem of my app business logic, but not a block.
As for me, the piece of code which was given has not any validations for empty options set case.

[2015-04-13 17:38] aristov opened #1458 "menu: проверить соответствие руководству по доступности"
Проверить, соответствует ли блок `menu` описанию из руководства по доступности:

Внести исправления, если найдутся несоответствия.

[2015-04-13 17:41] aristov opened #1459 "modal: проверить соответствие руководству по доступности"
Проверить, соответствует ли блок `modal` описанию из руководства по доступности:

Внести исправления, если найдутся несоответствия.

[2015-04-13 17:44] aristov opened #1460 "popup: проверить соответствие руководству по доступности"
Проверить, соответствует ли блок `popup` описанию из руководства по доступности:

Внести исправления, если найдутся несоответствия.

[2015-04-13 18:40] tadatuta commented on #1459
не забыть https://github.com/bem/bem-components/issues/1026

[2015-04-15 08:38] Guria commented on #1458
Блок `menu` кажется  совсем не про меню. Скорее всего это некий `list`.
То что описано в руководстве, в библиотеке не реализовано.
Возможно стоит рассмотреть возможность переименования, по аналогии с #1447

[2015-04-15 15:18] qfox opened #1461 "No tags for release commits?"
Guys, can we add a rule in maintainers guide to mark with tags releases?

/cc @tadatuta @narqo @veged @dfilatov

[2015-04-15 15:38] narqo commented on #1461
But we have tags for all of our releases:
- https://github.com/bem/bem-components/tags
- https://github.com/bem/bem-core/tags

[2015-04-15 15:45] qfox commented on #1461
Sorry. I've mixed up bem-core and bem-components version. Didn't find 2.5 and 2.6 ;-(

[2015-04-15 15:45] #1461 closed, assigned to nobody

[2015-04-15 19:11] tadatuta commented on #1458
@Guria
не возьмусь судить про соответствие названию `menu`, но `list` — это скорее про контент/типографику типа:
- раз
- два
- три

[2015-04-15 19:34] Guria commented on #1458
Может не list, но точно не меню. Это же список итемов.
А вообще похожие по смыслу сущности, правда более навороченные, чаще всего называются по типу ListView.
https://msdn.microsoft.com/en-us/library/windows/apps/br211837.aspx
http://demos.telerik.com/kendo-ui/mobile-listview/index

[2015-04-15 19:35] qfox commented on #1458
@Guria ;-) В Яндексе своя терминология, не спорь! Можно, правда, поставить вопрос при переезде на v3, но это опять всем всё сломает. С другой стороны, порог входа от этого только уменьшится. Можно пообсуждать.

[2015-04-15 19:41] Guria commented on #1458
Ну в руководстве по доступности под меню явно имеют ввиду именно меню :)
На фоне изменений i-bem в bem-core@v3 переименование пары блоков будет наименьшей проблемой.

[2015-04-15 19:59] qfox commented on #1458
@Guria Согласен, если возвращаться к issue — путаница.

[2015-04-15 21:16] innabelaya commented on #1321
description was removed in https://github.com/bem/bem-components/commit/f7866d9bacbbb577316a8cd72f15ead364bfd62d

[2015-04-16 13:18] sipayRT opened #1462 "showcase: add names to the blocks"

[2015-04-16 13:34] narqo commented on #1388
Коллективным разумом решили, что `placeholder` в IE нужен. Но, поскольку кода про него, кажется, немного, можно оставить его реализацию в основном JS-коде, добавив проверку на ie.

[2015-04-16 14:15] #1456 closed, assigned to dfilatov

[2015-04-16 18:52] arikon opened #1464 "Rename .bemhtml files to .bemhtml.js"
For that we will get:
- syntax highlighting on Github and in all the editors for free
- linters (jshint, jscs) will work with templates without additional configuration

Linked issue https://github.com/bem/bem-core/issues/984

[2015-04-16 19:26] qfox commented on #1464
:+1:

[2015-04-16 20:04] aristov commented on #1458
В приведенной цитате из руководства речь идет о выпадающем меню, которым у нас по сути является блок `select`. В рамках этого ишью достаточно проверить только те требования, которые относятся непосредственно к меню:

Вложенные меню у нас не поддерживаются.

[2015-04-16 20:06] aristov opened #1465 "select: проверить соответствие руководству по доступности"
Проверить, соответствует ли блок `select` описанию для выпадающего меню (которым по сути является этот блок) из руководства по доступности:

Внести исправления, если найдутся несоответствия.

[2015-04-16 20:08] aristov commented on #1458
[issue про `select`](1465)

[2015-04-17 06:36] awinogradov commented on #1464
:+1:

[2015-04-18 11:02] sbmaxx commented on #1464
:+1:

[2015-04-20 08:06] voischev commented on #1464
:+1:

[2015-04-20 08:49] Guria opened #1467 "menu-item_type_link: move out css rule to fit clickable area out of islands theme"
https://github.com/bem/bem-components/blob/v2/design/common.blocks/menu-item/_theme/menu-item_theme_islands.styl#L44

This rule should be applied without any theme used, I think

[2015-04-20 13:05] aristov commented on #1467
cc @sipayRT

[2015-04-20 13:35] sipayRT commented on #1467
@Guria but in custom theme can be used horizontal menu in which this property is not needed. I'm not sure that we need to add `:after` by default // cc @mishanga

[2015-04-20 14:02] #1462 closed, assigned to sipayRT

[2015-04-20 14:08] mishanga commented on #1467
+1 to @sipayRT

[2015-04-20 15:50] Guria commented on #1467
@sipayRT horizontal menu in custom theme with [current](https://github.com/bem/bem-components/blob/v2/common.blocks/menu/menu.js#L184) `menu` block implementation? :laughing:
Currently `menu` block very specific and it is not about menu in fact.

[2015-04-20 16:15] sipayRT commented on #1467
exactly! And this theme is very specific too. Thats why this part of code can't be used by default. For example, in your theme you may not use `padding` property and you can apply to the link `display: block;` instead of `::after`. In this case you don't need pseudo-element at all

[2015-04-20 20:21] aristov opened #1468 "progressbar: assign `val` field to zero by default"
[code]

should be equivalent to

[code]

[2015-04-21 10:09] Guria commented on #1467
I got a point. Just loled about custom implementations.
`menu` good block, but too specific both in templates in js tech. But it is a topic for another issue.

[2015-04-21 10:09] #1467 closed, assigned to nobody

[2015-04-21 11:09] sipayRT commented on #1468
:+1:

[2015-04-21 19:08] narqo opened #1472 "checkbox: Doesn't work on touch devices"
`checkbox` doesn't work properly on touch devices, at least on iPad/iPhone under the iOS 8.3 as well as touch devices emulator in Chrome.

In the [checkbox](https://en.bem.info/__example/bem-components/v2.1.0/desktop.examples/checkbox/5nmu9H4NkVi7P48W_Yx7tHZy6Hk/5nmu9H4NkVi7P48W_Yx7tHZy6Hk.html) example it is impossible to toggle `checked` state by tapping on the checkbox itself. While tapping on

[2015-04-21 19:30] narqo commented on #1472
Looks like there is a problem(-s) with iOS and the FastClick library (`bem-core/jquery__event_type_pointerclick`).

[2015-04-22 17:07] deeonis commented on #1223
Дождался ответа от дизайнеров.

Фокус должен быть как на кнопках, причем только при клавиатурной навигации. От клика он появлятся не должен. В терминах CSS это должна быть тень, из-за того, что бордер будет двигать ссылку. Но основное это именно неподвижность ссылки, а не реализация именно через тень.

[2015-04-22 17:18] qfox commented on #1223
Или outline?

[2015-04-22 17:27] narqo commented on #1472
One possible solution, is to move `checked` state maintaining from `change` event in `__control` to modifier, as we do in `button_type_check`.

Here is the monkey-patched version with project level overrides:

[code]

[2015-04-23 08:33] mishanga commented on #1223
@deeonis а можно скриншот того, как это должно выглядеть?
Мне, кстати, тоже больше нравится outline.

[2015-04-23 08:42] dfilatov commented on #1472
Doesn't this patching affect `checkbox_type_button`?
What about keyboard?

[2015-04-23 09:08] narqo commented on #1472
Yep, it seems, that both keyboard and `checkbox_type_button` won't work with it :( Guess, we need to think about fixing FastClick problem from `bem-core` first

[2015-04-23 10:25] dfilatov opened #1473 "Release 2.1.1"

[2015-04-23 10:59] #1454 closed, assigned to innabelaya

[2015-04-23 11:57] tadatuta commented on #1473
@dfilatov should I wait for fix for https://github.com/bem/bem-components/issues/1472 or release as is?

[2015-04-23 12:02] dfilatov commented on #1473
I think we shouldn't wait for it, because it's not so easy to fix that. But we've fixed #1456 and I need it for my project )

[2015-04-23 12:25] narqo commented on #1473
:+1: to @dfilatov as I'm not sure, we can fix #1472 without fixing `jquery__event_type_pointerclick` from bem-core. But we need some time to investigate the source of the problem as well as possible sideeffects.

[2015-04-23 15:26] #1468 closed, assigned to sipayRT

[2015-04-23 15:42] sipayRT opened #1474 "Add deps for 'conditional-comments' elem on test level"

[2015-04-23 20:57] #1474 closed, assigned to sipayRT

[2015-04-23 21:26] tadatuta commented on #1473
https://github.com/bem/bem-components/releases/tag/v2.1.1

[2015-04-23 21:26] #1473 closed, assigned to tadatuta

[2015-04-23 21:34] aristov opened #1476 "link: improve JAWS readability"
JAWS should read
- [x] `link` as "link"
- [x] `link_pseudo` as "button"
- [x] `link_disabled` as "link unavailable"
- [x] `content` field
- [x] `title` special field

Check and fix divergencies.

[2015-04-23 21:45] qfox opened #1478 "No tmpl-tests for progressbar_theme_simple?"
Not sure that we need it, but since there is a template, I think we should provide a simple case.

[2015-04-24 04:43] aristov opened #1479 "button: improve JAWS readability"
JAWS should read
- [x] `button` as "button"
- [x] `button_type_link` as "link"
- [x] `button_type_submit` as "button"
- [x] `button_togglable_check` as "toggle button"
- [x] `button_togglable_radio` as "toggle button"
- [x] `_disabled` as "unavailable"
- [x] `button_checked` with specified `_togglable` modifier as "toggle button pressed"
- [x] `text` special field
- [x] `title` special field

Chec

[2015-04-24 04:46] aristov opened #1480 "button: rename _togglable modifier"
`button_togglable_check` => `button_type_checkbox`
`button_togglable_radio` => `button_type_radio`

`togglable` and `type` modifiers can not be used simultaneously.
So I propose to merge them into `type` modifier and correct values.

[2015-04-24 06:50] sipayRT commented on #1478
this theme is just for example. So we don't need any tests for it

[2015-04-24 06:51] sipayRT commented on #1480
`button_type_checkbox` and `checkbox_type_button`?

[2015-04-24 06:51] qfox commented on #1478
@sipayRT I think we should move this theme to separate level then ;-\ Or something... It looks like inconsistency.

[2015-04-24 09:43] sipayRT opened #1481 "showcase: fix example of the modal block"

[2015-04-24 09:48] aristov commented on #1480
Oh shit...

[2015-04-24 13:22] #1481 closed, assigned to sipayRT

[2015-04-26 12:46] narqo commented on #1478
@zxqfox we don't have any kind of the specs for simple theme in general. The main thing of why do we have it is that we had a lot of problems with themeless blocks in the past. In the bem-components we're trying to prevent such things like "default" theme styles, so we need `simple` one to check our blocks are steel "themeable".

`_theme_simple` is definitely not the thing that we should start tes

[2015-04-26 12:55] narqo opened #1484 "checkbox: Text is blinking while toggling in Safari"
In Safari 8 (and 7, I belive) the text on the page is blinking when user toggle the `checkbox`es. Such things are really annoying, as they can appear on the whole page text.

Here is the screencast from our showcase page https://yadi.sk/i/gwETnveZgFdHA

See [related topics on stackoverflow](http://stackoverflow.com/questions/15751012/css-transform-causes-flicker-in-safari-but-only-when-the-browser

[2015-04-26 13:26] qfox commented on #1478
@narqo So, decision is: we will test it in future, we drop them in future, or else?

[2015-04-26 18:38] tadatuta commented on #1484
according to what I found out, the only way to get rid of it is to set some of properties which trigger hardware acceleration on **parent** element which is not suitable for us :(

// cc @sipayRT

[2015-04-26 19:32] narqo commented on #1478
I prefer to have one of these. But I don't have any exact timelines currently.

[2015-04-26 22:52] tadatuta opened #1485 "link: add ability to prevent native behaviour"
**Usecase**

[code]

**Proposal**
Provide original DOM event as a second argument to BEM `click` event so it could be used like this:

[code]

[2015-04-26 23:52] qfox commented on #1485
Can `bemEvent` be extended by `domEvent`?

[2015-04-27 07:39] dfilatov commented on #1485
If all you need is `preventDefault`, there's no need to pass `domEvent`. It can be done within `link`.

[2015-04-27 12:40] tadatuta commented on #1485
@dfilatov can you please show an example?
I tried two snippets:

[code]

[2015-04-27 13:51] dfilatov commented on #1485
It doesn't work currently. We need to add a few lines of code to `link` to support such thing.

[2015-04-27 13:58] qfox commented on #1478
@narqo I'd suggest to move them all to separate level for now (as it does for design). Not sure really why we need them at all.

[2015-04-27 14:20] dfilatov opened #1486 "select: doesn't open by "space" at first time"

[2015-04-27 14:42] narqo commented on #1478
To move what? `tmpl-specs` or `_theme_simple` files? To be honest I don't understand what problem do we try to solve here?

[2015-04-27 14:51] qfox commented on #1478
Useless `_theme_simple` files. I suggest to keep codebase clean, to have tmpl-specs for each supported templates. If we don't need `_theme_simple` then we can move them out of active code base.

[2015-04-27 15:11] narqo commented on #1478
I think, to move something out (or remove at all) and don't add additional tests for useless stuff, are different questions from the compatibility point. We can add an issue about removing `simple` from the bem-components, but to `v3` future only

[2015-04-27 15:13] qfox commented on #1478
:+1: Fine for me.

[2015-04-27 17:45] aristov opened #1488 "image: improve JAWS readability"
JAWS should read:
- [x] `image` with specified `alt` field as "graphic"
- [x] `alt` field
- [x] `title` field (if `alt` field is not specified)

Check and fix divergencies.

[2015-04-28 09:48] #1486 closed, assigned to dfilatov

[2015-04-28 10:22] sipayRT commented on #1484
I have no idea how to fix this problem without copypasting of properties

[2015-04-29 13:05] veged commented on #1480
in consistency with other blocks better not use `_type` for such modifications

[2015-04-29 13:05] #1480 closed, assigned to nobody

[2015-04-29 13:09] #1478 closed, assigned to nobody

[2015-04-29 13:39] narqo commented on #1457
@tormozz48 can send a PR which will explicitly throw an error in such case?

[2015-04-30 14:48] #1485 closed, assigned to dfilatov

[2015-04-30 22:06] aristov opened #1491 "attach: improve JAWS readability"
JAWS should read
- [x] `attach` as "button"
- [x] `attach_disabled` as "button unavailable"
- [x] `button` field
- [x] `noFileText` field

Check and fix divergencies.

[2015-04-30 22:10] aristov opened #1492 "checkbox: improve JAWS readability"
JAWS should read
- [x] `checkbox` as "checkbox not checked"
- [x] `checkbox_checked` as "checkbox checked"
- [x] `checkbox_disabled` as "checkbox unavailable"
- [x] `checkbox_type_button` as "toggle button"
- [x] `checkbox_type_button` + `_checked` as "toggle button pressed"
- [x] `checkbox_type_button` + `_disabled` as "toggle button unavailable"
- [x] `text` field
- [x] `title` field

Check and

[2015-05-04 17:47] tadatuta opened #1494 "popup: Fix typos in popup.examples/20-popup.bemjson.js"
`mods` should be `elemMods` in https://github.com/bem/bem-components/blob/v2/common.blocks/popup/popup.examples/20-popup.bemjson.js#L75-L77 (and further on).

[2015-05-04 18:17] qfox commented on #1494
Hey there: bem/bem-method#250

[2015-05-04 18:34] tadatuta commented on #1494
@zxqfox At least until that issue is answered it's a bug ;)

[2015-05-05 14:42] tadatuta commented on #1389
branch with WIP: https://github.com/bem/bem-components/tree/issues/1389%40v2

[2015-05-05 14:54] narqo commented on #1377
After a long chat /w others, we've decided to close this issue, as no one have any idea of how to fix transitions in `popup`. Sorry

[2015-05-05 14:54] #1377 closed, assigned to nobody

[2015-05-05 15:12] deeonis commented on #1324
Должно было поправиться в jsd@1.1.2

[2015-05-05 15:12] #1324 closed, assigned to blond

[2015-05-05 15:13] #1322 closed, assigned to blond

[2015-05-05 15:16] deeonis commented on #1321
done

[2015-05-05 15:16] #1321 closed, assigned to innabelaya

[2015-05-05 21:37] golyshevd commented on #1286
Умоляю не удаляйте обертку, зачем?

[2015-05-05 21:38] qfox commented on #1286
@golyshevd Это же опционально, и только в библиотеке.

[2015-05-05 21:42] golyshevd commented on #1286
Сейчас благодаря обертке шаблоны - модульные, видно где и как произошла ошибка, а сборка - сказка, просто список require-ов. Обрабатываешь c помощью browserify - и вот тебе клиентский код, по прежнему читаемый. А теперь надо будет делать какую-то странную сборку, часть файлов из либы оборачивать, а свои - нет.

Файл шаблона без обертки - это какой-то невалидный кусок кода, который даже линтер не п

[2015-05-05 21:47] golyshevd commented on #1286
@mishanga а технология для сборки клиентского BH - вообще "произведение искусства", мы как только увидели как она работает (обрезает), так сразу взяли browserify и довольны. Нельзя так с модулями делать, это нарушение целостности модуля, совсем не факт что модуль останется рабочим после таких изменений.

Если эта идея ради того чтобы было проще собирать клиентский код, посмотрите в сторону browser

[2015-05-05 21:56] golyshevd commented on #1286
@tadatuta И это было сделано в common-js не чтобы всем мешало. Во-первых, в начало сборки совсем не сложно добавить штуку которая будет чистить кэши по нужным файлам (как сейчас и делается) - во-вторых, не понятно зачем это делать. Можно ведь просто к watcher который обычно используется при разработке добавить файлы шаблонов и сервер будет рестартовать и заново require-ить.

[2015-05-05 22:08] golyshevd commented on #1286
И еще один "за модули": когда файл шаблона - модуль, на него можно даже юнит-тест написать. Это, конечно, "высосано из пальца", я знаю что ваши тесты смотрят какой html отдается шаблоном, но все же, фишка модуля в том, что он умеет работать сам, в нативном контексте и у него есть свой локальный scope для всяких помогашек и констант

[2015-05-05 22:10] qfox commented on #1286
@golyshevd Не для ради холивара, но .bh.js это сначала шаблоны, а потом уже commonjs модули ;-(

[2015-05-05 22:15] golyshevd commented on #1286
@zxqfox Не понимаю как одно другому мешает

[2015-05-05 22:18] qfox commented on #1286
@golyshevd Нууу... Я тогда не вижу разницы между текущим и:

[code]

[2015-05-05 22:22] golyshevd commented on #1286
@zxqfox почему нельзя использовать мощь модулей даже в шаблонизаторе? Шаблон - не простая программа, она имеет право быть разбитой на модули. Мне иногда кажется, что где-то думается, что шаблон не может быть нормальной js-программой, ему надо быть написанным на каком-то странном языке, главное - чтобы он отличался от js.

Серьезно? Это едва годится для отладки, это мы так будем собирать bh если он

[2015-05-05 22:23] golyshevd commented on #1286
@zxqfox И все таки, зачем нужно придумывать какие-то костыли, если можно просто оставить все как есть? Сейчас все прекрасно жеж

[2015-05-05 22:28] qfox commented on #1286
@golyshevd В общем случае шаблон это преобразование одного в другое, отформатированное. Есть желание пойти в отпуск — беру формуляр, заполняю, иду в отпуск. Нужно собрать хтмл — беру файл и шаблонизатор, сую в результат данные, получаю хтмл. Если хотим собирать хтмл на морде — явно будут проблемы с кучей возможностей node.js, либо шаблоны будет распирать. Судя по browserify — require у вас в шабло

[2015-05-05 22:31] golyshevd commented on #1286
Почему? Почему я не могу в коде использовать require? И чем плох browserify?
Мне использовать очередный костыль-велосипед если я хочу сделать url.format или если я хочу использвать underscore/lodash? Правильно будет написать все хелперы руками и также вшить их в начало шаблона?

и процитирую сам себя

UPD

Мы используем browserify только для браузерных шаблонов, мы любой шаблон можем притащить на

[2015-05-05 22:55] tadatuta commented on #1286
@golyshevd вернул метку question, будем «думать еще раз» :)

[2015-05-05 23:06] golyshevd commented on #1286
@tadatuta Спасибо большое.

Хочу лишь сказать, что когда мы впервый раз попробовали bem-components + BH, были несказанно рады такому подходу к шаблонизатору: "наконец-то станет легко и удобно верстать", что подтвердилось:
1. Мы собираем десяток шаблонов за 5 секунд на холодную.
2. Всегда минимально модифицируются файлы - всякие умные IDE типа Webstorm не сходят с ума от вечно индексирующегося файл

[2015-05-05 23:29] qfox commented on #1286
Но зачем?

[2015-05-05 23:40] tadatuta commented on #1286
@golyshevd

У оберток есть 3 очевидных минуса:
1. Неконсистентность с BEMHTML
2. Для клиента их нужно вырезать или использовать browserify
3. Их нужно писать

Предлагаю внимательнее рассмотреть плюсы и взвесить за и против.

Тупая конкатенация вряд ли будет заметно отличаться по времени в абсолютных числах.

Но и пользы от полотна рекваиров вряд ли много.

Это ведь решается включением source maps?

[2015-05-05 23:43] qfox commented on #1286
@golyshevd Где ж она одинаковая, если для клиента через browserify?

С тем кодом, что я предложил, можно тоже ронять с указанием места в коде. К чему паника?

@tadatuta Я лично не вижу проблем со всем перечисленным, если убрать в bem-components обертку. Собирать в dev режиме можно будет точно так же, как и раньше через require. В продакшн режиме — склейка с обрезанием, либо просто склейка, либо ещ

[2015-05-06 00:11] golyshevd commented on #1286
@zxqfox А зачем делать себе подобные ограничения в коде который исполняется преимущественно в nodejs среде? BH это всего-лишь библиотека, тот же модуль. И он должен быть интегрируемым в другие модули. Мой шаблон - модуль, он использует внутри себя BH как модуль.

BH не навязывает стиля написания шаблонов, и это прекрасно, а bem-components потенциально может это сделать. Как вообще библиотека может

[2015-05-06 00:17] qfox commented on #1286
Это хаки и лишний код на клиенте. Кому-то это ок, кому-то нет. Сейчас получается, что одни обрезают `module.exports`, другие — прогоняют через `browserify`. В чем логика?

[2015-05-06 00:21] qfox commented on #1286
На мой взгляд это вообще не должно находится в шаблонах. Если это складывать в шаблоны — они начинают слишком дохрена знать про внутреннюю логику приложения и связываются с тем кодом, который будет разбирать этот `foo=baz`. Логичнее генерировать эти урлы заранее и подавать на вход шаблонизатору, чтобы «модуль» шаблона делал только свое дело, а урлы для него генерировал другой код.

[2015-05-06 00:22] qfox commented on #1286
Не вижу связи, но может быть проблема в сборщике, а не в формате шаблонов.

[2015-05-06 00:23] qfox commented on #1286
Нет уж, давай разбираться до конца ;-)

[2015-05-06 00:41] golyshevd commented on #1286
Лишнего кода там очень мало.

Примерно вот столько в начале:

[code]

И совсем капельку для каждого модуля (несколько символов).

 Если сравнивать два хака - browserify и объединение скоупов модулей в один, то первый, очевидно гораздо безопаснее. Во втором случае, если в глобальных скоупах разных модулей будет одинаковая переменная, то долго будем отлаживать шаблоны.

По поводу того, что все собир

[2015-05-06 00:48] qfox commented on #1286
`bh.lib.helper` ? https://github.com/bem/bh/blob/master/lib/bh.js#L33-L42

[2015-05-06 01:01] golyshevd commented on #1286
Ну, по мне, так это семантически подойдет для каких-то абстрактных штук, примеры там в комментах. Я же говорю о какой-нибудь погремушке типа `createUserPicForBlahBlahListItem()` которая будет иметь смысл только для какого-то конкретного шаблона. Несомненно, это можно использовать и для локальных хелперов, но тогда остается риск опять же пересечься, потому что этот объект статический. Мне сложно се

[2015-05-06 07:55] remnev commented on #1286
Ребят, Дима привел шквал аргументов, почему мы любим bh-шаблоны такими, какие они сейчас.
Мне кажется мы одна из немногих команд, кто использует bem-components внутри компании. И мы просто влюблены в нее с первых дней. Так сильно, что пропагандируем ее везде вокруг себя. Давайте прислушиваться к мнению потребителей (т.е. и нас в том числе), особенно если они аргуметированы.

[2015-05-06 08:26] voischev commented on #1286
Мне пока нравится что пишет @zxqfox

[2015-05-06 10:15] tadatuta commented on #1286
@remnev Дима привел 6 аргументов против моих 3. В обсуждении мы выяснили, что половина из них на самом деле на аргументы не тянет.

Уже двое активных пользователей тоже высказались против оберток.

Предлагаю попробовать поискать решения, которые устроят всех.

Ну, например, можно ведь руками писать без оберток и заворачивать в common-js во время сборки, если это действительно имеет смысл. При этом

[2015-05-06 10:20] qfox commented on #1286
Ребят, мне сейчас больше всего не нравится, что как ни крути — файлы надо готовить. Мы не можем что-то придумать, чтобы их не надо было готовить хотя бы для какого-то использования? Либо же, писать шаблоны так, чтобы в них было минимум полезной информации и не приходилось подрезать и колдовать с ними.

Например, я не вижу ничего сатанинского в написании обертки для `.bh.js` и размещения в `require

[2015-05-06 10:33] qfox commented on #1286
@golyshevd А это, имхо, должно быть в bemtree или priv.js. В общем, неважно ;-)

[2015-05-06 14:11] idmytro opened #1496 "radio-group: inner borders jump on change"
Why don't use well-known `.radio_type_button + .radio_type_button {margin-left: -1px}` like github and bootstrap do?

[2015-05-06 15:13] indutny opened #1497 "BEMHTML: Use replace()"
**Blocked by: https://github.com/enb-bem/enb-bemxjst/issues/37**

Please consider using `replace()` instead of:

[code]

[2015-05-07 20:31] golyshevd commented on #1286
Это вариант, странный, но вариант.

Лично я считаю что privjs - это вынужденный костыль для BEMHTML (того который первый), без которого он абсолютно немощен, мы не почувствоали необходимость использовать privjs вместе с BH, потому что он - нормальный js, в котором можно вполне безобидно генерить контекст.

---

Вобщем, я буду повторять, но все же, я задам вопрос снова.
Почему му не хотим писать mo

[2015-05-07 20:34] qfox commented on #1286
@golyshevd Насколько я понял, вы шаблоны используете как модули, в т.ч. с содержанием какой-то бизнес логики, и вопрос именно в этом. Это не плохо и не хорошо, просто это уже не шаблоны, или не просто шаблоны, это js модули с шаблонами внутри.

**upd**

т.е., нет. ;-) У нас просто разный взгляд на .bh.js файлы (возможно и на шаблоны вообще).

На мой взгляд, в этом случае есть смысл именно разделят

[2015-05-07 20:51] qfox commented on #1286
@golyshevd Вообще, странно, что еще не прозвучало: «Простое — просто, сложное — возможно», потому что речь и про это тоже.

Если разделять, была похожая идея про bemhtml и bemhtml.js, и там суффикс js играет немного иначе, ставится противопоставление двух синтаксисов: `block link, tag a` vs `block('link').tag()('a')`. #1464
Т.е. один — кастомный синтаксис, второй — валидный js с кучей глобальных ф

[2015-05-07 20:59] golyshevd commented on #1286
Вовсе нет, смотря что ты называешь бизнес логикой. Вот смотри, табличечка (Это не BH но не суть) https://contest.yandex.ru/algorithm2013/contest/308/standings/, она совсем не простая, в шаблон приходит вполне определенная модель данных, но все равно в шаблонах не всегда можно обойтись только одними предикатами. В целом - это очень сложная страница, но ее вид определен еще на сервере, хотя варивант

[2015-05-07 21:28] qfox commented on #1286
Я по этому поводу на днях статью публиковал, если в отпуске — было бы здорово услышать критику двухпроходной шаблонизации ;-) https://medium.com/@qfox/34d55e3b8dfd
Т.е., если надо все переиграть — это не должно происходить в шаблоне, шаблон должен вью-ориентированную структуру переиграть в html. В т.ч. тот же формат урла, который генерируется во вью — это часть бизнес логики, которая, на мой взгля

[2015-05-07 21:38] tadatuta commented on #1286
@golyshevd Я уже писал о том, откуда желание отказаться от оберток: https://github.com/bem/bem-components/issues/1286#issuecomment-99261921, причины три.

Предлагаю чуть внимательнее разобрать список проблем, которые это за собой влечет:

Обертка же одинаковая, это простой search'n'replace в файлах *.bh.js.

Все тест-тулы, которые мы используем и всем рекомендуем никак переписывать не придется — п

[2015-05-13 12:57] sipayRT commented on #1223
@deeonis ping

[2015-05-13 18:06] #1494 closed, assigned to sipayRT

[2015-05-13 22:30] aristov opened #1501 "dropdown: improve JAWS readability"
JAWS should read
- [x] `dropdown` as "button-menu collapsed"
- [x] `_disabled` as "unavailable"
- [x] `dropdown_opened` as "button-menu expanded"
- [x] `popup` field of `dropdown_opened` as corresponding `popup` block
- [x] `switcher` field

Check and fix divergencies.

[2015-05-14 13:50] aristov commented on #1421
Could you describe issue details please?

[2015-05-14 13:59] blond commented on #1421
It is necessary to move part of the code about HTML-bundle build to helper:
- build file list
- build css
- build browser js with templates
- build HTML files

[2015-05-14 14:01] aristov opened #1502 "dropdown: move `onSwitcherClick` method to prototype"

[2015-05-17 00:42] golyshevd commented on #1286
@zxqfox

В отпуске один раз только был интернет. Но почитаю статью, спасибо.

Сто раз об этом думал, где грань в которой пересекаются BEMHTML и BEMTREE/privjs. Получается в bemhtml только теги надо расставлять? Мы долго философствовали на эту тему и продолжаем думать. Один проход просто избавляет от этих мыслей. Но вообще ничего не имею против такой шаблонизации, писали на xslt. Сначала data->view

[2015-05-17 00:51] golyshevd commented on #1286
PS: Мне все больше начинает казаться что вопрос для меня становится все более просто принципиальным, однако, я по прежнему уверен, что решение, которое я предлагаю, не сложнее вашего. Осовенно тем, что для его реализации не нужно делать ничего. С текущим форматом шаблонов уже живут пользователи. Кто то вырезает, кто-то browserify-ит, но весь код уже написан

[2015-05-17 00:56] qfox commented on #1286
Только ведь в него нужно передать какой-то контекст — т.е., без доп. работы все равно не обойтись. Это все равно доп. знания, даже если по commonjs в виде модуля шаблон написан.

Ну, это спекуляция ;-). Если сделать, условно, `global = mocha` и запуск деклараций в конце, то все остальное будет работать. Т.е. моке нужен такой же бутсрап, как и bh. Разница лишь в том, что для моки мы что-то в глобал

[2015-05-17 02:29] golyshevd commented on #1286
Данные? Ну конечно, но это не касается модуля, данные обрабатываются при вызове шаблона, а мы говорим про определение.

Явное всегдя лучше неявного. Мне лично это важно. Про моку скажу, что тоже не понимаю зачем там сделано так, мне дизайн не нравится.

Я имел ввиду из кучи модулей сделать один единственный, который будет являться шаблонизатором. Для сервера одним способом, а для бразера таким же,

[2015-05-17 03:09] qfox commented on #1286
Не данные, а библиотеку, которая соберет эти шаблоны в функцию: `bh.match` + `bh.apply`.

CommonJS — такое же «явное», я привел ссылку на то, как это работает. Так что, не аргумент.

Не аргумент ;-) Это субъективно.

Если сейчас не нужна bem-components, то о чем вообще спор?

[2015-05-17 12:51] tadatuta commented on #1286
Так уж сложилось, что во всех наших библиотеках мы поддерживаем оба набора шаблонов и обязаны гарантировать, что для одинаковых входных данных получится эквивалентный HTML на выходе. У нас есть пользователи, которые используют разные шаблонизаторы на разных проектах или мигрируют с одного на другой. Очевидно, что чем меньше будет различий, тем проще и нам и нашим пользователям. Сейчас ведется рабо

[2015-05-17 14:59] golyshevd commented on #1286
@zxqfox

Хватит говорит очевидные вещи

Не понял, что за игра слов. Ты говоришь что mocha и common-js это одно и то же, я говорю что commonjs  это лучше потому что там явное определение. Как это не агрумент?

Это и не было аргументом, просто мнение

Где я сказал что она не нужна?

@tadatuta

Если вы такие добрые, то можете написать конвертер, а не изменять форматы шаблонов.

Замечательно

Так може

[2015-05-17 16:21] qfox commented on #1286
Если я верну твои же слова — ты мне опять скажешь:

:-)

Вы уж определитесь против чего протестуете ;-)

[2015-05-18 11:48] dfilatov opened #1503 "Release 2.2.0"
I dunno exactly, but according to semver it should be 2.2.0 because of fb1ab8598c161e9d7a1f1d1bc8fdfb60b9231989

[2015-05-19 09:27] aristov opened #1504 "input: improve JAWS readability"
JAWS should read
- [x] `input` as "edit"
- [x] `input_type_password` as "password edit"
- [x] `input_type_search` as "edit"
- [x] `_disabled` as "unavailable"
- [x] `val` field
- [x] `val` field of `input_type_password` as "star, star, star"
- [x] `placeholder` field of `input_focused`

Check and fix divergencies.

[2015-05-19 10:47] sipayRT opened #1505 "Update enb-* packages"

[2015-05-19 11:45] voischev opened #1506 "checkbox, radio: emit change"
Почему эти блоки не кидают событие change?

[2015-05-19 11:49] tadatuta commented on #1506
Потому что можно подписаться на изменение модификатора.

[2015-05-19 12:28] voischev commented on #1506
@tadatuta Приведи пример и можно закрыть

[2015-05-19 14:17] veged commented on #1286
ОМГ!!!11 господа, 100500 листов каких-то бесконечных текстов :-( соберитесь на митинг, обсудите голосом, а сюда запишите результаты

[2015-05-19 14:32] tadatuta commented on #1503
depends on https://github.com/enb-bem/enb-bemxjst/issues/38

[2015-05-19 14:59] deeonis commented on #1223
@mishanga @sipayRT уточню в ближайшие пару дней

[2015-05-19 15:04] tadatuta commented on #1506
[code]

[2015-05-19 15:04] #1506 closed, assigned to nobody

[2015-05-19 15:14] #1505 closed, assigned to sipayRT

[2015-05-19 19:05] voischev commented on #1506
а такое `this.findBlockInside('checkbox').on({ modName: 'checked', modVal: '*' }, function(e, data) {})` тоже же работает внутри блока родителя?

[2015-05-19 20:58] narqo commented on #1506
@voischev «событие изменения модификатора» ничем, принципиально, не отличаются от обычных БЭМ-событий. Единственное отличие — в `data` параметре придет структура `{ modName, modVal, oldModVal }`.

Такие события работают везде, где работают БЭМ-события: `on()`, `un()`, `liveInitOnBlock*()` и пр.

Примеры:
- [menu](https://github.com/bem/bem-components/blob/v2.1.1/common.blocks/menu/menu.js#L223-L22

[2015-05-20 07:22] voischev commented on #1506
@narqo @tadatuta Красота! Спасибо!

[2015-05-20 16:13] voischev commented on #1286
@golyshevd

Во второй проход BEMHTML на самом деле не только про теги и атрибуты. Все таки... туда очень удобно что всю мишуру сложить вроде 6-ти дополнительных тегов для скругления уголков. И еще всякой логики для красивостей в верстке, можно еще много полезностей придумать, особенно когда появляется дополнительный уровень про другой дизайн на одни и те же данные. За счет этого BEMTREE получается

[2015-05-20 17:03] remnev commented on #1286
@mdevils Марат, можешь рассказать, зачем ты придумал commonJS обвязку над шаблонами? И что думаешь по поводу того, чтобы ее выпилить?

[2015-05-20 18:30] mdevils commented on #1286
@remnev Я её не придумывал. CommonJS — стандарт, который используется в NodeJS. Проекты, над которыми я работал, используют NodeJS. Логично было использовать CommonJS. В результате получаешь нормальную отладку, сообщения об ошибках с правильными строками и т.п.

[2015-05-21 10:14] remnev commented on #1286
@mdevils Спасибо. А что думаешь по поводу ее выпилить в связи с аргументами, которые тут приводились:
- чтобы не вырезать эту обвязку для клиентских шаблонов
- чтобы не копипастить из шаблона в шаблон обвязку
- чтобы улучшить консистентность с bemhtml, где обвязки нет
- чтобы не дропать require кеш после правок в шаблонах при разработке

и при  этом потерять:
- нормальную отладку с сообщениями об

[2015-05-21 10:24] mdevils commented on #1286
@remnev По мне как чем проще и универсальнее, тем лучше. А пару лишних строк кода мне несложно писать. Про консистентность с `bemhtml` я ничего не могу сказать, т.к. BH был разработан именно из-за недостатков `bemhtml`.

Какой-то кеш в любом случае придется дропать. Если, конечно, не использовать различные изощренные подходы вроде `eval` / `vm`.

Мы использовали эту функцию в одном из проектов, чт

[2015-05-21 11:38] deeonis commented on #1074
designers:
«Сейчас нам кажется, что размером XL слишком много неопределенности, чтоб фиксировать его в гайде. Когда сервису не хватило размера L, он начинает рашать какую-то очень кастомную задачу»

[2015-05-21 11:38] deeonis commented on #1074
Подождем конкретных кейсов для чекбокса с размером XL. Если не появятся — закроем

[2015-05-21 11:39] deeonis commented on #1073
@tadatuta @narqo ping

[2015-05-21 11:55] deeonis commented on #877
we will wait for new guidelines

[2015-05-21 12:04] veged commented on #448
the best what we invent is do something like this:

[code]

but since that issue doesn't hurt anyone much I suggest to wait for better approaches

[2015-05-22 17:20] aristov opened #1508 "menu, menu-item: improve JAWS readability"
JAWS should read
- [x] `menu_focused` as "menu"
- [x] menu activation (by spacebar) as the first `menu-item` of `menu_focused`
- [x] `menu_focused` modifier removal as "leaving menus"
- [x] `menu_disabled` as "menu unavailable"
- [x] `content` field of `menu` as list of `menu__group` and `menu-item` entities
- [x] `menu__group` with specified `title` field as "group start" / "group end"
- [x] `tit

[2015-05-22 19:30] narqo commented on #1073
The common usecase which hurts:

[code]

As @tadatuta has already noticed, you can't add `margin` style to `.head-toolbar__action`, without adding `mustDeps` dependency from `button_theme_islands`.

The same things happen if try to mix something to elements (or nested blocks) of islands themed blocks, like `menu > menu-item` or `menu-item_type_link > link`

[2015-05-25 14:06] aristov opened #1509 "modal: improve JAWS readability"
JAWS should read
- [ ] `modal_visible` with focusable controls inside as "dialog"
- [ ] `content` field

Check and fix divergencies.

[2015-05-25 14:08] aristov opened #1510 "popup: improve JAWS readability"
JAWS should read
- [x] `popup_visible` with focusable controls inside as "dialog"
- [x] `content` field

Check and fix divergencies.

[2015-05-25 16:15] aristov opened #1511 "progressbar: improve JAWS readability"
JAWS should read
- [x] `progressbar` as "progressbar"
- [x] `val` field + "percent"

Check and fix divergencies.

[2015-05-25 19:57] aristov opened #1512 "radio, radio-group: improve JAWS readability"
JAWS should read
- [x] `radio` as "radio-button not checked"
- [x] `radio_checked` as "radio-button checked"
- [x] `_disabled` as "unavailable"
- [x] `text` field of `radio`
- [x] `title` field of `radio_type_button`
- [x] `radio-group_focused` as inner `radio_checked`
- [x] `radio-group_disabled` as additional "unavailable" to each inner option
- [x] `val` field of `radio-group_focused` as corres

[2015-05-26 05:56] dfilatov commented on #1503
Are we still waiting for something?

[2015-05-26 07:49] Guria opened #1513 "[menu] base template for block contains logic only for one mod."
https://github.com/bem/bem-components/commit/da75b8177b9aa73ab80e068a7d55727c6daf6803 introduced logic which demanded only by `menu_mode_radio` template.
It iterates over content to set properties `_firstItem` and `_checkedItems`. Iteration function has assumption that `menu` should contain only `menu-item` or `menu__group`. It very inconvinient when we try to put inside block `menu` another eleme

[2015-05-26 07:51] Guria commented on #1513
I can provide a PR if you accept my proposal.
Also I suppose to block #1503 because such changes also will require a minor version bump.

[2015-05-26 08:30] AndreyGladkov opened #1514 "input, textarea: _width_available не работает без модификатора _theme"
Ребят вопрос по этому модификатору, прикрутил bem-components к своему проекту, заюзал input  c модификатором width:available который должен распирать на всю ширину input, но этого не происходит, потому как у вас в css

[code]

и в bemhtml

[code]

А тег span это inline, а надо бы задать display: inline-block что бы width работал, и протащить по остальному каскаду вложенности.
Или я что то не прави

[2015-05-26 11:21] aristov commented on #1514
Вероятно ты используешь блок без темы: https://github.com/bem/bem-components/blob/v2/design/common.blocks/input/_theme/input_theme_islands.styl#L7
Если тебе нужно сделать свою тему, то ты можешь просто написать эти стили на своем уровне.

[2015-05-26 11:38] tadatuta commented on #1514
@aristov
На самом деле это все равно баг, т.к. мы специально выносили `_width_available` из темы (https://github.com/bem/bem-components/pull/1405) :(

[2015-05-26 12:25] voischev commented on #1514
:+1:

[2015-05-26 12:54] aristov commented on #1513
// cc @narqo

[2015-05-26 16:28] narqo commented on #1513
The main purpose of changes from da75b81 is [this exact line](https://github.com/bem/bem-components/blob/67b454e80fd8038d9edd73275a9119e44a2d97cb/common.blocks/menu/menu.bemhtml#L22). E.g. we need to map values from `val` property to nested `menu-item`s. We can't make it for `_mode_radio` only.

The same thing goes to `if(!this.isArray(ctx.content)) throw Error` question. `ctx.content` as an Array

[2015-05-26 20:57] Guria commented on #1513
I have tried and didn't find an acceptable solution. I can't just skip def mode from bem-components, because I need somehow to get def from bem-core's i-bem.bemhtml. Could you provide an example?

[2015-05-26 21:05] Guria commented on #1513
I can accept your point but still ask one little change which will resolve my issue: add check of existence of `ctx.content` before `iterateItems(itemOrGroup.content)` call.
Please let us make great things on top of bem-components. This little change will help to adopt menu block in more cases.

[2015-05-26 21:08] Guria commented on #1513
Please let us make great things on top of bem-components. This little change will help to adopt `menu` block in more great cases.

[2015-05-27 12:27] Guria commented on #1513
The only way I managed to solve my issue:

[code]

[code]

to finally get

[code]

[2015-05-27 12:30] aristov opened #1515 "textarea: improve JAWS readability"
JAWS should read
- [x] `textarea` as "edit"
- [x] `textarea_disabled` as "edit unavailable"
- [x] `textarea_focused` with specified `val` field as "edit, contains text"
- [x] `val` field
- [x] `placeholder` field of `textarea_focused`

Check and fix divergencies.

[2015-05-27 13:24] Guria opened #1516 "[menu] global context properties"
`_firstItem` and `_checkedItems` properties [set as global](https://github.com/bem/bem-components/blob/v2.1.1/common.blocks/menu/menu.bemhtml#L36-L37) in context.

[code]

[code]

[code]

[2015-05-27 13:25] Guria commented on #1513
See also #1516.

[2015-05-27 13:29] Guria commented on #1513
This whole iterateItems thing really hard to understand without deep debugging.
I wasn't able to understand if [expression from menu.bemhtml](https://github.com/bem/bem-components/blob/v2.1.1/common.blocks/menu/menu.bemhtml#L22) and [very similar expression from menu_mode_radio.bemhtml](https://github.com/bem/bem-components/blob/v2.1.1/common.blocks/menu/_mode/menu_mode_radio.bemhtml#L5) does the

[2015-05-27 18:17] narqo commented on #1516
Nice catch, thanks! We will fix it in the nearest future

[2015-05-27 18:26] narqo commented on #1513
I'm still not sure I understand, what exactly you're doing. Could you show some real example?

Actually they do the same things, but from the point of how `menu_mode_radio` should behave. There is [an additional predicate](https://github.com/bem/bem-components/blob/v2.1.1/common.blocks/menu/_mode/menu_mode_radio.bemhtml#L3) in the template for `_mode_radio`. If no items have been checked, `_mode_r

[2015-05-27 22:01] aristov opened #1517 "select: improve JAWS readability"
JAWS should read
- [x] `select_focused` as "listbox"
- [x] `select_disabled` as "listbox unavailable"
- [ ] ~~`select_mode_check` as "extended select listbox"~~
- [ ] ~~`val` field as corresponding `options` list item's `text` field + "listbox item selected"~~
- [x] `text` field
- [x] position of selected option and total length of `options` list as "[position] of [length]"

Check and fix divergen

[2015-05-28 00:38] aristov opened #1519 "link_pseudo: wrong focus on _disabled state"
DOM-node might receive focus after `link.setMod('disabled', true)`.

[2015-05-28 01:58] aristov commented on #1476
http://www.w3.org/TR/wai-aria/roles#link
http://www.w3.org/TR/wai-aria/roles#button
http://www.w3.org/TR/wai-aria/states_and_properties#aria-disabled

[2015-05-28 02:06] aristov commented on #1479
http://www.w3.org/TR/wai-aria/roles#button
http://www.w3.org/TR/wai-aria/roles#link
http://www.w3.org/TR/wai-aria/states_and_properties#aria-pressed
http://www.w3.org/TR/wai-aria/states_and_properties#aria-checked
http://www.w3.org/TR/wai-aria/states_and_properties#aria-disabled

[2015-05-28 02:11] aristov commented on #1488
http://www.w3.org/TR/wai-aria/roles#img

[2015-05-28 05:59] dfilatov commented on #1503
ping

[2015-05-28 13:39] narqo commented on #1516
Actually, it shouldn't hurt any "real life" usage (as these flags will be reassigned for each menu instance).

But anyway, could you make a separate PR for the issue, so we will merge it?

[2015-05-28 15:20] aristov commented on #1492
Depends on #1479.

[2015-05-28 16:05] aristov opened #1521 "checkbox-group: improve JAWS readability"
JAWS should read
- [x] `checkbox-group` as "group start" / "group end"
- [x] `options` field as list of inner `checkbox` blocks take into account `_type_button` modifier
- [x] `checkbox-group_focused` as inner `checkbox_focused`
- [x] `checkbox-group_disabled` as additional "unavailable" to each option
- [x] `val` field as additional "checked" to corresponding options
- [x] `val` field of `chekbox

[2015-05-28 16:10] aristov commented on #1521
Depends on #1492, #1522.

[2015-05-28 16:11] aristov commented on #1521
http://www.w3.org/TR/wai-aria/roles#group

[2015-05-28 16:17] aristov opened #1522 "control-group: improve JAWS readability"
JAWS should read
- [x] `control-group` as "group start" / "group end"
- [x] `content` field as list of specified controls

Check and fix divergencies.

[2015-05-28 16:17] aristov commented on #1522
http://www.w3.org/TR/wai-aria/roles#group

[2015-05-28 16:22] tadatuta commented on #1460
jfyi, https://nda.ya.ru/3QjAfE

[2015-05-28 17:04] Guria commented on #1516
Okay

[2015-05-28 23:03] qfox commented on #1503
Don't know why to wait. Let it live!

[2015-05-29 00:00] qfox commented on #1516
:+1: for that fix but looks like it's breaking change.

[2015-05-29 05:18] Guria commented on #1516
@zxqfox #1523 just bug fix, #1520 more serious change but I don't see what it can brake

[2015-05-29 17:13] aristov commented on #1517
Depends on #1508, #1510, #1479.

[2015-05-29 17:15] aristov commented on #1491
Depends on #1479.

[2015-05-29 17:17] aristov commented on #1515
Depends on #1504.

[2015-05-29 17:26] aristov commented on #1509
Depends on #1510.

[2015-05-29 17:35] aristov commented on #1508
Depends on #1476.

[2015-05-29 17:38] aristov commented on #1501
Depends on #1510, #1476, #1479.

[2015-05-29 17:39] aristov commented on #1492
http://www.w3.org/TR/wai-aria/roles#checkbox
http://www.w3.org/TR/wai-aria/roles#button
http://www.w3.org/TR/wai-aria/states_and_properties#aria-checked
http://www.w3.org/TR/wai-aria/states_and_properties#aria-disabled
http://www.w3.org/TR/wai-aria/states_and_properties#aria-pressed

[2015-05-29 17:56] aristov commented on #1517
http://www.w3.org/TR/wai-aria/roles#listbox
http://www.w3.org/TR/wai-aria/roles#option
http://www.w3.org/TR/wai-aria/states_and_properties#aria-disabled
http://www.w3.org/TR/wai-aria/states_and_properties#aria-selected
http://www.w3.org/TR/wai-aria/states_and_properties#aria-multiselectable
http://www.w3.org/TR/wai-aria/states_and_properties#aria-owns
http://www.w3.org/TR/wai-aria/states_and_prope

[2015-05-29 18:00] aristov commented on #1515
http://www.w3.org/TR/wai-aria/roles#textbox
http://www.w3.org/TR/wai-aria/states_and_properties#aria-multiline
http://www.w3.org/TR/wai-aria/states_and_properties#aria-disabled

[2015-05-29 18:16] aristov commented on #1512
Depends on #1479, #1522.

[2015-05-29 18:17] aristov commented on #1512
http://www.w3.org/TR/wai-aria/roles#radio
http://www.w3.org/TR/wai-aria/roles#radiogroup
http://www.w3.org/TR/wai-aria/states_and_properties#aria-checked
http://www.w3.org/TR/wai-aria/states_and_properties#aria-disabled

[2015-05-29 18:17] aristov commented on #1511
http://www.w3.org/TR/wai-aria/roles#progressbar
http://www.w3.org/TR/wai-aria/states_and_properties#aria-valuenow

[2015-05-29 18:25] aristov commented on #1510
http://www.w3.org/TR/wai-aria/roles#dialog
http://www.w3.org/TR/wai-aria/states_and_properties#aria-hidden

[2015-05-29 18:39] aristov commented on #1508
http://www.w3.org/TR/wai-aria/roles#menu
http://www.w3.org/TR/wai-aria/roles#menuitem
http://www.w3.org/TR/wai-aria/roles#menuitemcheckbox
http://www.w3.org/TR/wai-aria/roles#menuitemradio
http://www.w3.org/TR/wai-aria/roles#group
http://www.w3.org/TR/wai-aria/states_and_properties#aria-checked
http://www.w3.org/TR/wai-aria/states_and_properties#aria-disabled
http://www.w3.org/TR/wai-aria/states_a

[2015-05-29 18:41] aristov commented on #1504
http://www.w3.org/TR/wai-aria/roles#textbox
http://www.w3.org/TR/wai-aria/states_and_properties#aria-disabled

[2015-05-29 18:45] aristov commented on #1501
http://www.w3.org/TR/wai-aria/roles#button
http://www.w3.org/TR/wai-aria/states_and_properties#aria-disabled
http://www.w3.org/TR/wai-aria/states_and_properties#aria-expanded
http://www.w3.org/TR/wai-aria/states_and_properties#aria-owns
http://www.w3.org/TR/wai-aria/states_and_properties#aria-controls
http://www.w3.org/TR/wai-aria/states_and_properties#aria-haspopup

[2015-05-29 18:47] aristov commented on #1491
http://www.w3.org/TR/wai-aria/roles#button
http://www.w3.org/TR/wai-aria/states_and_properties#aria-disabled

[2015-06-01 10:39] oberset opened #1527 "На windows платформе у селекта закрывается popup при отжатии бегунка скроллинга"
Пример бага: https://nda.ya.ru/3Qjer7

На windows когда скроллим список в селекте, удерживая мышкой бегунок скролла и отпускаем его - popup самопроизвольно закрывается.

[2015-06-01 12:21] narqo opened #1528 "Specs fail to run due to CORS problems in phantomjs and yastatic.net"
After HSTS has been added to yastatic.net, our specs start to fail randomly with an error:

[code]

I've already tried:
- to hardcode `https://` protocol to jquery loader (#1524)
- to downgrade phantomjs to 1.9.7 as mocha-phantomjs#167 suggests (#1525)

but had no luck :(

Currently, the only way to fix it is to switch to some other CDN server without HSTS (see #1526). But we need to find other so

[2015-06-01 12:38] dfilatov commented on #1503
@tadatuta ?

[2015-06-01 13:32] tadatuta opened #1530 "dist: Switch on mimic for BH"

[2015-06-01 13:37] #1472 closed, assigned to narqo

[2015-06-01 15:21] #1516 closed, assigned to nobody

[2015-06-01 15:51] #1006 closed, assigned to dfilatov

[2015-06-01 18:25] narqo commented on #1503
:+1:

[2015-06-01 21:17] tadatuta commented on #1530
Closed by https://github.com/bem/bem-components/commit/36e6fe3248130becd759f56c21ea042e4df15a56

[2015-06-01 21:17] #1530 closed, assigned to tadatuta

[2015-06-01 21:46] tadatuta commented on #1503
https://github.com/bem/bem-components/pull/1532

[2015-06-02 08:15] #1513 closed, assigned to nobody

[2015-06-02 15:29] Guria opened #1535 "Migrate to postcss in major version update"
PostCSS could manage all needed build steps.
What you think about migration on it in next major update?

[2015-06-02 15:55] blond commented on #1535
:+1:

[2015-06-02 16:11] tadatuta commented on #1535
@Guria migrate from `borschik`? It there a reason for that if we still need `borschik` for JS-based techs and can share same config?

[2015-06-02 16:36] Guria commented on #1535
@tadatuta I mean all css transformations:
[postcss-import](https://github.com/postcss/postcss-import), [postcss-simple-vars](https://github.com/postcss/postcss-simple-vars), [postcss-nested](https://github.com/postcss/postcss-nested) with [postcss autoprefixer](https://github.com/postcss/autoprefixer) could replace stylus with autoprefixer.
[Fallback plugins](https://github.com/postcss/postcss#fal

[2015-06-02 17:24] #1503 closed, assigned to tadatuta

[2015-06-05 15:08] aristov opened #1537 "spin: improve JAWS readability"
Should we add any sound notification for [`spin_visible`](https://ru.bem.info/__example/bem-components/v2.2.0/desktop.examples/spin/NadQI6Wwr2e2t73Ypu5Vp3Jg6JI/NadQI6Wwr2e2t73Ypu5Vp3Jg6JI.html)?

[2015-06-05 15:08] aristov commented on #1537
cc @ruslansagitov

[2015-06-08 11:02] Guria commented on #1345
@blond  #1420 could be marked as checked on list
is there any ETA on this task?

[2015-06-08 11:31] blond commented on #1345
Thanks, fixed.

no :(

[2015-06-08 15:28] deeonis commented on #1223
Еще и фон туда добавили:

![2015-04-15_2024](https://cloud.githubusercontent.com/assets/5645467/8038423/1fc8099a-0e0c-11e5-8fd7-95d4751e536e.png)

[2015-06-08 15:29] dfilatov commented on #1223
Надеюсь, это шутка про такой фон?

[2015-06-08 15:32] sipayRT commented on #1223
o_0 это уже какая-то кнопка получается, а не ссылка. Может добавим outline и разойдемся?

[2015-06-08 15:54] deeonis commented on #1223
@dfilatov не шутка, только что получил этот макет

[2015-06-08 16:24] qfox commented on #1223
@deeonis Wow.

[2015-06-09 06:49] ruslansagitov commented on #1537
I guess no. I see it as a decoration. You may set `aria-busy` on `<body>` or any enclosing element, which is updating, to notify about the change but as I know no browsers are support this state.

[2015-06-09 08:30] dfilatov commented on #1223
Давайте дождемся когда дизайнер протрезвеет.

[2015-06-09 08:33] sipayRT commented on #1527
Какой браузер и его версия?

[2015-06-09 09:55] dfilatov opened #1538 "checkbox: isn't possible to check by click in chrome-based browsers"
I think you've broken this by b26d1670b9cdc73dedda37d23e5daac628a37b57
It's a critical issue.

Looks like the problem appears in most desktop and touch browsers but only in `_size_m`.

[2015-06-09 11:30] #1538 closed, assigned to narqo

[2015-06-09 11:32] dfilatov opened #1540 "Release 2.2.1"
We solved a critical issue #1538 so we need to release a new version asap.

[2015-06-09 11:43] #1540 closed, assigned to dfilatov

[2015-06-09 12:04] mishanga commented on #1223
![ee_7](https://cloud.githubusercontent.com/assets/521273/8057306/c79941fa-0eb8-11e5-87d6-f721b8512a99.gif)

[2015-06-09 12:49] narqo commented on #1223
«Выглядит как опенсоурс»

[2015-06-09 14:01] qfox opened #1542 "menu: Add test for group.content"
Covers #1523

[2015-06-09 14:02] Guria commented on #1542
ты уже делаешь?

[2015-06-09 14:03] qfox commented on #1542
@Guria #1543 — пойдет?

[2015-06-09 14:04] qfox commented on #1542
/cc @narqo

[2015-06-09 15:16] narqo opened #1544 "modal: gemini tests are broken"
Looks like the height of the browser window in tmpl-specs have been changed. [See diff report](http://bem.github.io/reports/4987/gemini-report/)

[2015-06-09 16:19] qfox commented on #1544
barking...

[2015-06-09 19:10] #1544 closed, assigned to narqo

[2015-06-10 13:27] narqo opened #1546 "Run gemini tests for PR that comes from forks"
We run gemini tests only for PRs that are made from "bem/bem-components" own branches. But, as the amount of contribution grows, it will be very useful to run tests for every PRs.

We can try to use different SauceLabs accounts for our own PRs and for PRs that comes from contributors, to minify the risk of the open quota overconsumption.

@tadatuta you've told that you would try to investigate the

[2015-06-10 13:27] narqo commented on #1546
/cc @arikon

[2015-06-10 16:07] #1537 closed, assigned to nobody

[2015-06-10 17:59] deeonis commented on #1223
Уточню еще разок

[2015-06-11 12:11] narqo commented on #1528
Looks like the problem somehow connected with [Travis native infrastructure](http://docs.travis-ci.com/user/workers/standard-infrastructure/). At least it looks so, as the problem has disappeared in bem-core after we'd switched to container based infrastructure in bem/bem-core#1049.

Unfortunately we can't use containers for bem-components as we [need to install `graphicsmagick` for gemini](https:

[2015-06-11 13:39] dfilatov commented on #1514
Вынести стили для `_width_available` из темы в коммон было ошибкой. Какие стили нужны блоку в конкретной теме, чтобы растягиваться на всю ширину, может решаться только в пределах темы с учетом всех остальных стилей. Кажется эту булочку мы уже ели.

[2015-06-11 14:03] aristov commented on #1527
@narqo ping

[2015-06-11 14:06] aristov commented on #1519
TODO: check if this problem occurs in other blocks.

[2015-06-11 15:04] narqo commented on #1527
Кажется, это IE 10, но я уточню

[2015-06-14 08:07] qfox commented on #1514
@dfilatov :+1: :smirk_cat:

[2015-06-14 23:53] aristov opened #1548 "input, textarea, select: theme specific styles at common level"
Move `_width_available` styles under `_theme` modifier on `design` level. Look #1514 for details.

[2015-06-14 23:53] aristov commented on #1514
#1548

[2015-06-14 23:53] #1514 closed, assigned to sipayRT

[2015-06-16 17:24] aristov opened #1550 "readme: bh link is broken"
`bh` documentation link in [technologies section](https://github.com/bem/bem-components/#technologies) is broken. Maybe there's a problem on [our website](http://bem.info).

[2015-06-18 11:53] sipayRT commented on #1522
@aristov
For using `role=group` attribute we need to add also `aria-label`. But this attribute should be filled. For example:

[code]

But in this case JAWS text will be as "group start group" instead of "group start". We can change role to `list`, but it's not right way.

@ruslansagitov maybe, you can help us? For clarify:
we have group of buttons with wrapper called as `control-group`. What role

[2015-06-18 12:15] sipayRT commented on #1522
also child elements can be not just a button but items with custom tags too.

[2015-06-18 12:54] aristov commented on #1522
@sipayRT we can use `aria-label="."` as the simplest solution. It provides the desired behaviour ("group start" / "group end") and doesn't add redundant things.
But I propose to raise the question about addition something like `title` field to `control-group` and `checkbox-group` blocks API. It can be expressed as `title` or `aria-label` attribute without visual representation in `islands` theme,

[2015-06-19 09:19] ruslansagitov commented on #1522
Well, I’m not quite sure of what the `control-group` is but you can use the group role without the `aria-label` property. It will be said as “group start … group end”. I guess, it’s enough for `control-group`.

Also, you need to allow users to set the `aria-label` manually if they really need it.

[2015-06-19 15:05] sipayRT commented on #1522
@ruslansagitov Tested in FF with JAWS(version 16). With HTML like

[code]

it said just "option one, option two". After adding `aria-label` it said properly

[2015-06-22 09:09] ruslansagitov commented on #1522
@sipayRT Try to use the Tab key. I guess, inside the `control-group`, you place a control, which steals focus on Tab. JAWS should say that now you are on some control, which is inside some group. I can’t confirm it right now but it should work that way.

I think you should not do anything than adding `role=group` in this case. Try to test in other screen readers, in NVDA, for example.

[2015-06-26 11:20] tadatuta opened #1559 "JSDoc: Add description about events"
Now there's no way to learn about BEM events of the blocks but to read souce code :(

[2015-06-26 17:19] tadatuta opened #1560 "button: Fix deps"

[2015-06-26 21:05] tadatuta opened #1562 "Check if menu__group_has-title dependency is really useful"
Now in `common.blocks/menu/menu.deps.js` there's `{ elems : { elem : 'group', mods : { 'has-title' : true } } }` dependency which is only referenced in two files in `bem-components`:
1. common.blocks/select/__menu/select__menu.bemhtml
2. common.blocks/select/__menu/select__menu.bh.js
and as so looks quite strange at least in `meny.deps.js` file.

[2015-06-26 21:25] tadatuta opened #1563 "input: Fix deps"

[2015-06-29 15:55] 4ok opened #1565 "Uncaught Error: Module "textarea": can't resolve dependence "input""
Textarea не подтягивает в сборку технолгию js блока input, хотя в deps он прописан

[2015-06-29 16:08] blond commented on #1565
Скорее всего это особенности сборки. У `js` технологии блока `textarea` есть зависимость от `js` технологии блока `input`: https://github.com/bem/bem-components/blob/v2/common.blocks/textarea/textarea.deps.js#L10-L13.

Чтобы они попали нужно проделать ряд дополнительных манипуляций при сборке: https://github.com/bem/bem-components/blob/v2/.enb/make.js#L73-L94

[2015-06-29 16:16] Guria commented on #1565
Как раз недавно думал что за js-js такой в конфиге ENB. Зачем такое усложнение?

[2015-06-29 17:37] narqo commented on #1565
Это было сделано, чтобы при подключении на страницу только `textarea` не приезжали шаблоны и CSS блока `input`. По факту, `textarea` нужен только js-блока `input` в качестве baseBlock'а.

@blond а нет в планах (хотя бы на 2015-й :) начать делать честные `depsByTech`, чтобы результат сборки технологией deps, был не просто список БЭМ-сущностей, а полный граф зависимостей `tech → tech`?. Все текущие

[2015-06-29 17:42] Guria commented on #1565
На сколько я понимаю сейчас это не работает и все равно приезжает весь блок? И при этом усложняется корректная сборка в сторонних проектах. Сама сборка тоже не очень документированы.

[2015-06-29 17:45] Guria commented on #1565
И если уж нужна такая хитрая зависимость корректнее было бы сделать в обычных shouldDeps зависимость от технологии js блока input.

[2015-06-29 17:54] blond commented on #1565
ты хотел сказать 2016-й? ))

В очень слабом приоритете есть — https://github.com/bem-incubator/bem-deps/issues/2. Прямо сейчас пишем [спецификацию](https://github.com/bem-incubator/bem-deps/tree/master/spec). Пока там всё сыро, план работ — https://github.com/bem-incubator/bem-deps/issues/3. Дальше спецификации в ближайшее время вряд ли что-то сделаем.

Нет, сейчас работает правильно. Проблема тол

[2015-06-30 09:23] Guria commented on #1565
Я имел ввиду, что зависимость блока textarea, по идее, должна быть описана так:

[code]

Но как раз для этого и нужны "честные" `depsByTech`. Уточнение, что зависит именно технология js блока `textarea` избыточно, и требовалось только для выделения этого особого случая и сборки с помощью `js-js`.

Ага, понял. Понятно, что честные `depsByTech` гораздо более трудоёмки, чем дополнительные шаги для сб

[2015-06-30 09:34] blond commented on #1565
Не совсем так. Такая запись предполагала бы, что любая технология этого блока зависит от `js`.

И если говорить об честных зависимостях и «умной» сборке, то сборка бы решила, что чтобы корректно работала скажем `css`, то ей нужно ещё собрать `js` и как-то их склеить.

Наверное, соглашусь :)

@narqo, что скажешь?

[2015-06-30 09:51] Guria commented on #1565
Эта запись говорит, что блоку в целом нужна js технология другого блока и без неё не имеет смысла.

[2015-06-30 10:01] blond commented on #1565
Сборка не бывает абстрактной, она всегда по технологиям. Поэтому, если мы не указываем явно технологию, это равносильно `tech: '*'`.

Если в результате мы хотим получить только декларацию БЭМ-сущностей, то \* -> js и js -> js дадут одинаковый результат.

Но в общем случае результат разный, т.к. кроме самой декларации мы можем получить ещё дополнительную информацию о том, что эта декларация зависит

[2015-06-30 11:47] sipayRT opened #1566 "button: wrong definition of real button"
Now in templates we check just `type` modifier:

[code]

But if we will change in BEMJSON tag, for example, to `<div>`, variable `isRealButton` still will be `true`. It's wrong because we can't add some attributes such as `disabled` to `<div>`.

In the `attach` block it's very important because we use `<span>` tag instead of `<button>`. As a result — disabled button in `attach` block will be disab

[2015-06-30 13:34] sipayRT commented on #1566
@veged @dfilatov @narqo @tadatuta @aristov
Are we really need to keep in mind the possibility of changing the tag? Or we shouldn't support it?

[2015-06-30 14:02] tadatuta commented on #1566
as we already use different tag in `attach` I suggest to add the check for tag to `isRealButton` condition as well

[2015-07-01 11:49] narqo commented on #1565
Нормально, давайте напишем, только добавим комментарий, что это не «от хорошей жизни», а потому что нет нормальной поддержки `depsByTech`.

[2015-07-01 15:22] narqo commented on #1528
It turned out that gemini doesn't use `graphicsmagick` anymore, so all we need to do is update our build scripts and switch to containers.

[2015-07-01 21:43] tadatuta opened #1568 "dist: Freeze dev.css bundles"
Images in dev version of dist bundles are not freezed now: https://github.com/bem/bem-components-dist/blob/v2/desktop/bem-components.dev.css#L202

[2015-07-02 08:52] sipayRT commented on #1504
Block was tested. It complies with standarts

[2015-07-02 08:52] #1504 closed, assigned to nobody

[2015-07-02 08:52] sipayRT commented on #1515
Block was tested. It complies with standarts

[2015-07-02 08:52] #1515 closed, assigned to nobody

[2015-07-02 11:31] tadatuta opened #1569 "Switch from stylus to postcss"

[2015-07-02 11:34] awinogradov commented on #1569
Кажется я могу рассказать кучу проблем с этим связанных)))

[2015-07-02 11:36] tadatuta commented on #1569
жги!

[2015-07-02 11:37] Guria commented on #1569
#1535 ?

[2015-07-02 11:47] tadatuta commented on #1569
@Guria ага, закрываю

[2015-07-02 11:47] #1569 closed, assigned to nobody

[2015-07-02 12:59] Guria opened #1570 "input: support `text` attribute for label"
input fields often used with labels. `checkbox` and `radio` has `text` attribute for use as labels.
I suggest to add the same attribute for `input`.

[2015-07-02 13:44] tadatuta commented on #1570
@Guria actually it [was there](https://github.com/bem/bem-components/commit/c4ab364347f44417bfce38f6407f11de37f0d8d6).
We decided that `label` should be implemented as element of `form` block. Here's the discussion: https://github.com/bem/bem-components/issues/538.

Then `form` was considered to be quite huge to be separated into `bem-forms` library giving higher level interface to build forms. So

[2015-07-02 15:15] #1565 closed, assigned to narqo

[2015-07-02 18:48] Guria commented on #1345
remove js-js build step

[2015-07-03 11:21] narqo commented on #1527
@oberset ping, так и не выяснили про браузер

[2015-07-03 12:44] #1528 closed, assigned to narqo

[2015-07-06 11:16] aristov opened #1574 "input_disabled: explicit `false` value definition causes wrong state of control"
[code]

The code above creates `input` without `_disabled`, but with `disabled=""` attribute on `input__control`. The attribute should not be added on this state.

[2015-07-06 11:33] aristov commented on #1504
Ok.

[2015-07-06 11:37] aristov commented on #1515
Ok.

[2015-07-07 08:56] #1566 closed, assigned to sipayRT

[2015-07-07 16:37] narqo commented on #1223
BTW: Во внутренней переписке, дизайнеры предложили зафиксировать `outline: 2px solid #fc0`

[2015-07-09 13:37] #1560 closed, assigned to tadatuta

[2015-07-09 13:52] #1548 closed, assigned to sipayRT

[2015-07-09 13:57] aristov opened #1576 "menu: update documentation"
`content` field of `__group` is required. Look #1543 for details.

[2015-07-10 13:47] aristov opened #1577 "readme: add information about dist"

[2015-07-14 13:51] awinogradov commented on #1535
Problems:
- postcss-simple-vars plugin can't work with arrays. `$var: [1,2]; .sel_$(var[i]) {}` don't work
- you can't freeze js without borschik
- syntax highlithing don't work right on *.css with nested selectors, operators and variables
- you need compiled version of all css for every block, because many users don't use postcss
- postcss-each, postcss-for and postcss-simple-vars can work with c

[2015-07-14 14:35] tadatuta commented on #1535
@verybigman if there's such a lot of problems why have you switched to it? :)

[2015-07-14 14:59] awinogradov commented on #1535
@tadatuta We have many many hours with code refactoring in last weeks:)

[2015-07-14 15:10] tadatuta commented on #1535
OK, will try to ask what I really wanted to know: having this experience would you switch anyway? And why if so?

[2015-07-14 15:20] awinogradov commented on #1535
You really know postcss is not stylus and most of the code will have to rewrite. Especially in places where there are cycles. But cssnext features, automatic fallbacks and lost grid(bem-grid is wrapper for it now) cover all the shortcomings. Also simple plugins scheme allows you to do anything;) Furthermore CSS becomes similar to CSS and not arbitrary code contains. You must be prepared for the fa

[2015-07-15 12:01] tadatuta opened #1581 "Update islands theme"
- [x] ~~attach~~
- [ ] button
- [ ] checkbox, checkbox-group
- [x] ~~dropdown~~
- [ ] input
- [ ] link
- [x] ~~menu~~
- [x] ~~menu-item~~
- [x] ~~modal~~
- [ ] popup
- [x] ~~progressbar~~
- [ ] radio, radio-group
- [ ] select
- [x] ~~spin~~
- [x] ~~textarea~~

[2015-07-15 14:09] sipayRT commented on #1581
don't forget about #1484

[2015-07-15 16:20] narqo commented on #1581
Do we really want it to be 2.x minor? What if _someone_ overrides something in current `_theme_islands` (e.g. colours of the theme). We need to discuss potential damage :(

[2015-07-15 16:23] narqo commented on #1568
Don't we want to use more common naming for files, e.g. `library.js` for unminified version and `library.min.js` for minified?

[2015-07-15 16:41] tadatuta commented on #1568
I think in most cases minified versions will be used anyway so it's convenient to have it as short as possible. And for debug developers just need to add `dev` suffix.

[2015-07-15 17:03] narqo commented on #1568
The problem is that it's not obvious where this `.dev` suffix should be known from if user needs it.

As we usually use `_name.js` notation for minified version and there is no `min.js` file I was sure that we just don't have dev version on CDN.

Just look at the list here https://tech.yandex.ru/jslibs/

Anyway, I don't insist.

[2015-07-15 22:19] tadatuta commented on #1568
That's quite common approach but still there's no consistency there:
- backbone-min.js (minus instead of dot)
- dojo.js and dojo.js.uncompressed.js

We also checked some external libraries and found out that actually everybody choose different filenames. One company even chosen leading underscore for compressed version ;)

[2015-07-16 11:05] narqo commented on #1568
Ok, now as now how to get dev version I'm fine with current approach. It was just not obvious at first sight.

[2015-07-16 22:24] aristov opened #1583 "*_theme_contrast: implement"
Contrast theme provides a large and contrast controls. Look [special.mos.ru](http://special.mos.ru) for example.
This may be useful for a users with reduced vision.

This should replace the nonsensical `simple` theme.

[2015-07-17 09:49] aristov opened #1585 "Strict API"
Strict API prevents user to use incompatible parts of API together.
It throws exceptions when user try to
- change permanent mod on runtime
- use BEMJSON special field without compatible or with incompatible mod
- use public methods with wrong arguments

From discussions on working meetings with @veged @dfilatov @narqo.

[2015-07-17 10:26] aristov opened #1586 "Reorganize library structure"
Current scheme:

[code]

Proposal:

[code]

Move design and platform-specific redefinitions to the blocks folder.
Look [the branch](https://github.com/bem/bem-components/tree/reorganize-library-structure) for more detailed illustration.
We can keep all knowledge about the block in it's folder.
This change can help us to keep the codebase more clear and convenient.

[2015-07-17 10:33] qfox commented on #1586
:-1: for design, :+1: for the rest.

I'm not sure how much harder will be build process of that proposal, but it looks pretty well.

/cc @blond What you think about that?

[2015-07-17 11:04] blond commented on #1586
«Кручу-верчу, запутать хочу!» :smiley:

I like this idea, because blocks are more important than levels. Level is part of the implementation of the block.

But I don't understand how to build this.

And yet I do not like that theme is inside a block. Because theme is not part of block implementation. Theme should be unified for all blocks.

[code]

[2015-07-17 12:35] tadatuta opened #1587 "Support BH 4.0"
Should replace `blockMods` with `mods` in
common.blocks/dropdown/_switcher/dropdown_switcher_button.bh.js
common.blocks/dropdown/_switcher/dropdown_switcher_link.bh.js
common.blocks/select/__button/select__button.bh.js
common.blocks/select/__control/select__control.bh.js

[2015-07-18 15:38] narqo opened #1590 "checkbox: Doesn't work in MS Edge"
Unfortunately b26d1670b9cdc73dedda37d23e5daac628a37b57 has broken the behaviour of our checkboxes, so now we have the same bug described in #1472 but in the upcoming Edge/IE11 browsers.

Note, that I've used `bem-core#v2` HEAD with bem/bem-core#1066 fixies to test.

[2015-07-20 09:13] kompolom commented on #1587
+1

[2015-07-20 10:25] tadatuta commented on #1587
Misha @mishanga let's discuss the way this issue can be resolved.

Now we have such options:
1. Update BH and drop backward compatibility in templates
2. Update BH and support both versions in templates with `mods || blockMods` as suggested by @zxqfox  in https://github.com/bem/bem-components/pull/1588
3. Do not update BH until `bem-components 3.0`

[2015-07-20 10:26] qfox commented on #1587
Don't go the 3rd way plx. We want to use BH4.0 with bem-components 2.x.

[2015-07-20 10:30] #1389 closed, assigned to blond

[2015-07-20 12:05] mishanga commented on #1587
+1 for 1

[2015-07-20 12:44] blond commented on #1587
@tadatuta @mishanga Why do you want to ignore semver recommendations? Maybe you love to hurt users?

Is there still reason to do stupid things?

Can anyone think of reasons why not to do this?

[2015-07-20 12:48] sipayRT commented on #1587
@mishanga instead of @ mishaberezin ;)

[2015-07-20 13:00] blond commented on #1587
sorry ))

[2015-07-20 16:44] bu1ka opened #1591 "Block select with bemjson as an option behaves wrongly"
Block `select` with custom bemjson as an options (modifier mode is set to radio) in `_updateButton` method will use `domElem.text()`  in  `menu-item`'s method `getText` and will return a sting instead of  that bemjson.

ex:

[code]

when first option will be checked:

`select._updateButton -> select._getCheckedItems() -> menu-item.getText() => 'P'` instead of `'<div class="form__price form__price_

[2015-07-20 18:15] narqo commented on #1591
It looks like the time for #529 has come

[2015-07-21 11:23] dfilatov opened #1592 "popup: Add ability to be inited with `_visible` modifier"

[2015-07-21 11:52] sipayRT commented on #1574
can't reproduce

[2015-07-21 11:52] #1574 closed, assigned to sipayRT

[2015-07-21 13:09] #1563 closed, assigned to nobody

[2015-07-21 18:01] #1562 closed, assigned to sipayRT

[2015-07-22 11:01] #1476 closed, assigned to sipayRT

[2015-07-22 13:11] awinogradov commented on #1100
Please, reopen this issue! We really want this method!

[2015-07-22 13:21] Guria commented on #1100
:+1:

[2015-07-22 13:36] voischev commented on #1100
:+1:

[2015-07-22 14:30] narqo commented on #1100
Does rerendering whole `select` is not suitable?

[2015-07-22 14:36] awinogradov commented on #1100
No, i want update items when select is open. Popup out of the select node ;(

[2015-07-22 19:42] narqo commented on #1100
So you have a `select` with some items checked. While it's opened you want to refill it with new list of items. During this process internal `button` and hidden controls will be refilled/recreated, `change` event will be fired and all other things connected with popup redrawing processes will be done. And in the end you will have completely new `select`, still opened and focused.

Could you provid

[2015-07-23 08:36] sipayRT opened #1596 "attach: button does not work on click in a specific area in IE11"
![image](https://cloud.githubusercontent.com/assets/1658415/8846400/82034eda-312f-11e5-8850-4d85410b6518.png)

[2015-07-23 11:21] Guria commented on #1100
suggestion:

[code]

[2015-07-23 11:25] Guria commented on #1100
maybe `tech: 'browser-bemhtml'` or something like that

[2015-07-23 12:38] sipayRT commented on #1590
@narqo on an extreme case we can use IE11 hack:

[code]

it works fine for me

[2015-07-23 13:28] aristov commented on #1587
Don't forget to remove compatibility [workarounds](https://github.com/bem/bem-components/pull/1588) in `v3`.

[2015-07-23 13:40] #1596 closed, assigned to sipayRT

[2015-07-23 14:05] aristov commented on #1583
cc @deeonis

[2015-07-23 14:18] aristov commented on #1585
Think how to omit these checks in production mode.

[2015-07-23 14:21] aristov commented on #1568
@tadatuta please specify more details in issue description.

[2015-07-23 14:30] tadatuta commented on #1568
@aristov done

[2015-07-23 14:31] aristov commented on #1570
@tadatuta says everything.

[2015-07-23 14:31] #1570 closed, assigned to nobody

[2015-07-23 14:34] aristov commented on #1542
Close in favour of #1576.

[2015-07-23 14:34] #1542 closed, assigned to qfox

[2015-07-23 14:43] aristov commented on #877
Close in favour of #1581.

[2015-07-23 14:43] #877 closed, assigned to sipayRT

[2015-07-23 14:45] aristov commented on #1225
Since PR is closed.

[2015-07-23 14:45] #1225 closed, assigned to persidskiy

[2015-07-23 14:47] aristov commented on #1496
cc @mishanga, @sipayRT, @tadatuta

[2015-07-23 15:22] narqo commented on #1590
Does it work in the Edge? [MSDN says](https://msdn.microsoft.com/en-us/library/windows/apps/hh465764.aspx):

Do you now any CSS hack for iOS Safari only?

[2015-07-23 16:20] gela-d opened #1598 "checkbox: Update design"

[2015-07-23 18:44] qfox commented on #1587
Yeah, need to make an issue for that.

[2015-07-23 20:42] #1488 closed, assigned to sipayRT

[2015-07-24 08:58] sipayRT commented on #1590
Just found mega-dirty-hack:

[code]

Tested on:
- Safari for Mac 8.0.7 (Yosemite)
- iOS Simulator (version 8.0.3 and 8.0.4):
  - Safari on iPhone 4s
  - Safari om iPad Retina

Proof:
![image](https://cloud.githubusercontent.com/assets/1658415/8871057/214e79c6-31fb-11e5-9b05-831dddc9b7ea.png)

So, we can wrap `pointer-events` value under this hack

[2015-07-24 09:40] narqo commented on #1590
Well, one mega-dirty-hack is better than three ugly hacks. Let's switch to it ([this hack for Firefox](https://github.com/bem/bem-components/blob/aae2b1df3fde2a8851b145969f481bbb662e2b69/design/common.blocks/checkbox/_theme/checkbox_theme_islands.styl#L3) can be removed as well) and check that checkboxes work everywhere. Please add comment link with original issue about iOS and this one.

[2015-07-24 11:38] sipayRT opened #1601 "gemini: update package version"

[2015-07-24 12:53] #1590 closed, assigned to sipayRT

[2015-07-27 15:23] aristov commented on #1508
Description updated: second item has changed.

[2015-07-28 12:49] #1510 closed, assigned to sipayRT

[2015-07-28 12:49] #1511 closed, assigned to sipayRT

[2015-07-28 13:04] #1479 closed, assigned to sipayRT

[2015-07-29 11:31] narqo opened #1602 "Update bem-core to 2.7.0"
[bem-core 2.7.0 has been released](https://github.com/bem/bem-core/releases/tag/v2.7.0) and it includes some bug fixes related to pointer events. It's insistently recommended to update bem-core as current blocks may not work properly in the IE 11/Edge which should be released today.

[2015-07-29 15:05] #1601 closed, assigned to sipayRT

[2015-07-29 15:31] #1602 closed, assigned to tadatuta

[2015-07-29 18:33] #1587 closed, assigned to nobody

[2015-07-30 15:01] #1509 closed, assigned to sipayRT

[2015-07-31 14:44] andre487 opened #1606 "Error in Webpack with bem-components-dist"
I installed bem-components via bower: `bower i bem/bem-components-dist#v2`

And using it with Webpack like this:

[code]

And I got an error:

[code]

Maybe it occurs because of exporting modules via `this` as reference to global object.

[2015-07-31 14:52] tadatuta commented on #1606
Most likely it's really so. The issue with `this` for global object was fixed at https://github.com/ymaps/modules/pull/50 and released in https://github.com/ymaps/modules/releases/tag/0.1.2

I just created an issue to update version in https://github.com/enb-make/enb-modules/issues/10

[2015-08-03 12:45] tadatuta opened #1607 "control-group: Improve styles for disabled or checked elems"
https://yadi.sk/d/3cNuslnBiF2eK

[2015-08-03 13:50] sipayRT opened #1608 "input: wrong color of selected text in FF38 on Windows"
Now:
![image](https://cloud.githubusercontent.com/assets/1658415/9038728/41ef4122-39ff-11e5-8511-508627886691.png)

Should be:

![image](https://cloud.githubusercontent.com/assets/1658415/9038773/96517690-39ff-11e5-8268-3de95a924411.png)

[2015-08-03 14:49] sipayRT opened #1610 "input: left and right paddings should be equal in case without 'has-clear' mod"
Without `has-clear` mod:

Now:
![image](https://cloud.githubusercontent.com/assets/1658415/9039953/8d88d014-3a07-11e5-9514-1b5915f4f748.png)

Should be:
![image](https://cloud.githubusercontent.com/assets/1658415/9039974/b91160f2-3a07-11e5-981e-26a118e53f81.png)

But with `has-clear` mod padding-right should be removed.

[2015-08-03 20:24] narqo opened #1612 "Release 2.3.0"

[2015-08-03 21:49] narqo commented on #1612
@tadatuta modestly remind that currently we have problems with IE 11 / Egde in production services

[2015-08-03 21:57] #1522 closed, assigned to sipayRT

[2015-08-04 05:56] dfilatov commented on #1612
We definitely need to hurry up to release this version.

[2015-08-04 20:26] tadatuta commented on #1577
Russian docs is already there: https://github.com/bem/bem-components/blob/v2/README.ru.md#Использование
Waiting for translation.

[2015-08-04 20:27] tadatuta commented on #1559
let's dig out this issue!

[2015-08-05 09:32] #1568 closed, assigned to nobody

[2015-08-05 12:51] #1610 closed, assigned to sipayRT

[2015-08-05 14:00] #1608 closed, assigned to sipayRT

[2015-08-06 10:37] blond opened #1621 "Use deps tech from `enb-bem-techs@2.0.0-rc` in specs & tmpl-specs"

[2015-08-06 11:20] #1621 closed, assigned to blond

[2015-08-06 11:21] sipayRT opened #1623 "gemini: optimize screenshots"

[2015-08-06 12:56] #1623 closed, assigned to sipayRT

[2015-08-06 13:06] #1612 closed, assigned to aristov

[2015-08-06 13:10] aristov commented on #1612
https://github.com/bem/bem-components/releases/tag/v2.3.0

[2015-08-06 17:49] tadatuta opened #1626 "Fix BH mimic for dist"

[2015-08-06 18:07] #1626 closed, assigned to tadatuta

[2015-08-06 19:24] tadatuta commented on #1606
@Andre-487 can you please check it with `2.3.0` release?

[2015-08-06 19:57] Yeti-or opened #1628 "Use linter for stylus"
Guys did you try this https://github.com/rossPatton/stylint ?

[2015-08-06 20:08] tadatuta commented on #1628
@Yeti-or not yet, we're gonna take a look, thanks!

[2015-08-07 07:20] sipayRT commented on #1628
I just tried it. I added one rule to config for testing:
`"brackets": "always"` and got an errors while linting. This plugin tried to find open bracket on the same line with selector (open bracket on the next line will be ignored) and there is no possibility to configure it. :(

[2015-08-07 08:44] tadatuta commented on #1628
Created https://github.com/rossPatton/stylint/issues/180

[2015-08-10 11:37] sipayRT opened #1629 "modal: horizontal scrolling is unavailable on iPad"

[2015-08-10 12:17] #1492 closed, assigned to sipayRT

[2015-08-10 12:17] #1521 closed, assigned to nobody

[2015-08-10 12:45] #1512 closed, assigned to sipayRT

[2015-08-10 15:54] narqo opened #1631 "button: setText() stops click event propagation"
Here is an example to reproduce the issue:

[code]

Click on the `button` changes it's text, but no clicks are bubbled to document.

The issue is really annoying in case the button is set inside `popup_auclosable`, as the popup stops being closed on the first "outside" clicks after the `button` had been clicked:

[code]

/cc @dfilatov

[2015-08-10 20:36] dfilatov commented on #1631
I have no any idea how to fix that but to use `this.nextTick()` inside of `button#setText()` to put real DOM changes off.
By the way, `RAF` will be handy for such cases.

[2015-08-12 13:31] sipayRT opened #1632 "Update enb-bh version"

[2015-08-12 14:27] tadatuta commented on #1559
- Add JSDoc for events with https://github.com/bem/jsd-plugins-bem/blob/master/test/event/class-events.js
- check if all the modifiers are documented in JSDoc

[2015-08-12 14:29] tadatuta commented on #1559
+ check if all the modifiers are documented in JSDoc

[2015-08-13 12:54] aristov opened #1635 "button_view_link: implement instead of link_pseudo"
Link is just link, it shouldn't have button's semantics.
We should create semantics from component's behaviour, but not the view.
This change can help to reduce logic duplication in the projects codebase.
Also this approach more clear form the `a11y` POV.

This change breaks backward compatibility.

[2015-08-13 13:11] voischev commented on #1635
what logic is duplicated? An example?

[2015-08-13 16:29] aristov commented on #1635
Any behaviour, that I can implement as `button`'s modifier. When designer draws a pseudo link, which behaviour can be implemented in the same way, I have to duplicate this logic by using `link_pseudo`. But I wanna use `button` with already implemented behaviour and just say, that it should be represented as pseudo link by adding `_view_link`.

For example: not long ago I've noticed, that it's very

[2015-08-14 10:12] awinogradov commented on #1635
What about another entity? Ex: `request-trigger`.

[code]

[code]

[2015-08-14 10:13] voischev commented on #1635
@awinogradov :fire: :fire_engine:

[2015-08-14 10:50] aristov commented on #1635
This won't work, because bem-event fires on the instance, not DOM-node of the block. You can not write `this.on(event, fn() {})` to subscribe the event of the mixed block. You can parametrize target by js-params and do something like `this.findBlockOn(params.target).on(event, fn() {})`. But this approach breaks lazy initialization of the target block. Moreover, your `request-trigger` can not work

[2015-08-14 12:25] #1632 closed, assigned to sipayRT

[2015-08-14 12:27] #1491 closed, assigned to sipayRT

[2015-08-14 14:01] awinogradov commented on #1635
You can put target block into custom `request-trigger` param and take block name in the template.

[code]

`this.ctx.js.target = this.ctx.taget.block`

[2015-08-14 14:17] aristov commented on #1501
UPD: 1st point updated, 5th point added

[2015-08-14 15:25] aristov commented on #1635
js-params are available only for instance of the block. You can not get them from the `live` section.

[2015-08-14 15:42] andre487 commented on #1606
No, error is pretty exists. You can test it using [this project](https://github.com/Andre-487/web-experiments/tree/master/bem.angular.webpack). There is [an instruction](https://github.com/Andre-487/web-experiments/tree/master/bem.angular.webpack#issue-bembem-components1606) in readme.

[2015-08-14 18:28] #1392 closed, assigned to aristov

[2015-08-14 23:54] #1333 closed, assigned to sipayRT

[2015-08-17 10:37] sipayRT opened #1638 "Fix gemini tests for dist"

[2015-08-17 11:38] #1638 closed, assigned to sipayRT

[2015-08-18 12:16] sipayRT opened #1642 "link: Update documentation"
We need to add `_view_['minor', 'external', 'ghost', 'black', 'strong']` modifier to the documentation.
New values of this modifier ('ghost', 'black', 'strong') will be added in #1641

[2015-08-20 09:47] sipayRT opened #1645 "popup: different offset between anchor and popup"
![image](https://cloud.githubusercontent.com/assets/1658415/9379585/19c7d682-4733-11e5-82fc-69c1418019b1.png)
It happens with not centered directions. For example, `bottom-left` or `left-top`.

[2015-08-20 21:09] #1508 closed, assigned to sipayRT

[2015-08-21 03:20] tadatuta opened #1647 "Get rid of leading underscore for built files"
...to be more like others and get rid of `.nojekyll` on `gh-pages`.

[2015-08-21 19:55] aristov opened #1648 "enb: build is broken"
This error occurs on any try to execute `enb make *` or `magic server` commands.

[2015-08-21 19:55] aristov commented on #1648
cc @blond

[2015-08-21 20:10] blond commented on #1648
Hi! It seems that this is problem in `bem-components` library.

To fix it you need perform [npm_install_other_versions.sh](https://github.com/bem/bem-components/blob/v2/npm_install_other_versions.sh) or `npm run deps`.

Maybe need to add `postinstall` script?

[code]

[2015-08-21 20:13] aristov commented on #1648
Thanks, the `npm run deps` command execution solves the problem.

cc @tadatuta

[2015-08-21 21:18] tadatuta commented on #1648
I don't like postinstall idea as it's just dev-dependency. We can migrate to https://github.com/bem/bh-3x as soon as it's ready to solve the complexity of installation process.

[2015-08-24 16:38] sipayRT opened #1650 "dist: add delay for gemini-tests"

[2015-08-24 18:46] blond opened #1652 "Update `enb-borschik` to `2.0.0`"

[2015-08-24 19:02] blond opened #1654 "Update `enb-stylus` to `2.0.0`"

[2015-08-25 14:59] #1650 closed, assigned to sipayRT

[2015-08-25 15:01] #1654 closed, assigned to blond

[2015-08-25 15:59] #1652 closed, assigned to blond

[2015-08-27 18:11] blond opened #1657 "Update `enb-bh` to `1.0.0`"

[2015-08-27 18:43] #1657 closed, assigned to blond

[2015-08-27 18:56] blond opened #1659 "Update `enb-bemxjst` to `2.0.0`"

[2015-08-27 20:09] #1659 closed, assigned to blond

[2015-09-01 10:07] hcodes opened #1661 "checkbox: Doesn't work in iOS 7.1"
https://yandex.ru/search/customize

[2015-09-01 10:59] dfilatov commented on #1661
cc @narqo

[2015-09-02 14:05] #1501 closed, assigned to sipayRT

[2015-09-06 16:34] aristov commented on #1635
Logic duplication example from the codebase:
- [dropdown_switcher_button](https://github.com/bem/bem-components/blob/v2/common.blocks/dropdown/_switcher/dropdown_switcher_button.bemhtml)
- [dropdown_switcher_link](https://github.com/bem/bem-components/blob/v2/common.blocks/dropdown/_switcher/dropdown_switcher_link.bemhtml)

[2015-09-07 14:48] vsesh opened #1662 "Приходят два события "click" кнопки после клика мышки в браузере Edge"

[2015-09-07 14:51] #1662 closed, assigned to nobody

[2015-09-07 14:51] vsesh commented on #1662
Простите. Использовал не последнюю версию.

[2015-09-07 16:57] aristov commented on #1517
3rd point of issue checklist was crossed out due to JAWS internal bug: the result magically depends on [CSS rule](https://github.com/bem/bem-components/blob/v2/design/common.blocks/popup/_theme/popup_theme_islands.styl#L4) of `popup`.

[2015-09-07 16:57] aristov commented on #1517
4th point of issue checklist was crossed out due to JAWS internal bug: it doesn't support `aria-owns` attribute properly.

[2015-09-07 20:40] tadatuta opened #1664 "dropdown: Toggle popup on hover"
Right now only `click` event is supported in `dropdown`. Would be nice to have `hover` as an option.

[2015-09-08 17:00] aristov commented on #1508
2nd point of issue was updated.

[2015-09-08 21:32] tadatuta opened #1666 "Review page_theme_islands styles"
Does anybody remember why we have [such styles](https://github.com/bem/bem-components/blob/v2/design/common.blocks/page/_theme/page_theme_islands.styl#L8) for `page_theme_islands`?

Line height is ugly and Helvetica won't ever be used anyway. So I propose to change it to

[code]

where `13px * 1.3846153846 = 18px`

[2015-09-10 20:20] kizu opened #1669 "Move contributing guidelines to Contributing.md"
Github allows it to use a special `Contributing.md` file in the root of the project for all the contributing guidelines. This way Github would show a link to this file when someone opens an issue or a PR:

![image](https://cloud.githubusercontent.com/assets/177485/9799873/6f132c5a-5812-11e5-8801-26a79534e9c6.png)

Right now the contributing guidelines are [placed in Readme](https://github.com/bem/

[2015-09-10 20:29] tadatuta commented on #1669
:+1:

[2015-09-10 22:11] #1669 closed, assigned to tadatuta

[2015-09-11 00:21] tadatuta commented on #1546
https://github.com/travis-ci/travis-ci/issues/1946
https://github.com/jzaefferer/qunit/commit/39173b5dc3d6d8b986590ad64f7e8ec1778acb10#commitcomment-9086160

[2015-09-14 16:05] tadatuta opened #1672 "Update bem-core to 2.8.0"

[2015-09-15 23:40] #1546 closed, assigned to tadatuta

[2015-09-16 21:37] aristov opened #1673 "popup, modal: improve focus behaviour"
Here are the recommendations from the 2nd and 3rd points of [Understanding WCAG: Focus order](http://www.w3.org/TR/UNDERSTANDING-WCAG20/navigation-mechanisms-focus-order.html#navigation-mechanisms-focus-order-examples-head):

for modeless dialogs:
- [x] ~~When the trigger button is activated, a dialog opens~~
- [ ] The interactive elements in the dialog are inserted in the focus order immediately

[2015-09-16 21:37] aristov commented on #1460
Проверил: есть несоотвествия.
Подробности в #1673. Этот ишью закрываю.

[2015-09-16 21:37] #1460 closed, assigned to nobody

[2015-09-16 21:58] aristov opened #1674 "modal: improve focus behaviour"
Here are the recommendations from the 3rd point of [Understanding WCAG: Focus order](http://www.w3.org/TR/UNDERSTANDING-WCAG20/navigation-mechanisms-focus-order.html#navigation-mechanisms-focus-order-examples-head) for modal dialogs:
- [x] ~~When the trigger button is activated, a dialog opens~~
- [ ] and focus is set to the first interactive element in the dialog
- [ ] As long as the dialog is op

[2015-09-16 22:01] aristov commented on #1459
Проверил: есть несоотвествия.
Подробности в #1674. Этот ишью закрываю.

[2015-09-16 22:01] #1459 closed, assigned to nobody

[2015-09-16 22:09] aristov commented on #1458
Проверено. Меню работает правильно, исправления не требуются. Закрываю.

[2015-09-16 22:09] #1458 closed, assigned to nobody

[2015-09-16 22:14] aristov commented on #1465
Проверено. Селект работает правильно, исправления не требуются. Закрываю.

[2015-09-16 22:14] #1465 closed, assigned to nobody

[2015-09-16 22:16] #1517 closed, assigned to aristov

[2015-09-16 22:56] aristov commented on #1674
The issue description was merged to #1673 as `modal` is implemented via `popup` and these blocks should be fixed together.

[2015-09-16 22:56] #1674 closed, assigned to nobody

[2015-09-17 13:14] aristov commented on #1026
Each block should manage it's focus behaviour by itself. Close in favour of #1673. Reopen if needed.

[2015-09-17 13:14] #1026 closed, assigned to aristov

[2015-09-17 18:14] aristov opened #1675 "Remove the tabIndex property from the blocks public API"
In general, all focusable components should receive focus sequentially in the order they appear on a page. Authors should not use a positive values of the `tabindex` attribute without an absolute necessity.
Look the links below for more detailed explanation:

http://www.w3.org/TR/UNDERSTANDING-WCAG20/navigation-mechanisms-focus-order.html
http://www.w3.org/TR/2015/NOTE-WCAG20-TECHS-20150226/F44

W

[2015-09-17 18:22] aristov commented on #1190
Close in favour of #1675.

[2015-09-17 18:22] #1190 closed, assigned to aristov

[2015-09-17 21:17] narqo opened #1676 ""Showcase" page is blank on iOS Safari 9"
Clicking the "showcase" link from the [library page](https://en.bem.info/libs/bem-components/v2.3.0/), shows a blank page with only header of the service.

I believe it's a CSS problem as there are no errors related to JS or Network in the dev console.

<img width="733" alt="screen shot 2015-09-18 at 00 07 37" src="https://cloud.githubusercontent.com/assets/88045/9946140/0fef40b4-5d9a-11e5-8488-68

[2015-09-17 21:20] narqo commented on #1676
I guess the issue should be moved to bem.info bug tracker, but I couldn't find where it is.

[2015-09-17 21:26] narqo opened #1677 "radio-group doesn't work on iOS9"
After the first click on the `radio__box` the block stops responding on future clicks. Clicks on the label are processing as expected.

Can be reproduced on current [showcase page](https://en.bem.info/__example/bem-components/v2.3.0/desktop.pages/showcase/showcase.html).

[2015-09-18 08:15] tadatuta commented on #1676
created task there

[2015-09-19 11:30] veged commented on #1672
vote up ;-)

[2015-09-20 20:35] #1672 closed, assigned to tadatuta

[2015-09-21 00:18] andre487 commented on #1606
This issue has solved by adding excludes to config:

[code]

[2015-09-21 00:18] #1606 closed, assigned to nobody

[2015-09-21 09:05] tadatuta commented on #1606
thank you for the tip!

[2015-09-22 16:05] aristov opened #1679 "modal: close on the "Escape" keypress"
`modal` without `_autoclosable` modifier creates a trap without the ability to close it.
The "Escape" keypress must close `modal` in any case.

In addition, `modal` should contain at least one closing element on touch devices.

[2015-09-22 17:19] aristov commented on #1673
Current `popup` and `modal` implementations are too common cases to manage focus by themselves. E.g. `popup` may be used to create some kind of "tooltip" with text but without focusable elements inside.
All the features described above should be implemented by the dialog box, which must contain at least one interactive component. So I close this issue, as we have no implementation of a dialog box

[2015-09-22 17:19] #1673 closed, assigned to nobody

[2015-09-22 19:45] dfilatov commented on #1679
I can't agree with you. As application developer you should provide a right way to close such modal window. If you force to close modal using escape it might lead to unpredictable behaviour. Imagine you need to implement a quiz via modal windows.

[2015-09-23 02:56] aristov commented on #1679
This can be implemented by the `preventDefault` method call on the event object.

At least we must describe this in docs.

[2015-09-23 10:53] tadatuta opened #1680 "Implement link_view_button instead of button_type_link"

[2015-09-23 14:21] aristov commented on #1635
Discussed and rejected by the core maintainers team.

[2015-09-23 14:21] #1635 closed, assigned to nobody

[2015-09-24 14:24] aristov commented on #1679
Discussed and rejected by the core maintainers team.

[2015-09-24 14:24] #1679 closed, assigned to nobody

[2015-09-24 15:56] tadatuta commented on #1484
cc @vithar

Compare with Islands implementation

[2015-09-26 19:47] narqo opened #1681 "popup: Pressing Esc to close _autoclosable leads to exiting from full screen in Safari"
The problem relates to blocks that are build on top of `popup_autoclosable`, including `select` and `modal`. While in fullscreen mode pressing the Esc key makes Safari to exit from fullscreen as this default behaviour is not prevented.

[2015-09-29 13:33] #1206 closed, assigned to aristov

[2015-09-29 13:33] aristov opened #1683 "Retest all blocks after the a11y improvement"
After the #1665 containing a lot of changes was merged we should retest blocks in all supported browsers.

The [showcase](https://ru.bem.info/libs/bem-components/v2.3.0/showcase/) and a new showcase created from the current `v2` may be used for comparison.

cc @tadatuta

[2015-09-29 13:33] aristov opened #1684 "a11y: organize testing by a blind tester"
We need this to receive a more natural feedback and to detect unnoticed problems on the [a11y improvement work](https://github.com/bem/bem-components/issues/1206) was done recently.

The [described known issues](https://github.com/bem/bem-components/pull/1665#issuecomment-142277774) should be taken into account.

cc @tadatuta

[2015-09-30 11:52] awinogradov opened #1685 "Radio-check and button mode"
Есть вот такой код: `togglable : mods.mode === 'radio-check'? 'check' : 'radio'`. Он находится вот здесь https://github.com/bem/bem-components/blob/v2/common.blocks/radio/_type/radio_type_button.bemhtml#L8 и встречается в checkbox и select. Вопроса у меня аж 2.
1. Почему это не `togglable : mods.mode`?
2. Почему это не `mode : mods.mode`?

[2015-09-30 12:08] awinogradov opened #1686 "Control-group as base for all groups"
Есть 3 блока. `control-group`, `checkbox-group`, `radio-group`.  Первый из них ментальный, но миксуется на 2 других. Кроме того он обладает стилями, которые размазаны по контролам.
1. Почему не выделить `control-group` как блок?
2. Почему не использовать шаблон `control-group` для построения групп в принципе?

[2015-09-30 12:24] tadatuta commented on #1686
1. потому что его стили зависят от блоков (и их конкретной темы), к которым он миксуется
2. потому что на разметку он вообще никак не влияет

[2015-09-30 12:28] awinogradov commented on #1686
1. Это понятно. Но совсем не круто. Потому что его стили описаны в стилях других блоков. Я бы скорее понял обратное, потому что был бы обычный каскад. В текущей версии "каскад" к родителю.
2. Не влияет. Но построение `checkbox-group`, `radio-group` как две капли воды. Будь нормальный шаблон на `control-group` можно было бы избежать дублирования кода.

[2015-09-30 12:31] sipayRT commented on #1685
Ну как-то блок `radio` с { mode : 'check' } - это херня, которая всех только больше запутает. А так тут можно понять, что это все же `radio`, который можно анчекнуть

Потому что `togglable` тут уместнее, т.к. это название лучше описывает поведение

p.s.: это лично мое мнение

[2015-09-30 12:33] awinogradov commented on #1685
Это так люди сказали или вы сами придумали?)

Почему тогда это не `togglable : mods.togglable`?

[2015-09-30 12:36] awinogradov commented on #1685
Не вижу разницы между:

[code]

и

[code]

Кажется, что причина не в понимании. Тем более что `radio-check` насильно выставляется в `check`.

[2015-09-30 12:49] sipayRT commented on #1685
я ж специально в конце написал, что это имхо :)

А я вижу :) Если бы был второй вариант, то ты бы спросил "Почему тогда не { block: 'check' } вместо { block: 'radio', mods: { mode : 'check' } }?".

[2015-09-30 12:51] awinogradov commented on #1685
Я бы спросил будь у меня такие мыслишки) Ответа пока еще нет(

[2015-09-30 13:52] narqo commented on #1685
Модификатор `mode` актуален только для [`select`](https://ru.bem.info/libs/bem-components/v2.3.0/desktop/select/). В `radio-group` и `checkbox-group` он остался как рудимент, который специально не стали описывать в документации. На практике оказалось, что юзкейсы очень спорны, но блок был изначальных дизайнерских гайдах.

Модификатор `mode` намерено не описан в документации для [radio](https://ru.

[2015-09-30 14:05] awinogradov commented on #1685
Это не совсем верно. Не смотря на то, что думается togglable верным для кнопки, модификатор на кнопку ставиться checked при работе с mode внешних блоков. То есть верным было бы ставить button_toggled, если уж такая абстракция и понятно, что кнопка западающая или нет. Сейчас же кнопка выглядит так `.button.button_togglable_check.button_checked`.

Это больше похоже на недоработку, нежели на аргумент

[2015-09-30 14:20] narqo commented on #1685
Есть еще [`_togglable_radio`](https://ru.bem.info/libs/bem-components/v2.3.0/desktop/button/#Модификатор-togglable). Все что можно выразить булевыми модификаторами — мы, конечно, выражаем булевыми модификаторами.

Можешь описать, какое поведение должно быть у такой кнопки (при условии, что оно должно как-то согласовываться с поведением [select_mode_radio-check](https://ru.bem.info/libs/bem-compone

[2015-09-30 14:35] awinogradov commented on #1685
Странность на лицо. В виде текущего issue.

Это же не противоречит `.button_toggled` никак. Тем не менее, когда кнопка западает, она получает такой набор `.button.button_togglable_radio.button_checked`. Кажется, что это сильно непонятнее, чем например `.button.button_togglable_radio.button_toggled` или `.button.button_mode_radio.button_toggled`. И одинаково не понятно с `.button.button_mode_radio.

[2015-09-30 16:50] voischev commented on #1685
`mode` для кнопки кажется более понятным

[2015-10-01 12:53] narqo commented on #1685
Про `toggled` vs `checked` я понял, но не уверен, что с этим есть серьезные проблемы (либо, просто «внутри», за годы все привыкли к такой терминологии, поэтому никогда не жаловались). По крайней мере, на сколько я знаю, ассоциации с

[code]

плотно сидят у всех в головах. Да и во всех остальных блоках (checkbox, radio, select, menu) используются те же термины.

Тут я ничего не понял, но для `radio

[2015-10-01 13:10] awinogradov commented on #1685
Я не против поменять заголовок, но как назвать ума не приложу)

[2015-10-01 13:17] awinogradov opened #1687 "Custom mods in components"
Сейчас есть такая проблема, что модификаторы и атрибуты прокидываются только те, что описаны в шаблоне. Например [тут](https://github.com/bem/bem-components/blob/v2/common.blocks/radio-group/radio-group.bemhtml#L20), [тут](https://github.com/bem/bem-components/blob/v2/common.blocks/checkbox/checkbox.bemhtml#L15) или тоже самое с атрибтами [тут](https://github.com/bem/bem-components/blob/v2/common.

[2015-10-01 13:31] tadatuta commented on #1687
Так задумано (см. https://ru.bem.info/libs/principles/#Разделение-на-приватный-и-публичный-api).

Идея в том, что чем больше разрешаешь, тем меньше остается пространства для рефакторинга в рамках минорных версий. Если разрешать все, то любое малейшее изменение кому-нибудь что-нибудь будет ломать.

[2015-10-01 13:35] awinogradov commented on #1687
Проблема ясна, но получается, что мне надо своей командой мейнтейнить блоки из компонентов или строить свои, чтобы избежать рассинхрона и краха в один прекрасный день. Тут баланс нужен. Может доп моды для элементов блока чтобы экстендить? Что-нибудь?)

[2015-10-01 13:37] awinogradov commented on #1687
Можно даже с подчеркиванием моды) Как все любят)

[2015-10-01 13:42] tadatuta commented on #1687
Так а что сейчас мешает экстендить в шаблонах?

Для первого кейса

[code]

Для второго

[code]

Для третьего

[code]

[2015-10-01 13:49] awinogradov commented on #1687
Окай, а с [этим](https://github.com/bem/bem-components/blob/v2/common.blocks/checkbox/_type/checkbox_type_button.bemhtml#L8) будет еще знание о модификаторе внешенего блока? Кажется это может к лапше из переменных в дереве привести. Или мне кажется?

[2015-10-01 14:02] tadatuta commented on #1687
Знание нужно будет пробросить как в первом кейсе.

Очевидно, что отсутствие готового API потребует больше кода для переопределений, но предполагается, что такие дополнения все-таки требуются далеко не всем и далеко не всегда.

Если же мы упустили какой-то конкретный очень частый кейс, то создай для него отдельный issue, обсудим.

[2015-10-01 14:08] awinogradov commented on #1687
Доопределения вообще никому не требуются, если предполагается, что компоненты это просто пример библиотеки и мол если хотите кастом, то пилите свои. Само собой у всех своя специфика и вот тут свои проблемы лью и думаю: вдруг выгорит и поудобнее станет)

[2015-10-01 14:32] tadatuta commented on #1687
Нет, это не пример, а скорее база. Т.е. ожидается, что для абсолютного большинства кейсов текущего API должно быть достаточно, чтобы мочь реализовать свои наследованием или композицией с учетом того, что:
1. Дизайн можно отстрелить и реализовать свой
2. Любой абстрактный блок из `bem-components` можно обернуть в свой конкретный (либо отнаследоваться), где и реализовать кастомное API
3. Все можно з

[2015-10-01 14:55] awinogradov commented on #1687
И шоже нам делать?)

[2015-10-01 15:04] tadatuta commented on #1687
Таки писать про конкретные частые кейсы, которые мы не учли и про кейсы, которые нельзя решить композицией/наследованием/переопределением, если они редкие (ну, т.е. делать частые штуки должно быть просто, а редкие — возможно).

[2015-10-02 14:54] aristov commented on #1686
@awinogradov :+1:

[2015-10-03 07:07] aristov commented on #1685
`button_togglable_radio` - ошибка проектирования. Эта логика должна быть реализована в `radio` и `radio-group`.

`radio_type_button` следует переименовать в `radio_view_button` и использовать `button` только как стилевой миксин.

`button_togglable_check` => `button_togglable` - тогглбатон.

`checkbox_type_button` => `checkbox_view_button` - не должен зависеть от `button_togglable` и наследовать ег

[2015-10-03 12:59] awinogradov commented on #1685
@aristov :fire:

[2015-10-03 13:09] voischev commented on #1685
@aristov :+1: :fire: :fire_engine:

[2015-10-07 11:54] markelog opened #1688 "License divergence"
One in package.json, other in `LICENSE.txt` and README

[2015-10-13 23:13] tadatuta commented on #1688
@markelog I see same MPL 2.0 everywhere. Please provide exact links or close the issue.

[2015-10-14 14:16] aristov commented on #1683
cc @deeonis

[2015-10-14 14:16] aristov commented on #1684
cc @deeonis

[2015-10-16 11:36] tadatuta commented on #1484
There's no such issue in Islands (refer to https://nda.ya.ru/3R43Yx). Looks like it's becouse of real HTML element for tick instead of pseudo as in our implementation.

And one more thing: I can't reproduce the issue in safari 9. So we need to tests it on touch devices and if it's ok there we can close it as won't fix.

[2015-10-16 11:42] tadatuta opened #1689 "dist: Generate source maps"

[2015-10-17 13:51] mishanga opened #1690 "link, button: fix `cmd/ctrl+click` handling"
Cmd+click (ctrl+click) on `link_pseudo` should open new tab.

[2015-10-19 01:18] tadatuta opened #1691 "dist: Use bem-xjst@next by default"

[2015-10-19 07:14] narqo commented on #1691
Any details here? Is it major, what should be changed? How a contributor from the "outer world" supposed to PR this? ;)

[2015-10-19 12:36] awinogradov opened #1692 "Dropdown mechanics"
Давече зашел я в `dropdown`. Моему взору открылся шаблона фрагмент:

[code]

Пошел я `dropdown__switcher` смотреть:

[code]

Сижу теперь в раздумьях весь. Почему так? Почему `popup` прокидывается без фейкового шаблона элемента, а свитчер вот нет? Надумал и нашел еще вопрос, отчего не вот так все:

[code]

Далее логично посмотреть на код в `dropdown_switcher_button.js` и `dropdown_switcher_link.js`

[2015-10-19 12:40] voischev commented on #1692
Ну да. Чего бы не слушать события на элементе `switcher`?

[2015-10-19 14:58] voischev commented on #1692
А еще... получается что на каждый switcher по модификатору есть live и если нужно добавить еще логику по модификатору, то на два модификатора придется копипастить весь код на все свитчеры

[2015-10-19 15:18] dfilatov commented on #1692
Свитчер дропдауна требует определенного "интерфейса" от свитчера, а именно:
- BEM-события "click". Не низкоуровневого DOM-события, а именно высокоуровневого BEM-события. Только сам нижележащий блок знает что такое click и как оно получается. И вовсе необязательно что это DOM-клик один в один. И на примере той же кнопки это можно увидеть.
- способность быть disabled путем установки соответствующего

[2015-10-19 15:22] awinogradov commented on #1692
Но это вынуждает копипастить код для каждого типа свитчера. Зачем, если можно этого избежать?

[2015-10-19 15:23] dfilatov commented on #1692
Каким образом, учитывая эти два пункта, ты предлагаешь этого избежать?

[2015-10-19 15:25] awinogradov commented on #1692
А какие аргументы учитывать первый? Если его избежание решает проблему?

[2015-10-19 15:27] dfilatov commented on #1692
Достаточно того, что клик по кнопке, и клик по кнопке в дропдауне почему станут двумя разными, иногда несовпадающими, вещами.

[2015-10-19 15:30] awinogradov commented on #1692
@dfilatov я бы потрудился поискать `иногда`, будь в моих интересах пояснить свое решение.

[2015-10-19 15:32] dfilatov commented on #1692
@awinogradov Я не понял смысла твоего предложения.

[2015-10-19 15:34] awinogradov commented on #1692
Я говорю, что хотелось бы более развернутое пояснение. С чего вдруг клик по кнопке не станет таковым в дропдауне и когда это такое иногда произошло.

[2015-10-19 15:36] dfilatov commented on #1692
Посмотри код в кнопке, там видно, как получается bem-событие click.

[2015-10-19 15:37] awinogradov commented on #1692
Ясно, спасибо за пояснение. Подождем еще. Даже если учесть что кнопка что-то по особенному умеет, то умеет она это ровно так как умеет control, впрочем как и link, ибо она не нем основана. Я повторю свой вопрос: правда надо копипастить код для всех типов свитчеров, если требуемая от них функциональность заложена в одном базовом блоке?

[2015-10-19 15:40] awinogradov commented on #1692
Почему просто не подумать над этим? Что за нападки?

[2015-10-19 15:41] awinogradov commented on #1692
В общем меня не это интересовало в первую очередь.

[2015-10-19 15:41] dfilatov commented on #1692
Я не понимаю, почему ты считаешь что она одинаковая, когда по факту она разная и зависит от типа свитчера. Да, при этом там есть и похожие куски. Но их количеством, на мой взгляд, можно пренебречь в угоду консистентности.

Ps. Я вроде не нападал. Извини, если что.

[2015-10-19 15:44] awinogradov commented on #1692
Пока их 2 как в либе то можно, конечно. Но мне вот понадобилось сделать еще и на иконку. Оборочивать в ссылку мне ее не нужно. А еще хочется чтобы dropdown умел по ховеру и фокусу открываться в зависимости от модификатора. Этому очень сильно мешает код либы. Оттуда и вопросы.

[2015-10-19 15:45] awinogradov commented on #1692
Завтра я вот буду делать на инпут) И шо тогда? Выглядит не очень. Хочется по красивей.

[2015-10-19 15:48] dfilatov commented on #1692
Ну конкретно для твоего случая — иконку в кнопку с view=plain. Это даже логичнее и правильнее.

[2015-10-19 15:48] dfilatov commented on #1692
Каким образом мешает? И как бы перестал мешать, если бы там был dom-клик?

[2015-10-19 16:47] awinogradov commented on #1692
Если ты заглянешь в код свитчеров, то увидишь зависимость от бем события клика. Хотя если бы событие слушалось на элементе дромадера, а не конкретном блоке, то это можно было бы регулировать параметром. Без дубляжа кода. А так мне надо для каждого свитском ещё и все виды событий описать.

Sent from my iPhone

[2015-10-19 17:02] dfilatov commented on #1692
К сожалению, сейчас нет возможности в bem-core слушать BEM-события от любого блока (без знания его имени) на DOM-элементе.

[2015-10-19 17:10] voischev commented on #1692
@dfilatov я не понял чем тут обосновывается бэм событие? Почему не дом?

[2015-10-19 17:11] dfilatov commented on #1692
@voischev Я же вроде написал выше про это.

[2015-10-19 17:13] voischev commented on #1692
@dfilatov так не понятно же написал. Я не понял чем это обосновано

[2015-10-19 17:18] awinogradov commented on #1692
Поэтому я и предложил DOM. И все ещё не вижу проблем. Можно биндиться на них от элемента внутри дропдауна и создавать БЭМ событие если надо. Но тогда зависимость от типа свитчеров уйдёт.

Sent from my iPhone

[2015-10-19 17:43] dfilatov commented on #1692
Тем что DOM-событие клика и BEM-событие клика не равны между собой. Только тот блок, который отвечает за свитчер в дропдауне, знает что такое клик и как он получается, и на примере внутреннего устройства кнопки видно это.

cc @veged @narqo

[2015-10-19 21:23] narqo commented on #1692
Я не понял о чем это обсуждение, почему нельзя в дропдауне слушать DOM-клик, вместо БЭМ-клика? Потому что DOM-клик не учитывает внутренние состояния контрола на котором вызывается событие (например `_disabled`); потому что БЭМ-click правильно учитывает работу с клавиатуры (keyup пробела, если кнопка была в фокусе, вызывает клик, неважно, сколько  миллисекунд прошло с момента keydown); потому что D

[2015-10-19 21:55] dfilatov commented on #1692
@narqo :+1:

[2015-10-20 07:41] awinogradov commented on #1692
Ой все!) А c миксами и шаблоном что не так? Почему фейки с фальшивым тегом?

[2015-10-20 10:09] narqo commented on #1692
Раскрой, пожалуйста, вопрос: я не все еще не понимаю, что мы пытаемся исправить?

[2015-10-20 10:11] awinogradov commented on #1692
Не исправить) Улучшить.Три первых абзаца к посту;)

[2015-10-20 10:17] narqo commented on #1692
В [HEAD-версии блока](https://github.com/bem/bem-components/tree/5615a1dcfc1383976c81d414b89abace8a70e2d3/common.blocks/dropdown) (кажется, после #1393) уже нет кода шаблонов про который говоришь в самом начале.

[2015-10-20 13:42] just-boris opened #1693 "Не могу получить событие change от select"
У меня есть такой код: http://jsfiddle.net/z1cLLt4w/
На скрытом инпуте событие change не триггерится. Как мне узнать об изменении значения?

[2015-10-20 13:54] Guria commented on #1693
А чем не устраивает БЭМ событие на самом блоке?

[2015-10-20 13:57] Guria commented on #1693
http://jsfiddle.net/z1cLLt4w/1/

[2015-10-20 14:00] dfilatov commented on #1693
@Guria там не совсем корректный код, не надо `.bem('select')` вызывать на `.form`, надо на самой ноде селекта вызывать.

[2015-10-20 14:04] just-boris commented on #1693
@dfilatov обновил код. Так лучше? http://jsfiddle.net/z1cLLt4w/2/
@Guria всем устраивает. Я не знал, что так можно.

[2015-10-20 14:13] dfilatov commented on #1693
@just-boris Там еще `val : [2, 3]` неправильно передается. Для mode=radio-check он не может быть array.

[2015-10-20 14:13] just-boris commented on #1693
Все оказалось сложнее. Вокруг есть еще Backbone.View. У них есть декларативная подписка на события:

[code]

И она не работает. Есть ли какой-нибудь рекомендованный способ интеграции с Backbone?
Обновленный пример вот: http://jsfiddle.net/z1cLLt4w/4/

[2015-10-20 14:38] Guria commented on #1693
Значит декларативный способ из коробки не получится использовать. Придётся делать свой метод для Backbone.View который будет знать про БЭМ. А пока можно написать в императивном виде: http://jsfiddle.net/z1cLLt4w/6/

[2015-10-20 14:53] just-boris commented on #1693
@Guria да, так и придется сделать. Только лучше код подписки положить внутрь компонента, чтобы после render все работало: http://jsfiddle.net/z1cLLt4w/7/

@dfilatov а можно оставить хотелку о срабатывании dom-событий для совместимости bem-components с другими фреймворками? Нужно [здесь](https://github.com/bem/bem-components/blob/v2/common.blocks/select/_mode/select_mode_radio-check.js#L28) добавит

[2015-10-20 14:59] dfilatov commented on #1693
@just-boris Это невозможно сделать для всех случаев, в том же селекте для модификатора mode=check создается куча внутренних скрытых инпутов, и ты в принципе не сможешь подписаться на какое-либо DOM-событие.

[2015-10-20 15:01] voischev commented on #1693
@just-boris ты используешь либу как dist? можно допределить селект что бы было еще и дом событие

[2015-10-20 15:03] voischev commented on #1692
@awinogradov так мы решили проблему с модификаторами?

[2015-10-20 15:07] just-boris commented on #1693
@dfilatov я думал об этом. Поэтому мне нравится вариант в Лего. У них вместо скрытого input используется select. Для mode=check может использоваться select multiple.
Еще как вариант можно триггерить событие change прямо на ноде .select, но это несемантично.

[2015-10-20 15:08] just-boris commented on #1693
@voischev, да, как dist. Если это можно сделать в рамках [нашего fiddle](http://jsfiddle.net/z1cLLt4w/7/),  то мне подойдет

[2015-10-20 15:39] awinogradov commented on #1692
Получается, что либо лайв и копипаст, либо без лайва и можно нормально чекать значение модификатора, что уберет копипаст.

[2015-10-20 15:39] Guria commented on #1693
http://jsfiddle.net/z1cLLt4w/9/

[2015-10-20 15:44] voischev commented on #1693
@Guria опередил)

[2015-10-20 15:50] just-boris commented on #1693
@Guria, @voischev, ясно, спасибо

Но вопрос про то, сделать ли pull-request, чтобы работало для всех, остается в силе

[2015-10-20 16:15] #1692 closed, assigned to nobody

[2015-10-21 06:28] Guria commented on #1693
@just-boris врядли ментейнеры согласятся вносить изменения для всех, которые нужны не всем. Вы можете довольно не хитрым способом наладить свою dist сборку таких модифицированных блоков.

[2015-10-21 07:20] voischev commented on #1693
@just-boris а еще практика показывает что за счет переопределения на своем уровне можно достаточно спокойно жить со своими костылями :)

[2015-10-21 07:47] dfilatov commented on #1693
Конечно же, таким костылям, работающим в части случаев, не место в общей библиотеке. Что касается именно данной проблемы, то правильным решением здесь бы было разобраться и запилить в backbone плагин/аддон/вотэвер с возможностью биндиться к bem-компонентам.

[2015-10-21 07:51] just-boris commented on #1693
@dfilatov я предлагаю в любом mode сохранять значение в тег `<select />`. Не вижу в чем здесь костыльность, потому что во-первых тег select для этого и предназначен, во-вторых, так уже сделали в _другой популярной библиотеке bem-блоков_, и всех это устраивает

[2015-10-21 08:09] dfilatov commented on #1693
@just-boris Ну а событие-то откуда возьмется? Даже если допустить что здесь так можно было бы сделать (наверное), то, в bem-components есть контролы, аналога которых в DOM вообще нет, тот же checkbox-group или menu. Там на чем триггерить событие change?  Нельзя в библиотеке в одном месте впилить какой-то костыль. Кроме того, есть BEM-события, аналога которых в DOM нет. Для этого и были придуманы b

[2015-10-21 11:31] just-boris commented on #1693
Посмотрел откуда берется событие в других кастомных селектах. Его везде триггерят сами в коде библиотеки, в том числе и в Лего.

И это хорошо, поскольку позволяет другим компонентам думать, что перед ними обычный select и не думать о его деталях реализации. Это важно, когда компоненты используются лишь как компоненты и не объединены общим БЭМ-фреймворком

[2015-10-21 11:32] just-boris commented on #1693
А можно делегировать БЭМ-события?

Главное преимущество нативных событий, что BackboneView слушает их делегированно на основном элементе. Это позволяет перерендерить компонент много раз, а слушатели слетать не будут

[2015-10-21 11:38] dfilatov commented on #1693
Если это библиотека одного селекта, то да, так допустимо делать. В рамках же библиотеки блоков поведение всех ее составляющих должно быть консистентным.

По поводу делегации: через делегирование BEM-события вложенных блоков можно слушать в пределах какого-нибудь DOM-контейнера (https://ru.bem.info/technology/i-bem/v2/i-bem-js-events/#%D0%94%D0%B5%D0%BB%D0%B5%D0%B3%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%

[2015-10-21 13:04] just-boris commented on #1693
Можно добиться консистентности, если сделать то же самое для input, checkbox, и radio. Это не кажется сложным

За делегацию спасибо, вышло неплохо
http://jsfiddle.net/z1cLLt4w/11/

[2015-10-21 13:48] narqo commented on #1693
@just-boris могу добавить, как человек, ответсвенный за нативный селект во _внутренней библиотеки_ (_оригинальному селекту почти 4 года и годы тот код не красят_), что его наличие приносило и продолжает приносить очень много проблем как мейнтейнерам, так и пользователям.

[2015-10-21 14:31] just-boris commented on #1693
@narqo а можно рассказать пример проблемы? Может я не в курсе, что меня в будущем ждет

[2015-10-23 10:45] narqo commented on #1693
@just-boris _ниже получился длинный рассказ (sorry), основанный на реальных событиях «внутри»_

Самая большая проблема, про которую помню: некоторые браузеры «кешируют» выбранные в селекте пункты. Если пользователь что-то выбрал, а потом перезагрузил страницу, в селекте можно получить рассинхрон состояний (в нативном контроле выбран пункт оставшийся до перезагрузки, а на кнопке указано, что выбран

[2015-10-23 13:51] just-boris commented on #1693
@narqo спасибо за рассказ.

А как тогда вы боролись с автокомплитом в текстовом input?

[2015-10-23 13:58] just-boris commented on #1693
Сейчас по очереди попробовал input, textarea, checkbox-group и radio-group. Все они декорируют соотвествующий нативный контрол и я могу подписаться на его change.

Получается, что select особый, только на него я не могу подписаться

[2015-10-23 14:18] dfilatov commented on #1693
От какого нативного контрола ты слушаешь change у checkbox-group? Под ним лежит несколько чекбоксов и bem-контрол собирает с них правильное значение.

[2015-10-23 14:20] dfilatov commented on #1693
@just-boris С автокомплитом текстовых полей у нас борется поллинг.

[2015-10-23 14:35] just-boris commented on #1693
@dfilatov вот такой у меня сценарий использования checkbox-group: http://jsfiddle.net/z1cLLt4w/13/

[2015-10-23 14:40] dfilatov commented on #1693
@just-boris Ну это очень своеобразное использование чекбокс-группы. В bem-components это одно поле с множественным значением в виде массива, а не группа разных чекбоксов.

[2015-10-23 19:48] tadatuta opened #1695 "Discuss possibility to generate islands theme as a specific preset of generic one"
We can move things like colors, fonts, etc into variables and then on, for example, postinstall stage generate current `islands` theme on FS. And as so we will still be able to split bundles but also provide users with ability to customise their own themes with some simple web interface.

[2015-10-26 11:30] gela-d opened #1696 "control-group: Лишний бордер в кнопках с togglable: 'radio'"
Есть группа кнопок с `togglable: 'radio'`

[code]

При нажатии на любую остается лишний бордер справа
![2015-10-26 14-28-23](https://cloud.githubusercontent.com/assets/1333220/10727836/d66dd658-7bed-11e5-952a-ce88173353dd.png)

Помогает сброс `.control-group .button_theme_islands.button_checked::before { right: 0; }` (было 1px), но чем грозит в других местах - не знаю.

UPD: последней кнопке в гру

[2015-10-28 09:21] bu1ka opened #1698 "Feedback for "Блок events""
[тут](https://ru.bem.info/libs/bem-core/v2.8.0/desktop/events/#Элементы-блока) и [тут](https://ru.bem.info/libs/bem-core/v2.8.0/desktop/events/#Функции-предоставляемые-элементами-блока) битые ссылки на [Элемент-channels-блока-events](https://ru.bem.info/libs/bem-core/v2.8.0/desktop/events/#Элемент-channels-блока-events)