[2015-10-30 16:46] just-boris opened #1700 "Unable to mark input as required"
I am using bem-components from the [dist build](https://github.com/bem/bem-components-dist).

Now I am wondering how to add `required` attribute to `<input />` tag to prevent undesired submits of empty form.

As I found in [the source code](https://github.com/bem/bem-components/blob/v2/common.blocks/input/__control/input__control.bh.js#L7-L14) there is a fixed set of attributes passed to the tag.

[2015-10-30 17:03] tadatuta commented on #1700
We treat all available fields in BEMJSON as a garanteed API for all supported browsers and as `required` is not implemented in IE 9 we intentionally ommited it.

To use it you should write something like

[code]

[2015-10-30 17:13] just-boris commented on #1700
@tadatuta as far as I know, dist-build already has compiled templates and I can't override them.

In other words, how can I override input template in the jsfiddle: http://jsfiddle.net/r0Laywmf/ ?

[2015-10-30 18:41] qfox commented on #1700
You loading bh.js, using BEMHTML variable and talking about compilation. Stop blowing our minds please. BH bulding matchers function at run time and that means you can easily append your own matchers to it and they will be recompiled/rebuilt. Just do it! Nothing stops you except yourself.

http://jsfiddle.net/kch0Lqq9/

[2015-10-30 21:25] just-boris commented on #1700
@tadatuta I got the point, but there is more:
1. This required attributes behaviour can be polyfilled. It is easier to make when required inputs has the corresponding semantic attribute.
2. It provides better accessibility for forms: [article on MDN](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_aria-required_attribute) and [one another](http://john.foli

[2015-11-05 10:33] just-boris commented on #1693
Финальное решение получилось такое:

[code]

Я сам доопределяю событие и получаю нужное мне поведение. Fiddle: http://jsfiddle.net/z1cLLt4w/15/

Пока работает норм. Когда наберу побольше опыта эксплуатации такого решения и соберу больше граблей, могу написать об этом какой-нибудь пост.

Всем спасибо за ответы!

[2015-11-05 10:33] #1693 closed, assigned to nobody

[2015-11-10 13:53] tadatuta opened #1702 "Inline comments in styl break source maps"
The comment [here](https://github.com/bem/bem-components/blob/v2/common.blocks/icon/icon.styl#L24) break source map now.

[2015-11-10 15:02] aristov commented on #1053
It seems, that I'll not complete the work on this issue in the near future.
Here is my <a href="https://github.com/aristov/bem-method/blob/redefine/tutorials/blocks-redefining/blocks-redefining.ru.md">draft</a>. It can be used if needed.

[2015-11-10 15:03] blond commented on #1702
May be use single-line comment instead of multi-line?

[2015-11-10 16:13] tadatuta opened #1703 "Focus should not enlarge components"
E.g. `input` in focus should be of the same height as without it. Same thing for any other block.

[2015-11-10 16:18] tadatuta opened #1704 "attach: Different reaction on click on attach__no-file"
In Chome, Opera 32, Safari click on `attach__no-file` for button with icon opens select file dialog.

For more info refer to https://nda.ya.ru/3R7GEZ

[2015-11-10 16:22] tadatuta opened #1705 "button: Icon size is wrong for button with text in Opera 12.17"
Icon size is wrong for [button with text](https://github.com/bem/bem-components/blob/v2/common.blocks/button/button.tests/simple.bemjson.js#L361-L372) in Opera 12.17

[2015-11-10 16:24] tadatuta opened #1706 "image: Specified size works wrong in IE11"
[Specified size](https://github.com/bem/bem-components/blob/v2/common.blocks/image/image.tests/simple.bemjson.js#L27-L34) works wrong in IE11

[2015-11-10 16:29] tadatuta commented on #1484
Issue still there on desktop version on iOS8.
But it's fixed on iOS9 and on touch version.

So most likely we can close it as a won't fix.

[2015-11-10 16:39] tadatuta opened #1707 "checkbox, radio-group: not react on second tap"
`checkbox` and `radio-group` (e.g. on `touch.tests/checkbox/simple/simple.html`, `touch.tests/checkbox-group/simple/simple.html` or `touch.tests/radio-group/simple/simple.html`) do not react on second tap on any touch device on any OS: https://yadi.sk/i/pAL4RzaujtZrb

[2015-11-10 16:43] tadatuta opened #1708 "modal: Zoom on Safari on iOS9.0.2"
On `desktop.tests/modal/simple/simple.html` (the issue only exists on `desktop` bundle on iPad, touch bundle is fine) on iOS9.0.2 (iOS8 works fine) on Safari (other browsers work fine) openning modal increases  zoom: https://yadi.sk/i/OngicV1LjtVNd

[2015-11-10 18:30] narqo commented on #1707
Possibly related to bem/bem-core#1088

[2015-11-13 11:01] just-boris opened #1710 "Border does not appear for autofilled inputs"
Chrome and other Blink-based browsers highlight inputs which was filled automatically. (Usually this is for login forms).

Input block in that case loses their border:
![image](https://cloud.githubusercontent.com/assets/812240/11144614/03a67cae-8a0f-11e5-81be-d328c36c47c5.png)

Maybe this is an expected behavior but it does not look nice.

[2015-11-13 11:36] narqo commented on #1710
Thanks for report, I'll ask our designers if such behaviour acceptable.

[2015-11-13 15:04] yekver opened #1711 "select: should not automatically open on scroll"
Select opens automatically If I press on it and start scrolling the mobile screen with my finger without raising it up. Both horizontal and vertical scroll are affecting this bug.
I use v2.3.0

[2015-11-14 10:46] narqo commented on #1710
It's time to introduce a label «**it'd be cool if you PR**»

[2015-11-14 23:45] #1691 closed, assigned to nobody

[2015-11-14 23:46] tadatuta opened #1713 ".enb/make.js: Get rid of { mangle: false }"
`techOptions : { uglify : { mangle : false } }` introduced in https://github.com/bem/bem-components/commit/2715cbc89719f00fd0192e2b755c080334b9b855 should be removed in `.enb/make.js` after `enb-bemxjst` release with https://github.com/enb-bem/enb-bemxjst/pull/109

[2015-11-14 23:46] #1688 closed, assigned to nobody

[2015-11-14 23:52] tadatuta commented on #1648
Irrelevant since https://github.com/bem/bem-components/commit/e53aaeb086c1238790fc1aaf4fd10faa2cd77236

[2015-11-14 23:52] #1648 closed, assigned to nobody

[2015-11-15 00:04] #1702 closed, assigned to tadatuta

[2015-11-15 00:05] tadatuta opened #1715 "Release 2.4.0"

[2015-11-15 12:56] tadatuta opened #1717 "travis: Run tests on node 5"

[2015-11-15 23:03] tadatuta opened #1719 "Use greenkeeper"
http://greenkeeper.io

[2015-11-16 12:27] #1715 closed, assigned to tadatuta

[2015-11-16 12:54] gela-d opened #1721 "button_view_pseudo: Двойная рамка при фокусе"
![2015-11-16 15 51 50](https://cloud.githubusercontent.com/assets/1333220/11182221/18773656-8c7a-11e5-9f93-1f62e6560da6.png)
Если я правильно понимаю, то должно быть так:
![222](https://cloud.githubusercontent.com/assets/1333220/11182244/4b196818-8c7a-11e5-967f-f9ea0994bf26.png)

[2015-11-18 15:47] #1721 closed, assigned to gela-d

[2015-11-19 15:26] i2r opened #1724 "attach: _multiple"
Есть потребность в **аттаче**, для которого будет работать **множественное добавление** файлов.

Есть **два подхода** к решению этой задачи.

1) Добавить модификатор `_multiple`, при выставлении которого в `true` инпуту внутри кнопки будет добавлен атрибут `multiple`, а элемент с названием файла не будет отображаться совсем.
При таком подходе мы сохраним обратную совместимость (+), но потеряем в г

[2015-11-19 15:33] vitkarpov commented on #1724
@tadatuta @veged

[2015-11-19 16:07] tadatuta commented on #1724
Чуть подробнее раскрою, что подразумевается по рефакторингом:
1. `attach` по умолчанию визуально становится просто кнопкой, без отображения выбранного файла.
2. Текущее поведение будет достигаться модификатором `_has-file`.
3. Новое поведение с `_multiple`, необходимое @i2r, предполагает отсутствие `_has-file`, но в целом стремимся к тому, чтобы модификаторы можно было сочетать.

Я за то, чтобы по

[2015-11-19 16:55] blond commented on #1724
@tadatuta, вам бы только семвер поломать :)

Откажитесь уже от `v2`, `v3` ... `vN` веток в пользу `dev` или `master`, чтобы не ломать семвер. В `bem-components` же нету ничего кроме `v2`, в чём проблема каждый раз когда надо выпускать мажорную версию?

[2015-11-19 20:10] #1713 closed, assigned to nobody

[2015-11-19 22:31] veged commented on #1724
@blond давай не будем тут обсуждать отказ от `v2`, `v3` ... `vN` веток, это оффтопик — можешь завести отдельный тикет, но позиция у нас по этому вопросу весьма ~~упоротая~~ устойчивая

[2015-11-19 22:33] veged commented on #1724
я за промежуточный вариант, когда мы можем сохранить апи

проблему со склонением числа файлов решать не обязательно — мы можем просто выводить списком файлы

[2015-11-20 06:16] i2r commented on #1724
Для списка файлов нужно непредсказуемо много места: непонятно, как выводить — в строку или столбец, столбец над кнопкой или под?

Из всех браузеров только ИЕ выводит список, но в инпуте ограниченной ширины. И такой подход кажется неудобным, из-за того, что очень сложно понять, что же выбрано (даже пересчитать файлы в таком инпуте — проблема).

Если выводить файлы списком, то может захотеться добав

[2015-11-20 06:24] i2r commented on #1724
Склонение числа файлов можно оставить на совести пользователя, если дать возможность в bemJson передавать специальную строку с плейсхолдером, на место которого будет подставляться количество файлов, а возможные склонения указывать, например, через запятую.

[2015-11-20 09:22] i2r commented on #1724
API для второго варианта мог бы выглядеть так:

[code]

Соответственно, если строка `legend` не указана, то мы не показываем текст про выбранные файлы совсем (сейчас в этом случае рисуется пустой `span`, что выглядит как баг).

Так мы сохраняем совместимость, рефакторим аттач, избавляемся от бага с пустым спаном (для тех, у кого был указан `noFileText`, ничего не изменится), позволяем сочетать `mu

[2015-11-20 09:47] dfilatov commented on #1724
А точно нужно писать прям количество выбранных файлов?

[2015-11-20 10:24] i2r commented on #1724
Это способ показать, что инпут непустой (за пример взят стандартный контрол в Хроме, Сафари, ФФ). Для одиночного файла мы пишем название файла. На мой взгляд, делать длинный список имён всех выбранных файлов бессмысленно, так как пользоваться таким списком невозможно (см. как это делает IE) и для пользовтаеля оптимальнее станет отключить этот список и реализовать его самостоятельно. Т.е. мы потрат

[2015-11-20 11:13] alexeyten commented on #1724
Я бы сделал API ещё проще и позволил добавить любой блок в который можно передать список файлов, а там пусть пользователь сам решает что он хочет показать, может количество файлов, а может предпросмотр картинок.

И в качестве примера реализовать блок который показывает имя файла или количество если их больше одного.

[2015-11-20 11:18] alexeyten commented on #1724
Хардкодить плейсхолдер плохо, непонятно как быть с разными языками.

[2015-11-20 12:22] i2r commented on #1724
@alexeyten в простейшем случае предлагает совсем отказаться от индикации того, что выбрано в аттаче. Для этого можно сделать новый блок, например, attach-simple, а на нынешний аттач отрефакторить так, что он внутри будет использовать  attach-simple и уметь показывать выбранный файл (как сейчас).

При таком варианте мы точно не сломаем API нынешнего attach.

[2015-11-20 13:09] voischev commented on #1724
file-name.png
2 файла
5 файлов
...
Такое?

[2015-11-20 13:19] alexeyten commented on #1724
Вот как раз из-за того, что всем от этого превью нужно разное, его нет большого смысла реализовывать тут.

[2015-11-20 13:22] i2r commented on #1724
Можно сделать так, что `legend` будет ожидать функцию, в которую будет передаваться список файлов из инпута, а возвращать эта функция должна строку, которую мы и покажем рядом с кнопкой.

[2015-11-20 13:50] vitkarpov commented on #1724
Нам точно нужна эта возможность, про легенду для множественных файлов?

На данный момент нужен блок `attach`, с модификатором `multiple`, который:
- должен позволять выбирать несколько файлов
- не должен ничего показывать рядом с кнопкой

Может стоит на данном этапе исходить из тех требований, которые есть? Или хочется заранее предусмотреть как этот блок должен работать с легендой?

[2015-11-20 14:52] i2r commented on #1724
Только для сохранения API. Но можно сделать новый блок (`attach-button`?), тогда все проблемы отпадают.

[2015-11-22 20:52] i2r commented on #1724
3-й вариант: делаем новый блок — attach-button, который представляет собой кнопку и не пытается показывать ничего про файлы. На вход можно передать параметры аналогичные параметрам кнопки и multiple.
Так мы сохраняем API, получим простейший блок для прикрепления файлов, отображение выбранных файлов ложится полностью на плечи пользователя.

Мне больше всего нравится этот вариант.

[2015-11-23 10:18] dfilatov commented on #1724
У нас, кстати, есть `button_type_link`, можно было бы по аналогии сделать `button_type_attach`, чтобы не плодить уж совсем новую сущность.

[2015-11-23 11:27] voischev commented on #1724
Я против. Давайте тогда `button_type_submit`  представим как `input_type_submit` => `<input type="submit" value="Отправить">`

так же с `checkbox` и `radio` поступим что бы не плодить новые сущности.

Кстати `select` это тоже тупо кнопка с попапом+меню. Давайте в `button_type_select` положим? :)

Абстракции над тем как предлагает голый html — это же хорошо. Не вижу ничего плохого в том что их боль

[2015-11-23 11:30] voischev commented on #1724
а `button_type_link` — вообще что-то странное @pepelsbey на вас нет :)

[2015-11-23 15:03] pepelsbey commented on #1724
![](http://i.giphy.com/auvR6w7ehBnMs.gif)

[2015-11-24 11:30] narqo commented on #1724
Обсудили с @dfilatov лично: можно подумать над тем, чтобы переделать внутренности `attach` так: блок, в зависимости от модификатора, будет расчитывать на предоставление некоторого интерфейса приемника-файлов. В зависимости от конкретных потребностей, пользователь может реализовать свой сложный приемник и отдать его в наш `attach` (общая идея аналогична `__switcher` в `dropdown`). Это, в теории, по

[2015-11-24 14:08] i2r commented on #1724
А зачем attach'у владеть таким приемником? Ну и мы получим ограничение на использование технологий для приемника — только bem.

[2015-11-24 15:47] narqo commented on #1724
В целом, идея похожа на описание в комменте https://github.com/bem/bem-components/issues/1724#issuecomment-158382064 но, должна позволить не тащить в библиотеку (очень) неоднозначные вещи вроде `legend`.

Кажется нет, никаких ограничений на то, как будет внутри работать приемник нет — главное чтобы он предоставлял для `attach` ожидаемый БЭМ-интерфейс (тут никаких отличий от текущих реалий).

[2015-11-27 11:18] narqo commented on #1683
No regressions related to a11y have been found, so [2.4.0](https://github.com/bem/bem-components/releases/tag/v2.4.0) was released.

[2015-11-27 11:18] #1683 closed, assigned to nobody

[2015-11-27 11:19] narqo commented on #1676
@tadatuta is it still in progress?

[2015-11-27 11:29] narqo opened #1727 "Gemini test reports are not being published if PR sent from fork"
[code]

The issue is in our publisher script which uses `$GH_TOKEN` env variable.

[2015-11-27 12:21] tadatuta commented on #1676
it was fixed

[2015-11-27 12:21] #1676 closed, assigned to nobody

[2015-12-02 11:27] tadatuta opened #1731 "Fix strange deps of dropdown"
https://github.com/bem/bem-components/blob/v2/design/common.blocks/dropdown/_theme/dropdown_theme_simple.deps.js

Seems it should be like this:

[code]

[2015-12-03 10:30] veged commented on #1724
может всё-таки сделаем самый простой случай с множественным выбором и отображением числа файлов (можно добавить попап со списком файлов)? а разные сложности можно будет делать доопределяя блок на своём уровне

[2015-12-03 10:47] voischev commented on #1724
@veged +1

[2015-12-04 14:56] tadatuta opened #1732 "dropdown_switcher_link: Fix deps"

[2015-12-04 15:11] tadatuta opened #1734 "select: Fix a11y markup"
Current `select` HTML generated with `bem-xjst` looks as follows (note `uniq*` occurrences):

[code]

`BH` results with different ids in `aria-owns` attribute but still unique across markup which seems to be strange.

[2015-12-04 15:11] tadatuta commented on #1734
cc @sipayRT @aristov

[2015-12-10 10:19] tadatuta commented on #982
Looks like it's time to get back to this issue.

[2015-12-10 10:20] tadatuta commented on #982
see https://github.com/bem/bem-forum-content-ru/issues/737

[2015-12-10 10:54] tadatuta commented on #1711
:up: priority

[2015-12-13 17:14] #1732 closed, assigned to nobody

[2015-12-23 16:56] #1710 closed, assigned to tadatuta

[2015-12-30 11:19] bu1ka commented on #16
Нет никаких новостей?

[2015-12-30 14:04] just-boris opened #1737 "В чем разница checkbox_type_button и button_togglable_check?"
Насколько я понял, в результате я и там, и там получаю кнопку, которая выделяется при клике. Еще я заметил, что checkbox генерирует `<input />`, а button – нет.

Так зачем нужны два варианта одного и того же?

[2015-12-30 14:07] just-boris commented on #1737
А еще у button_toggleable рисуется двойной border:

![image](https://cloud.githubusercontent.com/assets/812240/12051676/b9d6ba5c-af17-11e5-884e-24e43fdedd48.png)

Checkbox так не делает

[2015-12-30 21:12] awinogradov commented on #1737
@just-boris https://github.com/bem/bem-components/issues/1685 может помочь с ответом

[2016-01-05 11:28] narqo commented on #16
@bu1ka оно же полтора года как закрыто — каких новостей?

[2016-01-11 12:24] ocopant opened #1738 "Incorrect behaviour of "Checkbox" on mobile devices"
Open this link https://ru.bem.info/libs/bem-components/v2.4.0/touch/checkbox/ from mobile browser
and try to check/uncheck "Checkbox".
You need to tap several times for this action. Also tap on text doesn't work.

I expect that I need only one tap to check or uncheck "Checkbox"

I can reproduce on
Android 5.1.1 Ya.Browser 15.12
Android 5.1.1 Chrome 47
Android 4.4.2 Chrome 47
![2016-01-11_15-22-54]

[2016-01-11 18:55] dfilatov commented on #1738
Seems that it duplicates #1707

[2016-01-12 10:33] alexeimoisseev opened #1739 "checkbox-group without check mark on FF 43"
On page https://ru.bem.info/libs/bem-components/v2/desktop/checkbox-group/ no check mark when checkbox checked.

https://yadi.sk/i/lsNj4jw9mqD6k

Firefox 43.0.4
MacOS 10.11.2

[2016-01-12 10:46] tadatuta commented on #1739
Thank you for report, you may use https://ru.bem.info/libs/bem-components/v2.4.0/desktop/checkbox/ until we fix `v2`.

[2016-01-12 10:47] tadatuta commented on #1739
Closing issue here in favour of task for bem.info

[2016-01-12 10:47] #1739 closed, assigned to nobody

[2016-01-16 12:41] tadatuta opened #1741 "control-group: Wrong styling for dropdown"
Since `dropdown` is two DOM nodes now (trigger + popup) `last-child` selector works wrong:
http://i.imgur.com/DAMqGDb.png

[2016-01-16 15:14] vkhv commented on #1703
Have you meant it?

![input](http://i.imgur.com/6wYbDge.png)

[2016-01-16 15:16] vkhv commented on #1703
i can offer it - https://github.com/bem/bem-components/pull/1742

[2016-01-17 08:35] narqo commented on #1741
Looks like this is a degradation after #1392.

[2016-01-30 17:26] wKich opened #1744 "Вопрос: Как правильно наследоваться от стандартных блоков?"
Возможно я что-то делаю не так. В `bemjson` страницы описал свой блок:

[code]

Далее в `js` технологии блока `foo` описываю декларацию:

[code]

Функция инициализации блока `input` вызывается корректно, но вот `this.elem('control').val();` возвращает `undefined`.

[2016-01-30 17:41] tadatuta commented on #1744
Причина в том, что на примиксованные блоки не применяются шаблоны.
Чтобы получить ожидаемое поведение, нужно, чтобы примиксованным был `foo`:

[code]

[2016-01-30 17:58] wKich commented on #1744
Всё равно возвращается `undefined`. А при вызове `this.elem('control')` возвращается пустой список.

[2016-01-30 19:17] tadatuta commented on #1744
А указан ли `textarea` в зависимостях?

[2016-01-30 19:33] wKich commented on #1744
Конечно, иначе бы была ошибка `can't resolve dependence`
В файле `foo.deps.js` прописывал:

[code]

[2016-01-30 19:48] tadatuta commented on #1744
я так понимаю, что в вызове `this.elem('control')` `this` указывает на `foo`?

дело в том, что `control` в данном случае — это элемент блока `textarea`, соответственно, искать его нужно так:

[code]

[2016-01-30 19:56] wKich commented on #1744
Я добавлял `console.log(this.elem('control'))` в файл `libs/bem-components/common.blocks/input/inpus.js` внутрь функции `onSetMod.js.inited`

[2016-01-30 20:34] tadatuta commented on #1744
Отвечает ли этот пример на вопрос: https://jsfiddle.net/tadatuta/83nmrfgy/1/ ?

[2016-01-30 20:55] wKich commented on #1744
Возможно для меня в виду недостаточного понимания архитектуры БЭМ компонентов кажется не совсем очевидной необходимость вызова `findBlockInside`, если мы обозначили `Textarea` в качестве родительского блока для `foo`.

[2016-01-30 21:06] wKich commented on #1744
В таком случае, нам даже ненужно объявлять `textarea` как родительский блок и указывать его в зависимостях и всё будет работать.

[2016-01-30 22:09] tadatuta commented on #1744
Да, все так. Дело в том, что приведенный код наследует только JS-реализацию. Но чтобы она нормально отработала, нужно, чтобы у отнаследованного блока была ожидаемая разметка (в данном случае — чтобы элемент `control` оказался элементом блока `foo`, а не блока `textarea`).

Если говорить про общую практику при использовании i-bem, то могут быть такие реальные варианты:
1. На проекте (или в рамках д

[2016-01-31 07:04] wKich commented on #1744
Спасибо большое за развернутый ответ. Скорее всего в моём случае будет лучше воспользоваться вторым вариантом.

Если можно, у меня есть ещё один вопрос, но касающийся BEMHTML. Я вижу в примере используется функция `apply`, которая возвращает скомпилированную html разметку. Подобный пример описывается в статье ["Работа с DOM-деревом"](https://ru.bem.info/technology/i-bem/v2/i-bem-js-dom/#Динамическ

[2016-01-31 15:08] tadatuta commented on #1744
На самом деле BEMHTML подключен, это вопрос про зависимости.

По умолчанию зависимости работают в режиме «технология BEMHTML блока b1 зависит от технологии BEMHTML блока b2», т.е. нужные шаблоны попадают в отдельный «серверный» бандл. Его можно подключить на клиент как обычный JS-файл и все будет работать, но зачастую это неэффективно, т.к. у нас уже есть страница с обвязкой, отрендеренная на серв

[2016-01-31 21:16] tadatuta opened #1745 "BEMHTML: use proper boolean values for attribute"
Since https://github.com/bem/bem-xjst/pull/183 boolean attributes are rendered as really boolean:

[code]

is now rendered without `="true"` part which invalidates quite a lot of tmpl specs and as far as I understand some a11y cases, e.g.: https://github.com/bem/bem-components/blob/v2/common.blocks/popup/popup.bemhtml#L12

For `aria-*` cases it should be like `'aria-hidden': 'true'` (fixes in temp

[2016-02-03 13:01] #1744 closed, assigned to nobody

[2016-02-03 13:03] veged commented on #1741
@tadatuta can it be fixed in CSS or it's better to rollback #1392

[2016-02-03 13:14] tadatuta commented on #1741
it can with several selectors with `:last-of-type`

[2016-02-08 11:19] tadatuta commented on #1737
@just-boris
Баг с бордером был исправлен в https://github.com/bem/bem-components/commit/8718599227bd2e81d3e9172e56d4f05c9a1f48f2

По поводу разницы ответ Антона помог? Можем закрывать?

[2016-02-08 11:24] tadatuta commented on #1724
@i2r Есть прогресс по задаче?

[2016-02-08 11:29] #1696 closed, assigned to nobody

[2016-02-08 11:30] just-boris commented on #1737
В тикете идет обсуждение нюансов API.

У меня был вопрос, зачем нужны два блока, которые выглядят и ведут себя одинаково.

[2016-02-08 11:41] veged commented on #1737
checkbox_type_button сделан через button_togglable_check и обладает дополнительной функциональностью про `<input>` которая позволяет использовать его на формах как поле со значением

[2016-02-08 11:41] #1737 closed, assigned to nobody

[2016-02-08 11:47] veged commented on #1734
@tadatuta could you describe what exactly "strange" is? we looked at https://github.com/bem/bem-components/pull/1743/files and could't catch the point

[2016-02-08 11:52] tadatuta commented on #1388
С последнего обсуждения доля IE8 упала еще сильнее. Давайте закрывать? :)

[2016-02-08 11:59] tadatuta commented on #448
irrelevant since there's no support for i18n in BEMJSON in `bem-core`

[2016-02-08 11:59] #448 closed, assigned to veged

[2016-02-08 12:56] veged commented on #1711
it can be fixed after https://github.com/bem/bem-core/issues/1254

[2016-02-08 15:12] tadatuta opened #1746 "button: Support possibility to put icon right to text"

[2016-02-08 15:31] tadatuta commented on #1734
As it goes in description, there's a bug in uniq id generation so the same id is generated for `aria-owns` (`"uniq14492417126291 uniq14492417126291 uniq14492417126291"` in example above)

[2016-02-09 11:32] veged commented on #1734
ok, I got it and just add some comment to PR

[2016-02-09 11:40] veged commented on #1741
ok, so keep it _[ready]_

[2016-02-11 10:50] #1745 closed, assigned to gela-d

[2016-02-12 13:43] narqo commented on #1700
Looks like the solution was found.

[2016-02-12 13:43] #1700 closed, assigned to nobody

[2016-02-12 13:54] just-boris commented on #1700
@narqo one question wasn't answered: if you care about accessibility, why you don't consider using `aria-required` attribute? At least for it, you should use that modifier.

[2016-02-12 14:07] aristov commented on #1734
Fixed

[2016-02-12 14:07] #1734 closed, assigned to aristov

[2016-02-12 15:01] narqo commented on #1700
@just-boris in https://github.com/bem/bem-components/issues/1700#issuecomment-152587554 above there is a workaround for adding attributes to the block. As far as I know current bem-xjst allows to add templates in the runtime, so it should work for dist as well.

As for adding the property to the templates to the library level, we don't plan to extend current API of the templates if this new API do

[2016-02-12 15:07] just-boris commented on #1700
It is not a question whether can it be worked around or not, it is about consistency. Now I am talking about native `aria-required` support. Some aria-attributes are supported, but this one is ignored.

Browser support doesn't matter here. If some browser can't validate required fields, why we can't add a hint for screen readers, which fields are necessary to fill?

[2016-02-15 09:17] tadatuta commented on #1674
Modal with focus management solved https://github.com/edenspiekermann/accessible-modal-dialog

[2016-02-16 09:04] kompolom opened #1749 "specs falls"
I clone bem-components, then run `npm run unit`

[code]

[2016-02-16 10:25] tadatuta opened #1750 "Update gemini"
It should be possible to get rid of `gemini-extend-capabilities` afterwards.

[2016-02-16 10:53] #1731 closed, assigned to tadatuta

[2016-02-16 11:39] tadatuta commented on #1749
The reason is npm@3 and flat dependencies installation: https://github.com/enb-bem/enb-bem-specs/issues/50

Until the issue in `enb-bem-specs` is fixed the only workaround is to use `npm 2`.

[2016-02-17 11:26] tadatuta opened #1752 "select: Value is cached in hidden input"
`autocomplete: 'off'` should be used

[2016-02-18 07:45] #1752 closed, assigned to gela-d

[2016-02-19 12:35] #1749 closed, assigned to nobody

[2016-02-19 13:26] veged commented on #1708
Investigations show us that this behaviour depends on `.page_hide-scroll { overflow: hidden; }`. Without this style there is no auto zoom. Zoom appear exactly in moment when body gains `overflow: hidden` (no matter how exactly).

Have no idea for now how can we fix it :-(

[2016-02-19 13:31] veged commented on #1708
WebKit bug exactly about this: https://bugs.webkit.org/show_bug.cgi?id=150715

[2016-02-19 13:45] veged commented on #1708
this fix our examples

[code]

but not sure about other cases

since it only reproduces when body is short — let's assume that this is enough

[2016-02-19 13:46] #1708 closed, assigned to veged

[2016-02-22 13:05] weynemeynen commented on #1294
Привет Вова!

Научи пожалуйста (по bem) открывать (по загрузке страницы) и закрывать и модальное окно.
autoclosable не работает :(
видеть можно здесь:
https://8a1ff09ee07f1e2ffa60543a9b82ee60fe9245bd.googledrive.com/host/0BwpgJqxcuprwZEhIRkNXSUZwOE0/index.html

github:
https://github.com/weynemeynen/tests/tree/informika

и ещё:
как вставить пробелы между кнопками в radio-group???
https://ru.bem.in

[2016-02-22 13:57] tadatuta commented on #1294
`radio-group` задуман исключительно для того, чтобы поставить радио-кнопки вплотную. Если между ними нужны отступы, то воспользуйся просто несколькими отдельными [radio](https://ru.bem.info/libs/bem-components/v2.4.0/touch/radio/).

[2016-02-22 14:12] tadatuta commented on #1294
В репозитории https://github.com/weynemeynen/tests/tree/informika не увидел использования блока `modal`, так что подсказать на счет `autoclosable` без примера не смогу — у меня с ним проблем нет, да и тесты блок проходит.

А на счет показа `modal` на загрузку, можно в `page.js` в обработчике на `js inited` вызвать `this.findBlockInside('modal').setMod('visible');`. Если модальных окон больше одног

[2016-02-22 21:11] weynemeynen commented on #1294
Ура! Получилось!
большое СПАСИБО!

[2016-02-27 09:51] tadatuta opened #1755 "Update bem-core to 2.9.0"
https://github.com/bem/bem-core/releases/tag/v2.9.0

[2016-02-27 10:10] #1755 closed, assigned to tadatuta

[2016-02-27 20:07] gela-d opened #1757 "gemini: Move windowSize property to browser config level"
Because of bug in Gemini top level property windowSize does't work,
Correct type:

[code]

In this issue gemini screenshots shoul be re-screened.

[2016-02-27 21:31] tadatuta commented on #1757
If we need to update screenshots anyway, let's also update `gemini` to latest version as well.
And wait for solution from @just-boris to get rid of SauceLabs.

[2016-02-29 08:39] sipayRT commented on #1757
@tadatuta you don't need update screenshots to update `gemini`.

[2016-02-29 08:58] tadatuta opened #1758 "Publish version with precompiled CSS"
Now we force users of `bem-components` to use `Stylus` in their projects.
But quite often they use some other pre/postprocessor or just plain CSS.
For them it's just useless dependency, config complication and slowdown of build pipeline.

And even for people who use Stylus there's no profit of having our source in Stylus.

So @zxqfox proposed to release `bem-components` with already compiled CSS.

[2016-02-29 09:01] veged commented on #1758
since we have no any helpers for Stylus which are can be used inside user styles I think we can omit 2 and do 3

[2016-02-29 09:13] voischev commented on #1758
:fire:

[2016-02-29 10:33] awinogradov commented on #1758
You can publish with npm and use postinstall for precompile or publish precompiled ;) npm package is good because we can export some meta for builder such as levels and techs.

[2016-02-29 10:49] tadatuta commented on #1758
@awinogradov we can discuss publication to `npm` as a separate task as we need `bower` package anyway.

[2016-02-29 14:52] gela-d opened #1759 "radio: Possibility to combine blocks by names"
In html-word we have possibility to use two separate `<input type="radio"` with identical name combined  two radio-buttons in different places of the page.
![1](https://cloud.githubusercontent.com/assets/1333220/13397552/89432de8-df0b-11e5-8586-27135577cc99.png)
![2](https://cloud.githubusercontent.com/assets/1333220/13397564/98f7d266-df0b-11e5-8a26-0e20d5c72c77.png)

But, if I combine two radio-b

[2016-02-29 14:54] dfilatov commented on #1759
You have to use the same js parameter `id` for this case.

[2016-02-29 15:06] gela-d commented on #1759
If I understand correctly, I shall use this entry:

[code]

?
If this entry correct - it doesn't work, both of radio checked simultaneously
![11](https://cloud.githubusercontent.com/assets/1333220/13398414/376ecb18-df0f-11e5-87ff-dbaac21b878a.png)

[2016-02-29 15:09] dfilatov commented on #1759
Oh. You mustn't use `radio` without `radio-group`.

[2016-02-29 15:18] gela-d commented on #1759
Yes, this is my problem - to use radio in table, where I haven't possibility to use radio-group.

[2016-02-29 16:09] dfilatov commented on #1759
It's not a problem, just use `radio-group`s (with the same `id`) instead of `radio`s.

[2016-03-01 07:26] gela-d commented on #1759
Thanks, it works, but I still think that posiibility to use this:

[code]

is better than

[code]

[2016-03-01 07:27] dfilatov commented on #1759
`radio` isn't supposed to be used without `radio-group`.

[2016-03-01 07:37] gela-d commented on #1759
Dima, thanks for answers.

[2016-03-01 13:30] tadatuta opened #1762 "External PRs should also be able to push showcase"
See https://travis-ci.org/bem/bem-components/jobs/112838438

[2016-03-01 14:03] tadatuta commented on #1759
Let's discuss it a bit more.

We claim that `bem-components` provide blocks which work the same way as native.
Shouldn't we keep this task as improvement for `radio` to work independently?

[2016-03-01 15:12] gela-d commented on #1759
By the way, i have some problem with `radio-group`.
I use two `radio-group` with one option and one ID in bemjson.
Then, I add one more `radio-group` width the same ID from javascript `BEMHTML.apply({})`. In html I see that all of three blocks have identical ID, but two of them (from bemjson) works together, and third, from js, hasn't connected to them.

[2016-03-01 15:28] dfilatov commented on #1759
@gela-d blocks are joined during initialization. You can't add another part after.

[2016-03-01 15:32] dfilatov commented on #1759
It can't be true. We already have blocks and behaviours which don't have corresponding ones in html.

[2016-03-01 15:50] tadatuta commented on #1759
I meant «not worse than native».

[2016-03-01 16:35] tadatuta commented on #1759
Suggested solution:

[code]

[2016-03-01 18:37] dfilatov commented on #1759
I don't like the idea to use global selectors just to support this edgecase.

[2016-03-01 21:15] tadatuta commented on #1759
Maybe we can implement it as a modifier?

[2016-03-01 21:54] tadatuta opened #1763 "Run tests on bem-xjst 5"

[2016-03-01 23:13] miripiruni commented on #1763
:walking:

[2016-03-04 21:14] #1711 closed, assigned to dfilatov

[2016-03-07 17:33] aliosv opened #1765 "Popup_target_anchor: возможность сохранять блок при удалении anchor"
Пример: todo list с одним попапом(автокомплит) для всех инпутов.
input.onFocus -> popup.setAnchor
input.destruct -> popup.destruct - не айс
Метод delAnchor или флаг noDestruct позволили бы избежать хаков.

[2016-03-09 09:28] narqo commented on #1765
Мы у себя на одном проекте решали похожую задачу, «перевешия» `popup` на перманентный анкор, который (почти) никогда из DOM не удаляется. В вашем примере, это будет
дополнительный шаг «input.onBlur → popup.setAnchor(permanentAnchor)».

Решение, про отвязку `popup` от анкора накладывает дополнительные обязательства: нужно руками удалять/строить `popup` в ситуации, когда происходит полный перерендер

[2016-03-09 09:34] narqo commented on #1759
Can't such modifier be implemented on the project level first? We could backport it to the library if the case'd be seen more often.

[2016-03-09 09:36] narqo commented on #1741
@tadatuta @gela-d any estimates here?

[2016-03-09 10:41] aliosv commented on #1765
поясни пожалуйста

[2016-03-11 13:04] narqo commented on #1765
Представь, что твоя страница с TODO-листом, это всего лишь одна из «страниц» сложного SPA. После перехода вперед-назад по «страницам», «мусорные» попапы будут копиться в дереве. На больших приложениях, в которых пользователь проводит N часов (дней), все это приводит к текущей памяти :(

[2016-03-11 13:06] #1765 closed, assigned to nobody

[2016-03-12 14:36] aliosv opened #1766 "Вложенные menu"
Планируете реализовать? Пример - многоуровневая навигация.

[2016-03-12 17:59] awinogradov commented on #1766
@aliosv а чем не подходит `menu->menu-item->dropdown->menu->menu-item->dropdown`?

[2016-03-12 18:01] aliosv commented on #1766
@awinogradov, popup'ами

[2016-03-12 18:02] awinogradov commented on #1766
разверни мысль немного подробнее? Что ты хочешь?

[2016-03-12 18:05] aliosv commented on #1766
древовидное многоуровневое меню

![screenshot 1](https://cloud.githubusercontent.com/assets/2275425/13724412/96fcd660-e88d-11e5-97b1-d58868acd093.png)

[2016-03-12 18:08] awinogradov commented on #1766
Ок;) Чем не подходит  `menu->menu-item->menu->menu-item`?

UPD: можно добавить `menu-item_collapsed` и сворачивать когда надо и не надо.

[2016-03-12 18:09] aliosv commented on #1766
Именно так и хотелось бы, но не работает: верхнее меню найдет все вложенные menu-item и сломается.

[2016-03-12 18:11] awinogradov commented on #1766
Что сломается?

[2016-03-12 18:17] aliosv commented on #1766
клик на вложенном item снимает checked на его родителе

[code]

клик на "a" сделает

[code]

а хочется

[code]

[2016-03-13 23:11] tadatuta commented on #1766
@aliosv Древовидное многоуровневое меню вполне можно сделать на основе существующего `menu` и просто не использовать `mode`:

[code]

[code]

[2016-03-18 07:02] gela-d opened #1767 "menu: After disabled state tabindex has not been set"
If I have menu with `disabled` mod, and then make `menu.delMod('disabled')` tabindex has not been set.
In template we have this construction https://github.com/bem/bem-components/blob/v2/common.blocks/menu/menu.bemhtml#L45-L47.

[2016-03-21 09:55] tadatuta opened #1768 "checkbox, radio: Sync prop to support jQuery form serialization"
Now just first time checkbox/radio is check it works properly. Since the second one form serialization will fail.

[2016-03-21 14:11] GreLI opened #1770 "Fail on dropdown.bh.js in absence of “switcher”"
If `switcher` key is absent in BEMJSON, [dropdown.bh.js](https://github.com/bem/bem-components/blob/v2.4.0/common.blocks/dropdown/dropdown.bh.js#L13) fails on lines [13](https://github.com/bem/bem-components/blob/v2.4.0/common.blocks/dropdown/dropdown.bh.js#L13) and [44](https://github.com/bem/bem-components/blob/v2.4.0/common.blocks/dropdown/dropdown.bh.js#L44) with error messages like “Cannot re

[2016-03-25 11:59] #1766 closed, assigned to nobody

[2016-03-28 14:15] tadatuta commented on #1738
Related internal ticket: https://nda.ya.ru/3RRuAs

[2016-03-30 12:05] tadatuta opened #1777 "pull-github-notify fails when PR is done from external fork"
@birhoff, will you take a look, please?

[code]

[2016-03-30 12:13] tadatuta commented on #1598
Close in favor of https://github.com/bem/bem-components/pull/1771

[2016-03-30 12:13] #1598 closed, assigned to sipayRT

[2016-03-30 12:14] tadatuta commented on #1581
Implemented in https://github.com/bem/bem-components/pull/1771

[2016-03-30 12:15] sipayRT commented on #1598
@tadatuta а, че?

[2016-03-30 12:20] tadatuta commented on #1598
looks like github did it automatically. nevermind :)

[2016-03-31 14:24] #1768 closed, assigned to tadatuta

[2016-03-31 16:57] #1719 closed, assigned to tadatuta

[2016-03-31 21:06] tadatuta opened #1780 "dist: Make autoinit optional"

[2016-03-31 21:41] #1550 closed, assigned to nobody

[2016-03-31 22:11] #1780 closed, assigned to tadatuta

[2016-04-01 08:08] tadatuta opened #1783 "Release 2.5.0"

[2016-04-01 14:55] gela-d opened #1785 "control-group: Extra border in two or more button_checked"
![1](https://cloud.githubusercontent.com/assets/1333220/14210728/5a27842a-f83b-11e5-86ac-f6e962a0b560.png)
![2](https://cloud.githubusercontent.com/assets/1333220/14210737/5d5d5aac-f83b-11e5-834a-d352ed791d24.png)

[2016-04-04 09:06] #1785 closed, assigned to gela-d

[2016-04-05 09:24] tadatuta commented on #1738
Yet another internal ticket: https://nda.ya.ru/3RT63h
video: https://yadi.sk/i/pRy8B4Y-jtTUH

[2016-04-05 12:57] narqo opened #1787 "Use `touch-action: manipulation` in controls"
As we're dropping FastClick in `bem-core@v3` (see bem/bem-core#1088) we need to add `touch-action: manipulation` CSS rule to blocks that assume to be clicked.

After discussion \w @veged and @dfilatov we've decided that this rules must present on the top `common.blocks` level (e.g. not on the `design/*.blocks` levels).

[2016-04-05 12:59] narqo commented on #1787
In addition to this changes we need to think about Android/WinPhone browsers.

[2016-04-06 15:46] #1783 closed, assigned to nobody

[2016-04-06 15:51] narqo opened #1790 "Release v2.5.1"
After #1783 will be merge, if'd be nice to have a bugfix release of bem-components.

[2016-04-06 15:51] narqo commented on #1790
@tadatuta may I ask you to do this?

[2016-04-06 16:03] narqo commented on #1770
I believe, the only relevant solution currently is to add a note to docs that particular fields are required. See relevant issue #1576.

[2016-04-06 16:46] GreLI commented on #1770
Why not to allow to add `elem: 'switcher'` in `content`?

[2016-04-06 17:09] narqo commented on #1770
It's a really weird API, when two different things do the same stuff. And it's getting weirder when you try to document such API (this is the reason we haven't documented `content` field of the `button`).

[2016-04-09 20:12] awinogradov opened #1793 "why menu-item isn't based on control?"
They have the same logic

[2016-04-14 12:44] #1759 closed, assigned to nobody

[2016-04-16 19:54] #1767 closed, assigned to narqo

[2016-04-18 14:06] tadatuta commented on #1790
Released main version but not closing till I release `dist` to `bower` and CDN.

[2016-04-18 15:50] tadatuta opened #1802 "Release 3.0.0"

[2016-04-18 15:50] tadatuta opened #1803 "Drop support of old bem-xjst & bh versions"

[2016-04-18 16:13] veged commented on #1647
we should do this consistently with bem-core

[2016-04-18 16:16] tadatuta opened #1804 "Update bem-core to 3.0.0"
#1805

[2016-04-18 18:08] tadatuta commented on #1497
`extend()` is not working now (see https://github.com/bem/bem-xjst/issues/180) so I change issue title to just `replace()` and create another issue for `extend()`.

[2016-04-18 18:09] tadatuta opened #1809 "BEMHTML: Use extend()"
Blocked by: https://github.com/bem/bem-xjst/issues/180

[2016-04-18 21:29] tadatuta commented on #1647
I updated issue description so now it's consistent with what's already done in `bem-core`

[2016-04-19 15:48] tadatuta commented on #1666
After some consideration decided it should be postponed till `v4`

[2016-04-19 15:49] tadatuta commented on #1447
I think it should be postponed till `v5`

[2016-04-19 17:52] veged commented on #1447
why?

[2016-04-19 19:39] tadatuta commented on #1447
@veged I sent a mail with explanation a while ago

[2016-04-20 13:44] tadatuta opened #1816 "Drop bem-tools support"
Looks like there's no reason to keep `bem-tools` npm deps and configs here as templates for `bem create` are in `bem-core`.

// cc @veged

[2016-04-20 14:27] tadatuta opened #1817 "BEMHTML: Check that escaping works fine"

[2016-04-20 14:44] miripiruni commented on #1817
🚶

[2016-04-20 14:57] #1803 closed, assigned to tadatuta

[2016-04-20 14:58] #1804 closed, assigned to tadatuta

[2016-04-20 14:58] #1464 closed, assigned to tadatuta

[2016-04-20 14:58] #1497 closed, assigned to tadatuta

[2016-04-20 14:59] #1502 closed, assigned to tadatuta

[2016-04-20 15:01] #1647 closed, assigned to tadatuta

[2016-04-20 15:12] veged commented on #1816
but how I get bem-tools here if there is no `devDependencies`?

[2016-04-20 15:12] veged commented on #1447
ok

[2016-04-20 15:14] tadatuta commented on #1816
You mean there's someone who needs `bem-tools` while working on `bem-components` and that person can't install it without such dependency? ;)

[2016-04-20 15:24] veged commented on #1816
exactly!

[2016-04-20 15:47] #1787 closed, assigned to tadatuta

[2016-04-20 16:00] tadatuta commented on #1816
I don't believe such person exists. And even if he exists how often he's going to use `bem create` inside `bem-components`? Once in a year or two?

And take a look on amount of useless code we can get rid of: https://github.com/bem/bem-components/pull/1819 (as well as 4 top-level npm dependencies).

[2016-04-20 16:17] veged commented on #1816
ok — and do not say that it is impossible to convince me ;-)

[2016-04-20 16:46] tadatuta commented on #1817
After discussion with @veged we decided there's nothing to test on library level.

[2016-04-20 16:59] qfox commented on #1817
Same here. Didn't find any escapable characters like `&nbsp;` or `&mdash;` or `<!--[IE]` in templates or the library.

[2016-04-20 20:22] #1817 closed, assigned to tadatuta

[2016-04-20 20:40] tadatuta opened #1820 "Switch back to CSSO"

[2016-04-21 09:08] #1816 closed, assigned to tadatuta

[2016-04-21 13:12] #1820 closed, assigned to tadatuta

[2016-04-21 14:07] dfilatov commented on #1802
Mustn't be released until https://github.com/bem/bem-core/issues/1253

[2016-04-22 09:18] apsavin opened #1823 "Wrong popup positioning during window resize"
How to reproduce:
1. open  https://jsfiddle.net/ze4rn61k/1/
2. be sure that button in the html pan is visible and far enough from window border
3. press the button (you should see a popup) and start to minmize window from right to left

Expected result: popup should be the same after resize
Actual result: popup is corrupted

Correct popup view (before resize):
![2016-04-22 12 16 05](https://cloud.

[2016-04-22 09:31] dfilatov commented on #1823
If you want to have the same predictable size you'll have to fix it by yourself, for instance in css.

[2016-04-22 10:12] apsavin commented on #1823
Do you really think it's correct behaviour?

I can't specify width in css because different popups have different content - so different width. I beleave that look of popup should be the same regardless of window border position.

[2016-04-22 10:13] dfilatov commented on #1823
What if you specify width via %? How it can be the same independently from window size?

[2016-04-22 10:19] apsavin commented on #1823
It looks like we completely misunderstand each other. How width of popup can depend on window size? Even not on window size, but on window border position.
Did you try to reproduce it yourself?

I think that after window resize the popup should look like this:
![2016-04-22 13 18 16](https://cloud.githubusercontent.com/assets/632171/14738866/190f7c80-0895-11e6-9199-abb004485b83.png)
(right border o

[2016-04-22 11:24] dfilatov commented on #1823
`.popup { width : 50vw }`

[2016-04-22 11:26] dfilatov commented on #1823
What about border. I still don't understand what you mean. Need some time to realize.

[2016-04-22 11:43] apsavin commented on #1823
Well, such behaviour depends on user's wish, not on library's bugs)

In the example on jsfiddle (link above) width of popup depends on window border position when popup's target is outside the viewport (completely or partly).

May be @tadatuta The Great will be able to understand me)

[2016-04-22 15:50] tadatuta commented on #1823
Well, looks like the request may be rephrased as not to resize popup until there's enough space for it on a page?

[2016-04-22 16:06] apsavin commented on #1823
Well, bem-components does not change the popup's `width`, only `left` and `top` props. Maybe, we should just set `right` as well and/or fix `left` prop calculation.

[2016-04-23 09:23] dfilatov commented on #1823
@tadatuta popup isn't resized with js, it's a default browser behaviour for absolutely positioned blocks without specified size.

[2016-04-28 14:05] losogudok opened #1832 "Add setText method to link component"
Really need it.

[2016-04-28 14:18] losogudok commented on #229
guys, really need this block

[2016-04-28 14:36] voischev commented on #1832
`link.domElem.text('text');`

[2016-04-28 16:20] veged commented on #229
@losogudok sorry, but we recommend to use [`checkbox`](https://ru.bem.info/libs/bem-components/v2.4.0/desktop/checkbox/) or [`radio-group`](https://ru.bem.info/libs/bem-components/v2.4.0/desktop/radio-group/) — it's better for user experience

[2016-05-05 09:56] narqo commented on #1790
Still haven't?

[2016-05-05 21:59] tadatuta commented on #1790
https://yastatic.net/bem-components/2.5.1/desktop/bem-components.dev.js+bemhtml.js

https://github.com/bem/bem-components-dist/releases/tag/v2.5.1

[2016-05-05 21:59] #1790 closed, assigned to tadatuta

[2016-05-10 13:58] vithar opened #1837 "One pixel jitter in control-group with checkbox (type modifier with button value)"
See movie:
[control-group.mov.zip](https://github.com/bem/bem-components/files/257324/control-group.mov.zip)

[2016-05-10 13:58] vithar commented on #1837
//cc @tadatuta @anyatyu

[2016-05-10 15:23] tadatuta opened #1839 "popup visually detach from target on zoomed touch devices"

[2016-05-10 15:53] #1741 closed, assigned to gela-d

[2016-05-14 22:17] tadatuta opened #1843 "gemini: Update browser versions"

[2016-05-16 00:08] tadatuta commented on #1738
Fixed in https://github.com/bem/bem-components/releases/tag/v3.0.0

[2016-05-16 00:08] #1738 closed, assigned to nobody

[2016-05-16 00:08] tadatuta commented on #1707
Fixed in https://github.com/bem/bem-components/releases/tag/v3.0.0

[2016-05-16 00:08] #1707 closed, assigned to nobody

[2016-05-16 00:09] tadatuta commented on #1677
Fixed in https://github.com/bem/bem-components/releases/tag/v3.0.0

[2016-05-16 00:09] #1677 closed, assigned to nobody

[2016-05-16 00:10] #1484 closed, assigned to nobody

[2016-05-16 00:11] tadatuta commented on #1758
https://github.com/bem/bem-components/releases/tag/v3.0.0 was published with precompiled CSS.

[2016-05-16 00:11] #1758 closed, assigned to tadatuta

[2016-05-16 00:35] #1802 closed, assigned to tadatuta

[2016-05-19 17:57] #1763 closed, assigned to nobody

[2016-05-19 17:58] #1717 closed, assigned to nobody

[2016-05-19 18:00] tadatuta opened #1844 "Add proper ignores for npm/bower releases"

[2016-05-19 18:05] #1429 closed, assigned to blond

[2016-05-19 18:06] tadatuta commented on #1388
Nobody cares

[2016-05-19 18:06] #1388 closed, assigned to sipayRT

[2016-05-19 18:10] tadatuta commented on #1331
Implemented

[2016-05-19 18:10] #1331 closed, assigned to tadatuta

[2016-05-20 10:38] tadatuta commented on #1757
irrelevant after `gemini` update

[2016-05-20 10:38] #1757 closed, assigned to gela-d

[2016-05-20 13:56] tadatuta opened #1846 "link: Rename _view_black to _view_text"

[2016-05-20 13:57] Guria opened #1847 "attach: dead templates"
Templates for `file`, `text` and `clear` elements is not used anywhere since it is not supported to define selected file in `bemjson`. This elements are generated only with client side js with string concatenation.

[2016-05-22 17:56] gela-d commented on #1846
This view has been added in PR with new design, I change view-name and update screens in that tree - https://github.com/bem/bem-components/pull/1838/commits/40b2662160a03bb8f1e2d34b458844973e9cc6ba

[2016-05-23 11:52] tadatuta opened #1850 "git hooks: Do not checkout working dir"
Now when there are not added to git binary files they are lost after rollback (e.g. images).

[2016-05-23 23:12] Guria commented on #1847
Looks like it still supposed to use for `{ block: 'attach', elem: 'file' }` and BEMDOM.replace:
https://github.com/bem/bem-core/pull/1334/files#diff-b10c956b60213624bf044d8f2d51fa57R143

Though, not sure if this snippet related to `bem-components` `attach` block or it's just used as example.

[2016-05-24 10:55] #1581 closed, assigned to gela-d

[2016-05-24 10:56] #1666 closed, assigned to tadatuta

[2016-05-24 10:56] #1703 closed, assigned to gela-d

[2016-05-24 10:56] #1750 closed, assigned to nobody

[2016-05-24 10:56] #1843 closed, assigned to gela-d

[2016-05-24 10:56] #1846 closed, assigned to gela-d

[2016-05-25 08:58] tadatuta opened #1855 "dist: Provide concatenated templates"
Related to https://github.com/bem/bem-components-dist/issues/6

[2016-05-25 08:58] tadatuta opened #1856 "Update npm deps"

[2016-05-27 08:05] Guria opened #1857 "attach: cursor pointer"
Cursor doesn't change to pointer when mouse over attach button, because it's covered with absolutely positioned transparent `<input type="file">`.
So the fix is just add `.attach__control { cursor: pointer }` property.

[2016-05-27 09:22] Guria opened #1858 "overused `applyNext()` calls"
In some places looks overused, because it much simpler just to pass values in ctx.
- https://github.com/bem/bem-components/blob/99ba4f447e762b76992adec927649fd74686beeb/common.blocks/input/input.bemhtml.js#L5
- https://github.com/bem/bem-components/blob/99ba4f447e762b76992adec927649fd74686beeb/common.blocks/input/__control/input__control.bemhtml.js

Is it intended or subject to fix?

[2016-05-27 09:54] Guria opened #1861 "button: `content` field is not documented"
Looks like `button` block template supports `content` field which overrides value of `text` field, but it is not documented.

[2016-05-27 10:31] i2r commented on #1724
Прогресса нет. Задача не актуальна.

[2016-05-27 10:31] #1724 closed, assigned to nobody

[2016-05-27 14:10] adinvadim opened #1862 "Custom field 'id' of controls"
In docs of `checkbox` there is a custom field id, but I doesn't see it in template. Also `radio` doesn't have id in docs and template

[2016-05-29 16:15] narqo opened #1863 "Blocks' icons are missed on the showcase page of 3.0"
Icons of `checkbox`, `input__clear`, `select__button`, `menu-item` are missed on the showcase page of 3.0.0.

![showcase 2016-05-29 19-10-43](https://cloud.githubusercontent.com/assets/88045/15634642/8dfb9cbe-25d1-11e6-8a72-69ef2fc14fae.png)

[2016-05-30 14:07] Guria commented on #1855
@tadatuta If possible would be great to see them as commonJs or umd module:

[code]

So it would be possible to pass it to xjst runtime's compile fn:

[code]

[2016-06-03 11:39] tadatuta opened #1865 "Islands theme: Explicitly add font-family to all controls and page block"
There's no font-family at least for `select_theme_islands`.
See https://github.com/bem/bem-components/search?utf8=✓&q=arial

Proper font-family is `'Helvetica Neue', Helvetica, Arial, sans-serif;`

[2016-06-07 22:07] tadatuta commented on #1865
See also https://nda.ya.ru/3RcesJ

[2016-06-18 21:07] adinvadim opened #1868 "Added field `mix` to the options in radio-group/checkbox-group"
Example:

[code]

[2016-06-20 14:30] km256 opened #1869 "Proxy view mod in radio-group"
I think it will be useful to proxy `view` mod same as `theme` in radio-group
https://github.com/bem/bem-components/blob/v3/common.blocks/radio-group/radio-group.bemhtml.js#L23

[2016-06-21 09:38] km256 commented on #1869
Also, it might be helpful for `attach`
https://github.com/bem/bem-components/blob/v3/common.blocks/attach/attach.bemhtml.js#L21

[2016-07-21 09:59] Guria opened #1882 "menu__group: wrong deps on generated docs"
https://ru.bem.info/libs/bem-components/v3.0.0/desktop/menu/#group-title

current

[code]

should be

[code]

[2016-07-21 13:59] tadatuta commented on #1882
@Guria nice catch

[2016-07-23 16:01] #1857 closed, assigned to nobody

[2016-07-24 17:51] belozer opened #1885 "Writing lib styles with postcss-nested and pobem insted stylus"
Example from bem-components
https://gist.github.com/belozyorcev/4a6dd62f2750f4f7dac6127ea281dc7e

Rewrtite with [postcss-nested](https://www.npmjs.com/package/postcss-nested) and [pobem](https://www.npmjs.com/package/pobem)
https://gist.github.com/belozyorcev/888b67c87b4f1ed27231c33ab4c5dd2c

[2016-07-24 18:13] belozer commented on #1885
Or button_theme_islands

https://gist.github.com/belozyorcev/4171da6fd247ad2ff9afd30f73862a52

[2016-07-24 23:04] tadatuta commented on #1885
@Guria created [an issue](https://github.com/bem/bem-components/issues/1535) to switch from stylus long time ago and we kinda agree with it.

@belozyorcev, will you be able to help us to convert `bem-components` to postCSS if we finally agree on needed plugin chain?

[2016-07-24 23:28] belozer commented on #1885
@tadatuta It's my duty

[2016-07-25 08:55] tadatuta commented on #1861
I vaguely remember that it was done on purpose. But still I think that's not right and it should be documented with notice that it's not recommended.

[2016-07-25 15:51] tadatuta opened #1886 "Review checkboxes and radio attr/prop usage"
It turned out that `form.reset()` works wrong with [current way](https://github.com/bem/bem-components/blob/v3/common.blocks/checkbox/checkbox.js#L17-L19) of checking/unchecking checkboxes.

Such variant was introduced in https://github.com/bem/bem-components/commit/012de48146234dc5c1ea47297687046311a0ac6b as a fix for previous change made for a11y: https://github.com/bem/bem-components/commit/db4

[2016-07-25 15:51] tadatuta commented on #1886
cc @aristov

[2016-07-25 20:18] narqo commented on #1886
According to [WAI-ARIA Authoring Practices for Checkbox](https://www.w3.org/TR/wai-aria-practices-1.1/#checkbox) widget, it should be possible to use `aria-checked` attribute.

[2016-07-26 12:50] #1844 closed, assigned to tadatuta

[2016-07-26 12:50] #1856 closed, assigned to tadatuta

[2016-07-27 09:39] narqo commented on #1863
@tadatuta @vithar could we prioritise the issue? No sprites are shown in block examples on bem.info.

<img width="943" alt="screen shot 2016-07-27 at 12 31 21" src="https://cloud.githubusercontent.com/assets/88045/17170823/867c4422-53f6-11e6-9366-0109a02ad135.png">

[2016-07-28 09:48] tadatuta commented on #1698
`#Элемент-channels-блока-events`

[2016-07-28 09:51] tadatuta commented on #1642
https://github.com/bem/bem-components/blob/v4/design/common.blocks/link/_theme/link_theme_islands.styl#L10-L40

[2016-07-29 10:04] gela-d opened #1893 "checkbox-group: Checked buttons has no separators"
![1](https://cloud.githubusercontent.com/assets/1333220/17244956/51913cfe-5595-11e6-8188-44ac6f42f03d.png)

it should be
![2](https://cloud.githubusercontent.com/assets/1333220/17244957/51e1f856-5595-11e6-8cef-0f31b4bc780f.png)

[2016-07-29 11:07] dzenkiedo opened #1894 "какое-то странное поведение сайта https://ru.bem.info/libs/bem-components/v3.0.0/ в google chrome canary"
У меня установлен google chrome canary ( 54.0.2811.0 canary (64-bit) )

в этой версии браузера не открываются выпадающие списки на всем сайте ru.bem.info.
Точнее, они открываются при клике, но сразу же закрываются.

[2016-08-01 07:42] #1893 closed, assigned to gela-d

[2016-08-03 00:33] #1770 closed, assigned to godfreyd

[2016-08-03 00:35] #1862 closed, assigned to godfreyd

[2016-08-03 00:36] #1576 closed, assigned to godfreyd

[2016-08-12 20:56] #1861 closed, assigned to godfreyd

[2016-08-12 21:42] tadatuta opened #1906 "Release 4.0.0"
Do not forget to port everything from `v3`

[2016-08-13 11:06] #1642 closed, assigned to innabelaya

[2016-08-13 11:06] #1698 closed, assigned to nobody

[2016-08-16 18:17] qfox opened #1907 "Использовать shouldDeps вместо mustDeps в depsByTech, v3"
Для ENB нет никакой разницы, потому что он не учитывает порядок.
А для православных `bem-deps` порядок учитывается и он там не нужен.
Предлагается заменить mustDeps на shouldDeps в depsByTech секциях spec.js, tmpl-spec.js, и т.д.

[2016-08-16 18:27] qfox commented on #1565
Нашли комментарий в textarea.deps.js со ссылкой на это issue.

В bem-deps это выражается как и не требует изменений сборки:

[code]

При такой декларации в сборку css-файла, равно как и других технологий, не попадут файлы блока input. Только js.

[2016-08-22 10:07] tadatuta commented on #1885
Closed in favor of https://github.com/bem/bem-components/issues/1535

[2016-08-22 10:07] #1885 closed, assigned to nobody

[2016-08-22 13:12] belozer commented on #1535
To writing css selectors we will use a `pobem`, or `rebem-css`?

`Rebem-css` - works faster (fewer calculations) and it is less flexible in use. Designed to rebem organization.
`Pobem` - supports rebem syntax and allows you to write more concise code. Designed to bem organization. Easier to do PR.

[2016-08-22 14:14] tadatuta commented on #1535
@belozyorcev  let's use `rebem` in `bem-components` which is backward compatible with `pobem` and as so users will have  ability to choose from both.

[2016-08-22 14:23] belozer commented on #1535
@tadatuta I agree with you.

[2016-08-23 11:03] #1577 closed, assigned to godfreyd

[2016-08-23 12:56] #1907 closed, assigned to nobody

[2016-08-23 14:53] tadatuta opened #1915 "Release 3.0.1"

[2016-08-26 22:11] belozer commented on #1535
[code]

https://github.com/bem/bem-components/blob/issues/1535%40v4/common.blocks/attach/attach.post.css

upd.
![2016-08-27 01-19-37](https://cloud.githubusercontent.com/assets/1655916/18022067/89ee32d0-6bf4-11e6-8f40-ca95b56d41f2.png)

[2016-08-26 22:42] belozer opened #1920 "attach: bug in style"
https://github.com/bem/bem-components/blob/v3/common.blocks/attach/attach.styl

[code]

[2016-08-27 16:25] tadatuta opened #1921 "Provide documentation on radio-group_mode_radio-check"

[2016-08-30 07:59] a-x- opened #1923 "Add link to live demo page and add blocks screenshots"
Can we run showcase page as a demo service?

https://github.com/bem/bem-components/pull/1122

And, as I think, we have to add a lot of pictures to current readme.
As a quick solution, I propose adding `button`, `checkbox`, `input`, `radio` and `spin` screenshots.

[2016-08-30 08:01] a-x- commented on #1923
The following picture is very incompact (sparse/scattered/tenuous).
![](https://cloud.githubusercontent.com/assets/1658415/5200975/d9fcffc4-757c-11e4-9353-dc0801364084.png)

Block must be placed more closely in my vision.

[2016-08-30 10:29] tadatuta commented on #1923
we strongly believe that `bem-components` documentation should be viewed at https://en.bem.info/libs/bem-components/ where there's a link to https://en.bem.info/libs/bem-components/3.0.0/showcase/ at the very top of the menu.

[2016-08-30 13:15] a-x- commented on #1923
Ok

[2016-08-30 13:15] #1923 closed, assigned to nobody

[2016-09-02 02:35] tadatuta commented on #1865
Fixed in https://github.com/bem/bem-components/pull/1883

[2016-09-02 02:35] #1865 closed, assigned to tadatuta

[2016-09-04 23:55] belozer opened #1925 "radio-group_type_button @v5"
[code]

after second change (second click) the third and further change don't work.

[2016-09-05 13:18] tadatuta opened #1926 "Templates: Test for support of escaped mode"
Same as https://github.com/bem/bem-core/issues/1406

[2016-09-08 09:26] vitkarpov opened #1928 "Two click events from checkbox"
Checkbox fires two click events

How to reproduce:
- go to https://ru.bem.info/__example/bem-components/v2.4.0/desktop.examples/checkbox/3zHBrS8NXFX5d_Wu-J6BBfyZAGQ/3zHBrS8NXFX5d_Wu-J6BBfyZAGQ.html
- `document.body.addEventListener('click', function(e) { console.log(e.target) })`

We see

![2016-09-08_12-26-09](https://cloud.githubusercontent.com/assets/3001791/18344319/7296fe94-75bf-11e6-9f8c-afd

[2016-09-08 14:59] narqo commented on #1928
It's a normal browser behaviour. Check out the fiddle: https://jsfiddle.net/5rqytaz5/

Browsers always emit an artificial `click` event on input, after it's related `<label>` was clicked. If one click directly on the checkbox, only one event is fired.

[2016-09-09 05:34] vitkarpov commented on #1928
Oh, I get it. Actually, using bem-components input I click on checkbox itself and get 2 events anyway

[2016-09-09 07:52] vitkarpov commented on #1928
Seems the real input is under the `:before` layer of its wrapper, so the actual click never happens on input and we get 2 clicks always.

[2016-09-09 11:01] narqo commented on #1928
Could you describe more precisely, what you're trying to archive?

bem-components doesn't provide DOM events API of any kind. From the description of the issue, I assume that this is not a bug, but a side effect that shouldn't be taken into account.

[2016-09-09 12:09] vitkarpov commented on #1928
Yep, 'course.

The case is simple. You have a block with checkbox inside:

[code]

There's a click handler for the whole `wrapper`. Checkbox without label. When you click somewhere inside the wrapper — event fires, when you click to the checkbox — event fires twice!

With the native browser checkbox, as you said, you get only one event if you click just on the `input`, and not on the label (in thi

[2016-09-09 13:59] alexeimoisseev opened #1930 "Закрывать модальное окно внутрь, а не наружу"
Сейчас modal_theme_islands закрывается так же, как и открывается: прилетает в нашу сторону.

Лучше, чтобы он прилетал от нас (уменьшался).

[2016-09-09 14:33] tadatuta commented on #1930
Даня @kovchiy, что скажешь?

[2016-09-09 16:44] vitkarpov commented on #1928
@narqo what do you think? We can fix it on our redefine level, if we're consider this as a bug (I mean in the future it will be fixed) and discuss how to fix it better

[2016-09-09 16:49] vitkarpov commented on #1928
Anyway, I don't consider this as a big problem, we can get rig of the origin issue

[2016-09-09 16:49] #1928 closed, assigned to nobody

[2016-09-23 21:36] tadatuta commented on #1920
Fixed in https://github.com/bem/bem-components/pull/1912/commits/7db8131c1eb073a3024add4c236ae9738e25b8b8

[2016-09-23 21:36] #1920 closed, assigned to nobody

[2016-09-23 21:37] tadatuta commented on #1925
Fixed

[2016-09-23 21:37] #1925 closed, assigned to nobody

[2016-09-23 22:20] #1628 closed, assigned to nobody

[2016-09-23 22:21] #1535 closed, assigned to nobody

[2016-09-24 08:24] #1926 closed, assigned to tadatuta

[2016-09-24 10:34] nikolai-shabalin opened #1940 "select is broken in Edge"
Продолжаю разговор в твиттере - https://twitter.com/shabalinnikolai/status/775050582306553858

1) Записал видео проблемы - https://www.youtube.com/watch?v=UPL8l3A-qpE
2)  Вы попросили в отдельном окне открыть селект.  Я проверил, всё тоже самое, что и не в отдельном окне.

Суть проблемы можно глянуть в видео. Если вкртаце, то селекты на странице не выпадают, но сам блок СЕЛЕКТ выпадает, но начинае

[2016-09-24 12:09] tadatuta commented on #1940
@nikolai-shabalin спасибо большое! будем чинить

[2016-09-26 14:27] tadatuta opened #1942 "Support bem-xjst 8.x"

[2016-09-26 15:45] tadatuta commented on #1940
Нашли Edge, поведение в интерфейсе bem.info воспроизводится, но сам по себе `select` на отдельной странице (https://ru.bem.info/__example/bem-components/3.0.0/touch.examples/select/38tbBjnCJNexcB1xBlVHQNMLy04/38tbBjnCJNexcB1xBlVHQNMLy04.html) работает нормально, в консоль ничего не пишется.

Так что нужны подробности: точная версия Edge и, если есть, список браузерных плагинов.

[2016-09-26 20:30] Guria commented on #1915
seems should be closed

[2016-09-27 07:28] #1915 closed, assigned to nobody

[2016-09-27 08:54] nikolai-shabalin commented on #1940
Версии
Microsoft Edge 38.14393.0.0
Microsoft EdgeHTML 14.14393
скорее всего это последняя версия браузера, которая прилетела с последним крупным обновлением ОС.

Плагинов никаких нет и не было. В целом удивлен ,что у Edge есть плагины. Браузер используется, как раз, только для ловли багов.

Такую версию, https://ru.bem.info/__example/bem-components/3.0.0/touch.examples/select/38tbBjnCJNexcB1xBlVHQ

[2016-09-27 18:13] nikolai-shabalin commented on #1940
Блок в отдельном окне работает отлично, без каких-либо аллертов в консоли.

[2016-09-27 19:50] tadatuta opened #1944 "Update bem-core to 3.1.0"

[2016-09-27 20:58] #1944 closed, assigned to tadatuta

[2016-10-04 10:58] miripiruni commented on #1858
In first link `applyNext(…)` reasonable.
In second link there is no `applyNext()` at all.

In general `applyNext()` is OK. Why you open this task? Can we close it?

[2016-10-04 13:01] #1858 closed, assigned to nobody

[2016-10-25 11:48] dfilatov opened #1950 "button: Don't render element for text if passed `null` or `undefined`"

[2016-10-26 08:16] dfilatov opened #1954 "Release 3.0.2"
Please, release 3.0.2 with this fix — #1951

[2016-10-27 15:16] dfilatov commented on #1954
@tadatuta Could you?

[2016-10-27 16:42] tadatuta commented on #1954
I  will try to find internet in the evening.

On Thursday, 27 October 2016, Filatov Dmitry notifications@github.com
wrote:

[2016-10-31 01:51] tadatuta commented on #1954
https://github.com/bem/bem-components/releases/tag/v3.0.2

[2016-10-31 01:51] #1954 closed, assigned to tadatuta

[2016-10-31 05:22] dfilatov commented on #1954
@tadatuta Thanks!

[2016-11-09 15:25] yar-usenko opened #1956 "Не миксуются блоки к блокам link, button"
Из за
[code]

к блокам link и button ничего нельзя примиксовать. Возможно есть ещё блоки с подобным поведением.

Предалагаю изменить на
[code]

[2016-11-09 21:03] tadatuta commented on #1956
@yar-usenko это справедливо только для `bem-xjst` версий >= 8.x, где было изменено поведение режимов и добавлены новые `add*` режимы (см. https://github.com/bem/bem-xjst/releases/tag/v8.0.0).
`bem-components` сейчас не поддерживают `bem-xjst 8.x`, соответствующая задача — https://github.com/bem/bem-components/issues/1942

[2016-11-09 22:13] yar-usenko commented on #1956
@tadatuta спасибо)

[2016-11-09 22:13] #1956 closed, assigned to nobody

[2016-11-14 12:59] veged opened #1958 "The `modal__autocloseable` closes immediately after opening in touch browsers (touch events)"
Button opens modal with autocloseable modifier. After click modal shows a one moment. It's happens because modal catches 'click' event. The 'click' event is a program event after 'touchend'.

I can reproduce in iOS (bem-core#v4), AndroidBrowser (bem-core#v4, bem-core#v3), Chrome for Android (bem-core#v4, bem-core#v3), Chromium on Windows 10 with touchscreen (bem-core#v4, bem-core#v3).

@vsesh

[2016-11-14 13:00] veged commented on #1958
@vsesh Can you say in which Android versions this can be reproduced?

[2016-11-14 13:02] veged commented on #1958
Looks like we can move `click` emiting from https://github.com/bem/bem-components/blob/v4/common.blocks/button/button.js#L119 to `pointerclick`.

[2016-11-14 13:13] vsesh commented on #1958
@veged I could reproduce in Android 4.x and 5.0.

[2016-11-14 15:19] narqo commented on #1958
@vsesh doesn't meta with `device-width` solve the problem?

[code]

[2016-11-18 11:09] #1958 closed, assigned to dfilatov

[2016-11-21 09:46] #1950 closed, assigned to nobody

[2016-11-21 14:11] yar-usenko opened #1964 "Syntax sugar for menu__item_type_link"
Сейчас в элемент `item` блока `menu` нужно явно передавать блок `link`
[code]
Это позволяет явно настраивать модификаторы link. Но в большинстве случаев это не нужно (как я думаю). Стоит ли добавить в шалоны ещё одно поведение для упрощениея верстки? (Срабатывает только когда content элемента `item` != block: 'link')
[code]

[2016-11-22 01:17] adinvadim commented on #1942
@tadatuta В какой версии планируется поддержка?

[2016-11-23 11:10] gela-d opened #1967 "menu: Incorrect live-init event"

[2016-11-28 09:55] tadatuta opened #1971 "Release 3.1.3"

[2016-11-28 11:35] veged opened #1973 "input_has-clear: Do not change `_focused` mod on click on `clear`"

[2016-12-03 16:39] belozer commented on #1930
Мне тоже ближе решение, когда то, что пришло от куда-то, туда и возвращается.
![bem-animations](https://cloud.githubusercontent.com/assets/1655916/19961452/c5395b08-a1c3-11e6-97dd-1d4e2be07e0f.gif)

[2016-12-06 23:49] belozer commented on #1832
@voischev I thought so too. But for example `menu__item` used `getText()` method https://github.com/bem/bem-components/blob/v5/common.blocks/menu/__item/menu__item.js#L70

[code]

I think it's a good practice to use the same style API (`get`, `set`) in the library

[2016-12-06 23:57] belozer commented on #1964
Хотел сказать что можно так делать... Но получилось длиннее )))

[code]

Идея короткой записи пункта меню нравится.

[2016-12-07 00:01] belozer commented on #1868
Why is that? What is the challenge?

[2016-12-08 19:35] aliosv opened #1979 "Textarea: create "control" elem inside block instead of mixing"
It will give possibility to extend block functionality simply.
Example: add symbols counter inside block.

[2016-12-12 15:50] #1906 closed, assigned to nobody

[2016-12-12 15:50] #1971 closed, assigned to tadatuta

[2016-12-12 20:55] ai opened #1982 "Use Stylelint"
JS-код проекта уже проверяется линтером. Можно так же проверять CSS.

Раз вы уже перешли на PostCSS, то самым лучшим выбором будет [Stylelint](http://stylelint.io/).

Но главный вопрос — какие чаще всего ошибки происходят с CSS? О чём чаще всего забывают в PR?

[2016-12-12 20:57] tadatuta commented on #1982
Да, мы его обязательно вкрутим. Спасибо!

[2016-12-12 20:58] ai commented on #1982
Если нужна помощь, я мог бы кинуть людей с Cult of Martians. Но тут, наверное, главный вопрос — какие именно правила включать. Сложно будет сделать PR человеку извне.

[2016-12-12 20:59] tadatuta commented on #1982
👌  Мы попробуем, если возникнут трудности — напишу.

[2016-12-13 09:50] #1967 closed, assigned to gela-d

[2016-12-13 12:33] tadatuta opened #1984 "Release v5.0.0"

[2016-12-14 12:54] #1863 closed, assigned to tadatuta

[2016-12-18 18:17] tadatuta opened #1987 "Cache npm deps on travis"
See https://github.com/bem-sdk/bem-naming/pull/156

[2016-12-19 21:53] belozer opened #1988 "Потерялся rebem-css в коде"
https://github.com/bem/bem-components/blob/v5.0.0/test.blocks/table/table.post.css

[2016-12-19 22:12] tadatuta commented on #1988
Пришлешь PR с фиксом?

[2016-12-19 22:17] belozer commented on #1988
Да. Но только завтра 👍

[2016-12-21 12:13] #1988 closed, assigned to belozer

[2017-01-03 11:46] aliosv opened #1991 "Modal: inside blocks not init"
Для вставки попапа используется $.append(вместо BEMDOM.append), который не вызывает инициализацию внутренних блоков
https://github.com/bem/bem-components/blob/v5/common.blocks/popup/popup.js#L41

[2017-01-03 11:49] dfilatov commented on #1991
Вроде как внутренности попапа находятся на странице до его открытия и должны быть инициализированы еще до этого места.

[2017-01-03 11:53] aliosv commented on #1991
у меня попапы/модалки почти всегда создаются динамически

[2017-01-03 11:54] dfilatov commented on #1991
Так когда они создаются ты их как добавляешь? Не через BEMDOM.* методы?

[2017-01-03 11:55] aliosv commented on #1991
раньше так и делал, а потом увидел, что достаточно только выставить модификатор visible:true, и они сами себя вставят.

[2017-01-03 11:56] dfilatov commented on #1991
Не совсем понял про "они сами себя вставят". Можешь пример кода показать?

[2017-01-03 11:57] aliosv commented on #1991
[code]

[2017-01-03 12:00] dfilatov commented on #1991
На мой взгляд, закладываться на то, что при перемещении себя в body попап должен почему-то инициализировать свои внутренности, нельзя. Это чисто техническая операция для того чтобы z-index'ы правильно работали. Инициализация в этот момент была бы очень странным побочным эффектом.

[2017-01-03 12:10] aliosv commented on #1991
без предварительной вставки через BEMDOM.* получаем создание, а не перемещение. Т.е. следуя этой логике перед перемещением нужно проверять вставлен ли блок в DOM, и если нет - ничего не делать по onSetMod:{visible:true}.
Тогда и неочевидность

пропадет

[2017-01-03 12:14] dfilatov commented on #1991
[code]

[2017-01-03 12:20] dfilatov commented on #1991
Это не неочевидность, а внутренняя логика блока, о которой снаружи вообще знать не нужно. Другие же блоки не ведут себя так, почему этот должен?

[2017-01-03 12:26] aliosv commented on #1991
на сколько помню, я узнал об этом функционале именно из-за того, что забыл добавить вставку с помощью BEMDOM.

но ведь нигде и не написано, что не должен

В общем ответ ясен - любые блоки вставлять всегда через BEMDOM. Можно закрывать.

[2017-01-03 12:29] #1991 closed, assigned to nobody

[2017-01-07 16:38] miripiruni opened #1992 "Example from readme doesn’t work"
Look at https://github.com/bem/bem-components#working-with-the-library-as-dist method 2 doesn’t work. I just copied code example to index.html, open it and saw:

<img width="432" alt="screen shot 2017-01-07 at 19 35 35" src="https://cloud.githubusercontent.com/assets/144537/21743305/82836a12-d510-11e6-99d0-cdb8ca07725d.png">

The select doesn’t open on click. Console without JS errors. What am I d

[2017-01-08 02:23] tadatuta commented on #1992
Init's missed :(

[code]

We'll update the docs, thanks for the report!

[2017-01-08 07:25] dfilatov commented on #1992
@tadatuta Но там же вроде вызывается `BEMDOM.append`, который делает инициализацию.

[2017-01-08 12:34] tadatuta commented on #1992
@dfilatov для вставленной через `BEMDOM.append()` разметки достаточно просто явно зарекваирить `i-bem-dom__init` (при автоинициализации он предоставляется за счет `i-bem-dom_init_auto`, который не включен в сборку в данном случае), но, кмк, в данном примере есть смысл и явно дергать `init()`, т.к. часть разметки присутствует на странице заранее и потенциально может содержать БЭМ-блоки.

[2017-01-08 14:41] dfilatov commented on #1992
Для вставленной через `BEMDOM.append` не должно быть нужно никакого `i-bem-dom__init`, так как внутри зовется `BEMDOM.init`: https://github.com/bem/bem-core/blob/v3/common.blocks/i-bem/__dom/i-bem__dom.js#L1095

[2017-01-08 15:06] tadatuta commented on #1992
Насколько я понимаю, кто-то все-таки должен явно рекваирить `i-bem-dom__init` из-за https://github.com/bem/bem-core/blob/cfb1332f89b692d613dff3a5cc31dc4f5f8a1178/common.blocks/i-bem-dom/i-bem-dom.js#L1101-L1111

Собственно, вот песочница, где можно проверить: https://jsfiddle.net/tb8e8k2b/

[2017-01-08 15:13] dfilatov commented on #1992
Это да (кто-то все-таки должен явно рекваирить `i-bem-dom__init`), но должно все работать без `init()`, который ты явно написал. Пример-то вроде про `select` и вызов общего `init()` тут не нужен.

[2017-01-08 16:03] tadatuta commented on #1992
Это пример про использование dist-поставки `bem-components`, а не именно `select`-а (вот он https://github.com/bem/bem-components#working-with-the-library-as-dist). И потенциально разметка может быть на странице заранее. Я бы все-таки оставил, т.к. использующие dist вряд ли сильно переживают об оптимизации, а когда часть блоков не будет работать, могут и не разобраться в чем дело.

[2017-01-09 21:32] awinogradov opened #1994 "Скомпилированный CSS в npm и bower"
__Лирика:__
Постпроцессинг в пакетах на ES6, ES7 нужен только для удобства разработки. Сами пакеты поставляются в скомпилированном виде. Если необходимо кастомное поведение то всегда можно поставить пакет с гитхаба и радоваться. Но сама же поставка в скомпилированном виде позволяет не обязывать пользователей ставить себе процессоры или траншпиллеры с плагинами.

__По делу:__
Сейчас компоненты пост

[2017-01-09 22:16] tadatuta commented on #1994
Я не вижу проблем в текущем виде (если не считать текущую поломку на уровне технологии сборки, которую просто нужно починить): пользователи вот прямо сейчас могут использовать компоненты с любым сборщиком и технологиями и не вникать в чудо pobem.

[2017-01-10 19:00] dfilatov commented on #1992
Все-таки, в этом случае, этот пример выглядит скорее запутывающим для меня: вставляется результат в конкретный DOM-элемент, а `init` зовется на все DOM-дерево.

[2017-01-10 20:21] tadatuta commented on #1992
ок, заменю на комментарий

[2017-01-12 22:09] tadatuta commented on #1979
You should use composition: create your own custom block `textarea-with-counter` which will contain `__counter` element and `textarea` block inside.

[2017-01-12 22:09] #1979 closed, assigned to nobody

[2017-01-12 22:25] tadatuta commented on #1992
Fixed in https://github.com/bem/bem-components/pull/1993

[2017-01-12 22:25] #1992 closed, assigned to nobody

[2017-01-13 08:46] awinogradov commented on #1994
Как-то я упустил https://github.com/bem/bem-components/blob/v5/compile-postcss.js

[2017-01-13 08:46] #1994 closed, assigned to nobody

[2017-02-06 17:28] ijakparov commented on #1984
Files from a CDN haven't latest versions.

[2017-02-06 20:22] tadatuta commented on #1984
will do it this week

[2017-02-16 21:31] tadatuta opened #1998 "dropdown is closing by click on inner link/button"
`dropdown_switcher_{link,button}` is closing by click on inner link/button as it subscribes on switcher by class.

[2017-02-20 10:49] #1855 closed, assigned to tadatuta

[2017-02-20 21:14] tadatuta opened #2002 "dist: Remove i-bem-dom__init_auto from no-autoinit bundle"

[2017-02-20 22:08] #2002 closed, assigned to tadatuta

[2017-02-21 11:50] #1998 closed, assigned to tadatuta

[2017-02-23 20:35] dfilatov opened #2004 "link_disabled: mustn't have appearance as an active link"
Currently it has the same color, hover state and so on.

[2017-02-23 21:48] tadatuta commented on #2004
It was considered as won't fix in https://github.com/bem/bem-components/issues/537 (see https://nda.ya.ru/3SeuJu for details).

[2017-02-24 09:54] dfilatov commented on #2004
But it looks really weird. I have a set of `link_pseudo` which mustn't be available unless some condition is satisfied. And appearance should help users rather than confuse them.

[2017-02-26 16:42] birhoff commented on #2004
Where i can like for this as a bug?

[2017-02-26 18:47] tadatuta commented on #2004
All we need to fix it is official appearance for disabled link in `islands` theme.
I'll try to ask in internal mail once again.

[2017-02-26 18:56] tadatuta commented on #2004
Oh, I found styles in islands repo: https://nda.ya.ru/3SfY2o
Let's use them in bem-components as well.

[2017-02-26 19:31] tadatuta opened #2005 "select_mode_radio-check: Old inputs are not removed"

[2017-02-27 07:29] #2004 closed, assigned to tadatuta

[2017-02-27 09:01] dfilatov commented on #2004
@tadatuta Could you port it to v4 at least?

[2017-02-27 09:15] tadatuta commented on #2004
sure

[2017-02-27 09:16] dfilatov commented on #2004
and would be kind if to v3 as well )

[2017-02-27 09:50] tadatuta commented on #2004
done

[2017-02-27 09:50] dfilatov commented on #2004
👍

[2017-03-19 11:57] tadatuta opened #2019 "Update bem-core to 4.2.0"

[2017-03-19 13:07] #1984 closed, assigned to tadatuta

[2017-03-19 13:09] #2019 closed, assigned to tadatuta

[2017-03-19 13:11] tadatuta opened #2021 "Release 5.1.0"
* [x] Main version
* [x] Dist
* [x] CDN

[2017-03-19 13:11] tadatuta opened #2022 "Release 6.0.0"
* [x] Main version
* [x] Dist
* [x] CDN

[2017-03-19 17:08] #2021 closed, assigned to tadatuta

[2017-03-19 23:26] #2022 closed, assigned to nobody

[2017-03-26 10:38] rtemision opened #2027 "Attach hasn't method getValue()"
Was it planned or just not yet?

[2017-03-30 01:07] tadatuta commented on #2027
Actually there is such a method but it's called `getVal()` (inherited from [control](https://ru.bem.info/platform/libs/bem-components/5.0.0/desktop/control/#jsdoc) block).

[2017-03-30 01:07] #2027 closed, assigned to nobody

[2017-04-16 14:33] tadatuta opened #2033 "[touch] button: Does not emit click on first try"

[2017-04-18 05:11] rtemision commented on #2033
If you change the type of event from `pointerclick` to `click` in method `_onPointerRelease`: https://github.com/bem/bem-components/blob/v5.0.0/common.blocks/button/button.js#L117 , then it works. So, I guess problem in https://github.com/bem/bem-core/blob/v4/common.blocks/jquery/__event/_type/jquery__event_type_pointerclick.js

[2017-04-19 12:04] dzenkiedo commented on #1894
For clean issues history.
support is for 2 latest **stable** versions.

[2017-04-19 12:04] #1894 closed, assigned to nobody

[2017-04-25 23:13] qfox commented on #1695
Can you please collaborate on this?

[2017-04-26 13:21] vsesh opened #2035 "popup_autoclosable never opens again"
... If the creation of popup was at the same tick as the closing

https://github.com/bem/bem-components/blob/v6/common.blocks/popup/_autoclosable/popup_autoclosable.js#L26

[2017-04-26 14:58] tadatuta commented on #1695
Looks like it will be implemented in upcomming Kovchiy theme

[2017-05-23 01:11] belozer commented on #2033
https://github.com/bem/bem-components/blob/v3/common.blocks/button/button.js#L106

У меня почему-то подозрения на это место. Подписка делается только тогда, когда событие всплыло уже на самый верх документа.

У нас на проекте профиксил локально переопределив 3 метода. Только не знаю как правильно должна быть подписка на pointerclick (bindTo или bindToDoc) оно и так и так работает нормально, но не

[2017-05-23 14:25] rtemision commented on #2033
Я локально решил, выпилив из [jquery__event_type_pointerclick.js](https://github.com/bem/bem-core/blob/v4/common.blocks/jquery/__event/_type/jquery__event_type_pointerclick.js#L6) условие для ios.

[2017-05-23 14:59] belozer commented on #2033
@rteamx проблема не в `pointerclick`, а в моменте его подписки.

[2017-05-23 17:50] rtemision commented on #2033
@belozer ну да, согласен.

[2017-05-29 21:15] belozer commented on #2033
Тесты правда упали с таким решением...

Но если исключить вообще историю про `pointerclick`, то тесты зелёные и отрабатывает правильно.
[code]

[2017-05-31 21:37] tadatuta opened #2049 "bemhtml: Migrate js mode to addJS"

[2017-06-02 14:25] #2049 closed, assigned to tadatuta

[2017-06-26 14:58] #2005 closed, assigned to tadatuta

[2017-06-26 15:08] tadatuta commented on #1882
looks fixed now

[2017-06-26 15:08] #1882 closed, assigned to nobody

[2017-06-28 15:51] VladimirCW commented on #1044
@SevInf
I have the same issue, but i just try to run gemini at my computer (without SauceLab) and it gives me error
"Error: Cannot launch browser chrome:
[init({"takesScreenshot":true,"desiredCapabilities":{"browserName":"chrome"}})] The environment you requested was unavailable."
I've tried to delete some fields (like browserName, version and other) - nothing helps.

[2017-06-28 16:25] SevInf commented on #1044
@VladimirCW I don't work on gemini for almost 2 years already. I'm sure if you ask in [original project repo](https://github.com/gemini-testing/gemini) someone from the current team will be able to help you.

[2017-07-04 10:46] awinogradov opened #2058 "select: doesn't loose focus after hard-focused and click outside"
Reproduce:
- open https://yastatic.net/bem-components-examples/6.0.0/desktop/select/38tbBjnCJNexcB1xBlVHQNMLy04.ru.html
- press tab to focus select
- click on select to open it
- click on select item
- click outside
- look focus-hard on select ;)

[2017-07-06 12:10] tadatuta opened #2059 "Release v6.0.1"

[2017-07-16 12:14] tadatuta opened #2061 "popup_autoclosable: Call base onInit()"

[2017-07-16 22:40] #2061 closed, assigned to tadatuta

[2017-07-29 10:21] Yeti-or opened #2065 "Move to eslint"
what is holding us on `jscs` here?

[2017-07-29 12:48] tadatuta commented on #2065
just an innate laziness ;)

[2017-09-02 10:25] tadatuta opened #2070 "select: An issue with long list on mobile"
https://github.com/bem-site/bem-forum-content-ru/issues/1415

[2017-11-16 08:51] ilyar opened #2071 "404 https://ru.bem.info/libs/bem-components/current/showcase/"
Link (https://ru.bem.info/libs/bem-components/current/showcase/) got 404 in README.md and README.ru.md

[2017-12-22 17:08] shass opened #2072 "Drop cache execution error on Windows"
It looks like drop cache command can't been executed because of Windows doesn't know this command:
bem-components@6.0.1 drop-cache: `rm -rf .enb/tmp`

[2018-01-10 13:15] veged commented on #2033
+@veged +@awinogradov

[2018-01-12 13:52] easypizi opened #2074 "Select {mode: check} – неправильная работа в мобильных браузерах."
Select в режиме выбора нескольких значений работает неправильно на мобильных устройствах. В мобильной версии этот компонент ведёт себя как select {mode: radio} - закрывается после выбора одного из значений.

Проверить можно, открыв https://ru.bem.info/platform/libs/bem-components/6.0.0/desktop/select/ на любом android устройстве.
При этом если открыть c iOS устройства, то всё работает нормально.

[2018-01-16 15:22] easypizi commented on #2074
@veged @tadatuta

[2018-01-17 15:16] Realetive commented on #2074
Codepen с примером: https://codepen.io/Realetive/full/XVxoJR/
Подключены:
- https://yastatic.net/bem-components/latest/touch-pad/bem-components.css ;
- https://yastatic.net/bem-components/latest/touch-pad/bem-components.js+bemhtml.js .

[2018-01-18 21:31] belozer opened #2075 "Popup_target_anchor for fixed elements"
On window scroll observed brake redraw popup position if the element is fixed.

![peek 2018-06-22 13-23](https://user-images.githubusercontent.com/1655916/41772471-7319e034-7621-11e8-8aee-eabd5c037778.gif)

[2018-02-21 09:29] tadatuta opened #2078 "Fix tmpl specs"
Since https://github.com/bem/bem-xjst/releases/tag/v8.7.1 nested mixes are supported so tmpl specs for `dropdown` are broken for `bem-xjst`. And it's not enough to just update HTML as `bh` just don't have support for nested mixes.

[2018-03-19 23:56] belozer opened #2080 "select: кастомные модификаторы и атрибуты для button"
[code]

Полезно для переопределения на проекте как-то так.
[code]

@veged @tadatuta

[2018-03-19 23:58] belozer commented on #2080
Возможно моды `mods` и `attrs` не самые удачные и лучше использовать `mode('button-attrs')`, `mode('button-mods')`

[2018-03-21 12:11] belozer commented on #2080
Возможно стоит даже и базовый код button вынести в моду.

[code]

[2018-03-21 12:36] belozer commented on #2080
Пример использования:

[code]

[2018-04-12 08:53] belozer opened #2084 "attach: не корректный порядок deps для attach__button (неявный баг)"
Столкнулись у себя на проекте с проблемой, что в шаблоне `attach` не проставлялся `control`.
Проблема оказалось в не правильном порядке шаблонов для `button`.

Решение проблемы:

[code]

[2018-04-12 09:26] belozer commented on #2084
@tadatuta ^

[2018-04-13 10:17] #2078 closed, assigned to tadatuta

[2018-04-13 10:41] #2084 closed, assigned to belozer

[2018-04-18 23:40] belozer commented on #1921
Только хотел завести issue... А оно уже есть :)

[2018-06-22 21:34] belozer opened #2094 "move lazyInit from js to bemhtml/bh in modifers"
lazyInit in mods breake lazyInit on all blocks https://github.com/bem/bem-core/issues/1576
and not allowed after https://github.com/bem/bem-core/pull/1579/files

**upd**
or not need https://github.com/bem/bem-core/pull/1584

[2018-07-23 17:12] tadatuta commented on #2072
It's necessary to use `git bash` or other similar shell on Windows to use `bem-components`.

[2018-07-23 17:12] #2072 closed, assigned to nobody

[2018-08-23 12:36] Realetive opened #2103 "Use a trap for focus inside modal"
При переключении между элементами внутри модального окна фокус «проваливается» за его пределы. Очевидно, что подобного происходить не должно.

[2018-08-28 13:26] ijakparov commented on #2033
Доопределение button.js с заменой pointerclick на click

[code]

[2018-08-30 11:47] ijakparov opened #2104 "Select problem on iPhone"
After pressing on select block at iOS mobile device (iPhone) options scrolling doesn't work, window with options closes permanantly after options scrolling. Bug only at iPhones

**UPD**

1. you should have select with scrolling options window
2. open select and try to csroll it's options
3. if your finger leaves the popup area (at the top or bottom border) while scrolling, the window closes

[2018-09-12 09:23] belozer commented on #2104
Related task #2033

[2018-10-02 18:28] #1661 closed, assigned to nobody

[2018-12-16 20:49] just-boris opened #2109 "Link in the project description is broken"
The link in the project header points to https://bem.info/libs/bem-components/ that shows 404 page. Where is the actual location of the live documentation now?

[2018-12-17 17:41] tadatuta commented on #2109
https://en.bem.info/libraries/classic/bem-components/6.0.0/

Will add redirects, thank you!

[2018-12-17 17:41] #2109 closed, assigned to nobody

[2019-04-28 14:15] rtemision opened #2115 "modal_autoclosable: close on highlighting text"
If you start highlight text and stopping the highlighting outside of elem `content` then in the` pointerclick` `event.target` will be the parent node of the `content` element, and as a result the modal closes.

[Here](https://github.com/rtemred/project-stub/blob/bug/modal_autoclosable/desktop.bundles/modal_autoclosable/modal_autoclosable.bemjson.js) can be repeated: hold down mouse button and with

[2019-04-28 14:28] rtemision commented on #2115
As a temporary fix, I’m comparing `event.target` from `pointerdown` and `pointerup`.

[2019-05-07 11:30] innomerphey opened #2116 "inaccuracy in the documentation"
https://ru.bem.info/libraries/classic/bem-components/6.0.0/touch-pad/icon/#%D0%9F%D0%BE%D0%BB%D0%B5-content-6
Should be `{
    block : 'icon',
        content : {
                html: '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path d="M1 13v2h14v-2h-14zm13-7h-3v-5h-6v5.031l-3-.031 6 6 6-6z"/></svg>'
}`

https://github.com/bem/project-stub/issues/256

[2019-05-07 21:24] #2116 closed, assigned to nobody

[2019-05-07 21:25] tadatuta commented on #2116
@lim-bo Thank you, fixed in https://github.com/bem/bem-components/pull/2117/files

[2020-02-29 17:28] ijakparov opened #2120 "Неожиданное поведение метода setVal при доопределении input"
Если в блоке input из bem-components переопределить метод setVal, то новый метод выполняется сам по себе без остановки при инициализации блока.

[code]

[2020-03-27 05:11] ijakparov opened #2121 "iPad Select bug"
Селект из bem-components не корректно работает на iPad.Если высота списка ограничена и колличество опций активирует скролл, то при попытке скролла выбирается опция по которой был свайп.
Пример в каталоге на сайте https://xn--72-6kcafe0b4cdqer.xn--p1ai/catalog/dvigatel/
Правое меню, выбор марки авто.

[2020-03-27 05:53] veged commented on #2104
related https://github.com/bem/bem-components/issues/1711

[2020-03-27 05:53] veged commented on #2121
related https://github.com/bem/bem-components/issues/1711

[2020-04-07 06:24] ijakparov commented on #2121
Поднял на чистом bem express для воспроизведения бага https://mikhaylovsky.develop72.ru/

deps
[code]

bemhtml
[code]

[2020-05-23 11:43] ijakparov commented on #2121
Можно переопределить метод onInit у блока menu в ibem-js добавив проверку на скрол тачем:
[code]